force-app/main/default/flows/Account_Contact_Relationship.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Dates</name>
        <label>Assign Dates</label>
        <locationX>716</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>Final_Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dates_0</name>
        <label>Assign Dates</label>
        <locationX>184</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>Final_Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final_End_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Account_ID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Checker</name>
        <label>Account Checker</label>
        <locationX>169</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>End_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountIdChecker</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateACR</targetReference>
            </connector>
            <label>Account is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_ID</name>
        <label>Check Account ID</label>
        <locationX>360</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Checker_if_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnterDetailsScreen_0</targetReference>
            </connector>
            <label>Account Checker if NULL</label>
        </rules>
    </decisions>
    <description>- error handling
- Filtered lookup
- relabeled
- Added Data Source
-29th Jan - Replaced the word Organisation with Affiliations</description>
    <dynamicChoiceSets>
        <name>EmploymentGradePCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Employment_Grade_Level__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmploymentStatusPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Employment_Status__c</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RolePCS</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roles</picklistField>
        <picklistObject>AccountContactRelation</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Account Contact Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contact Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateACR</name>
        <label>CreateACR</label>
        <locationX>458</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Final_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Data_Source__c</field>
            <value>
                <stringValue>Self Nominated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Final_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>AccountContactRelation</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Selected_Accounts</name>
        <label>Get Selected Accounts</label>
        <locationX>371</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Checker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <outputAssignments>
            <assignToReference>AccountIdChecker</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContactId</name>
        <label>GetContactId</label>
        <locationX>47</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EnterDetailsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>458</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CallScriptMessage_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Affiliation Added!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_0</name>
        <label>End</label>
        <locationX>173</locationX>
        <locationY>626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CallScriptMessage_0_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>You have already added this Affiliation.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnterDetailsScreen</name>
        <label>EnterDetailsScreen</label>
        <locationX>189</locationX>
        <locationY>65</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Dates_0</targetReference>
        </connector>
        <fields>
            <name>CallScriptMessage</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Add La Trobe Affiliation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrganisationName</name>
            <extensionName>c:strike_lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Affiliation Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <stringValue>Type__c = &apos;Research Focus Area&apos; OR Type__c = &apos;Research Centre/Institute&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;End Date must be greater than Start Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date} &lt; {!End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(94, 94, 94);&quot;&gt;Note: Click next to save your changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnterDetailsScreen_0</name>
        <label>EnterDetailsScreen</label>
        <locationX>711</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Dates</targetReference>
        </connector>
        <fields>
            <name>CallScriptMessage_0_0_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Add La Trobe Affiliation</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_0_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrganisationName_0</name>
            <extensionName>c:strike_lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Affiliation Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <stringValue>Type__c = &apos;Research Focus Area&apos; OR Type__c = &apos;Research Centre/Institute&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; color: rgb(192, 58, 56);&quot;&gt;Error: Affiliation Name is required&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Start_Date</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>End_Date</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;End Date must be greater than Start Date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date_0} &lt; {!End_Date_0}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Blank3_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Note_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(94, 94, 94);&quot;&gt;Note: Click next to save your changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetContactId</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountIdChecker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_End_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
