force-app/main/default/flows/Add_Assessment_Criteria_on_Training.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>850</locationX>
        <locationY>141</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sfadmins@latrobe.edu.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured while adding assessment criteria to training</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Nothing</name>
        <label>Assign Nothing</label>
        <locationX>610</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>SkillAssessmentCriteria</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>ConsolidatedAssessmentCriteria</name>
        <dataType>String</dataType>
        <expression>{!$Record.Training__r.L_TC_Criteria_to_demonstrate_Competence__c}+ &quot; &quot; +{!SkillAssessmentCriteria}</expression>
    </formulas>
    <interviewLabel>Add Assessment Criteria on Training {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Assessment Criteria on Training</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Skill_Assessment_Criteria</name>
        <label>Get Skill Assessment Criteria</label>
        <locationX>470</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Training_Assessment_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Skill__c</elementReference>
            </value>
        </filters>
        <object>Skill__c</object>
        <outputAssignments>
            <assignToReference>SkillAssessmentCriteria</assignToReference>
            <field>L_TC_Criteria_to_demonstrate_Competence__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Training_Assessment_Criteria</name>
        <label>Update Training Assessment Criteria</label>
        <locationX>609</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>Assign_Nothing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>L_TC_Criteria_to_demonstrate_Competence__c</field>
            <value>
                <elementReference>ConsolidatedAssessmentCriteria</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Skill_Assessment_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skill__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TrainingSkills__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SkillAssessmentCriteria</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillsHolder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill__c</objectType>
    </variables>
</Flow>
