force-app/main/default/flows/Add_Prerequisite_Skills_to_Training.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email_on_PreSkills_Addition</name>
        <label>Send Error Email on PreSkills Addition</label>
        <locationX>441</locationX>
        <locationY>338</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>m.roy@latrobe.edu.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured while adding Prerequisite Skills for the training.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Nothing</name>
        <label>Assign Nothing</label>
        <locationX>977</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>PreSkillCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Skills_Counter</name>
        <label>Assign Skills Counter</label>
        <locationX>607</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>PreSkillCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PreSkillsHolder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_or_More_Skills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>One_or_More_Skills</name>
        <label>One or More Skills?</label>
        <locationX>735</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Assign_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPreSkill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreSkillCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Skill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Add Prerequisite Skills to Training when a skill is added</description>
    <interviewLabel>Add Prerequisite Skills to Training {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Prerequisite Skills to Training</label>
    <loops>
        <name>Next_Skill</name>
        <label>Next Skill</label>
        <locationX>740</locationX>
        <locationY>336</locationY>
        <collectionReference>PreSkillsHolder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_PreSkills_For_Training</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Nothing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PreSkills_For_Training</name>
        <label>Create PreSkills For Training</label>
        <locationX>612</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Next_Skill</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Error_Email_on_PreSkills_Addition</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Prerequisite_Skill__c</field>
            <value>
                <elementReference>Next_Skill.L_TC_PreSkill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training__c</field>
            <value>
                <elementReference>$Record.Training__c</elementReference>
            </value>
        </inputAssignments>
        <object>TrainingPreSkills__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_related_preskills</name>
        <label>Get related preskills</label>
        <locationX>452</locationX>
        <locationY>140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Skills_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Skill__c</elementReference>
            </value>
        </filters>
        <object>PreSkills__c</object>
        <outputReference>PreSkillsHolder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>L_TC_PreSkill__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>31</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_related_preskills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Training__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TrainingSkills__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PreSkillCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PreSkillsHolder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PreSkills__c</objectType>
    </variables>
</Flow>
