force-app/main/default/flows/Apex_Sharing_Contract_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Contact_Checker</name>
        <label>Contact Checker</label>
        <locationX>77</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Contract_with_Approver1</targetReference>
            </connector>
            <label>Contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Checker_0</name>
        <label>Contact Checker</label>
        <locationX>705</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_not_null2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_Contract_with_Approver2_0</targetReference>
            </connector>
            <label>Contact is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>373</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Internal_User</targetReference>
            </connector>
            <label>First Approver</label>
        </rules>
        <rules>
            <name>Second_Approver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Second Approver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Internal_User_0</targetReference>
            </connector>
            <label>Second Approver</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Both</stringValue>
                </rightValue>
            </conditions>
            <label>Both</label>
        </rules>
    </decisions>
    <interviewLabel>Apex Sharing: Contract Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apex Sharing: Contract Approvers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Contract_with_Approver1</name>
        <label>Share Contract with Approver 1</label>
        <locationX>85</locationX>
        <locationY>538</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>First_Approver__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>FirstApprover</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_Contract_with_Approver2_0</name>
        <label>Share Contract with Approver 2</label>
        <locationX>713</locationX>
        <locationY>536</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Second_Approver__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SecondApprover</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_Internal_User</name>
        <label>Check if Internal User</label>
        <locationX>83</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Checker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstApprover</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Check_if_Internal_User_0</name>
        <label>Check if Internal User</label>
        <locationX>713</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Checker_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SecondApprover</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Decision</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
