force-app/main/default/flows/Approval_Process_Display_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Comments</name>
        <label>Assign Comments</label>
        <locationX>988</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>Comments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!UserFullName}[{!CurrentStep.CreatedDate}]: {!CurrentStep.Comments} &lt;br&gt;&lt;br&gt; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Find_User_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_current_record_is_an_approval_process_record</name>
        <label>Check if the current record is an approval process record</label>
        <locationX>137</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Process_is_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectIdFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Instance_Work_Item</targetReference>
            </connector>
            <label>Approval Process is TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hide_Comments_through_settings</name>
        <label>Hide Comments through settings</label>
        <locationX>143</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Get_Process_Instance_Node</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comments_hidden_on_object_for_researchers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.I_RS_Is_Researcher_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Object_Metadata.I_RS_Hide_Appr_Comments_for_Researchers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Metadata_Found</name>
        <label>Object Metadata Found</label>
        <locationX>256</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Get_Process_Instance_Node</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Object_Metadata_Found_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hide_Comments_through_settings</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Instance_Id_is_not_null</name>
        <label>Process Instance Id is not null</label>
        <locationX>264</locationX>
        <locationY>375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Process_Instance_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessInstanceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Instance</targetReference>
            </connector>
            <label>Process Instance is not null</label>
        </rules>
    </decisions>
    <description>- displays the submitter&apos;s comments on community
- Changed the display of the collection
- Display Comments
- Checks the current record id and determines if its an approval process record
-filters out blank comments</description>
    <formulas>
        <name>ObjectIdFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},2)</expression>
    </formulas>
    <formulas>
        <description>Used to check configuration settings for this object, i.e. hiding comments when dealing with certain specific objects</description>
        <name>record_Id_1st_3_chars</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Process_Instance.TargetObjectId}, 3)</expression>
    </formulas>
    <interviewLabel>Approval Process: Display Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Process: Display Comments</label>
    <loops>
        <name>Loop_Find_User_Name</name>
        <label>Loop Find User Name</label>
        <locationX>785</locationX>
        <locationY>525</locationY>
        <assignNextValueToReference>CurrentStep</assignNextValueToReference>
        <collectionReference>ProcessStepsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get additional object-specific settings</description>
        <name>Get_Object_Metadata</name>
        <label>Get Object Metadata</label>
        <locationX>510</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Object_Metadata_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_First_3_Characters_on_Record_Ids__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_Id_1st_3_chars</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Object_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>528</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessInstanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Node</name>
        <label>Get Process Instance Node</label>
        <locationX>478</locationX>
        <locationY>711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Process_Instance_Node_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceStep</object>
        <outputAssignments>
            <assignToReference>ProcessInstanceId</assignToReference>
            <field>ProcessInstanceId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Node_0</name>
        <label>Get Process Instance Node</label>
        <locationX>660</locationX>
        <locationY>657</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Find_User_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comments</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessInstanceId</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceStep</object>
        <outputReference>ProcessStepsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>StepStatus</queriedFields>
        <queriedFields>ActorId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Work_Item</name>
        <label>Get Process Instance Work Item</label>
        <locationX>328</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Instance_Id_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputAssignments>
            <assignToReference>ProcessInstanceId</assignToReference>
            <field>ProcessInstanceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>787</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentStep.ActorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Screen_0</name>
        <label>Screen</label>
        <locationX>993</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Comments_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(94, 94, 94); font-family: sans-serif;&quot;&gt;Approval Process Comments&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(94, 94, 94); font-size: 12px;&quot;&gt;{!Comments}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_0_0</name>
        <label>Screen</label>
        <locationX>148</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_the_current_record_is_an_approval_process_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>CurrentUserId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessInstanceNodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>ProcessStepFinalCollecltion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>ProcessStepsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
