force-app/main/default/flows/Approval_Process_Approver_s_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Agreement_to_List</name>
        <label>Add Agreement to List</label>
        <locationX>2536</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>AgreementCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Pending_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PP_to_List</name>
        <label>Add PP to List</label>
        <locationX>2140</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>PPCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PPSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Pending_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Pending_Items</name>
        <label>Count Pending Items</label>
        <locationX>2470</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_1</name>
        <label>Counter 1</label>
        <locationX>1073</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Pending_Items_Checker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Counter</name>
        <label>Reset Counter</label>
        <locationX>1920</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if Project Proposal Id is NULL</description>
        <name>Check_PP_Id</name>
        <label>Check PP Id</label>
        <locationX>2767</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Loop_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Object_Metadata.I_RS_First_3_Characters_on_Record_Ids__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Object_Type_Decision</targetReference>
            </connector>
            <label>Reference is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Pending_Items</name>
        <label>Checking Pending Items</label>
        <locationX>985</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Reset_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Items_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_0</targetReference>
            </connector>
            <label>Pending Items is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Object_Type_Decision</name>
        <label>Object Type</label>
        <locationX>2470</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Object_Type_Decision_Project_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project_Proposal__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProjectProposalSingle</targetReference>
            </connector>
            <label>Project Proposal</label>
        </rules>
        <rules>
            <name>Object_Type_Decision_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgreementApprovalRequestIDUpdate</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>TheameAlignmentFieldCheck</name>
        <label>TheameAlignmentFieldCheck</label>
        <locationX>2140</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Approval_Request_Id_Update_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NullCheckTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProjectProposalSingle.I_RS_Theme__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Request_Id_Update_with_Null</targetReference>
            </connector>
            <label>NullCheckTrue</label>
        </rules>
    </decisions>
    <description>Embed on a User detail page to display Approval Submissions the User needs to review. Provide the API of the objects you wish to display items for. You may embed this same flow multiple times on a page with different objects.</description>
    <formulas>
        <name>BypassValidation</name>
        <dataType>Boolean</dataType>
        <expression>IF((!{!Get_Agreement.Toggle__c})= FALSE,TRUE,FALSE) || IF((!{!Get_Agreement.Toggle__c})= TRUE,FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>ObjectFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!TargetObjectId},3)</expression>
    </formulas>
    <formulas>
        <name>VAlidationBypassProject</name>
        <dataType>Boolean</dataType>
        <expression>IF((!{!GetProjectProposalSingle.Toggle__c})= FALSE,TRUE,FALSE) || IF((!{!GetProjectProposalSingle.Toggle__c})= TRUE,FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>Approval Process: Approver&apos;s Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Process: Approver&apos;s Queue</label>
    <loops>
        <description>Initially created to count if the collection is null or not</description>
        <name>Count_Pending_Items_Checker</name>
        <label>Count Pending Items Checker</label>
        <locationX>985</locationX>
        <locationY>518</locationY>
        <assignNextValueToReference>PendingItemSingle</assignNextValueToReference>
        <collectionReference>PendingItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counter_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Pending_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collection</name>
        <label>Loop Collection</label>
        <locationX>1920</locationX>
        <locationY>1094</locationY>
        <assignNextValueToReference>PendingItemSingle</assignNextValueToReference>
        <collectionReference>PendingItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetProcessInstanceIDDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Agreement</name>
        <label>Get Agreement</label>
        <locationX>2536</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Agreement_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get metadata, via custom setting, for the specific object we are pulling records from.</description>
        <name>Get_Object_Metadata</name>
        <label>Get Object Metadata</label>
        <locationX>985</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Object_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Object_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Requests</name>
        <label>Get Pending Requests</label>
        <locationX>985</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Pending_Items_Checker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceWorkitem</object>
        <outputReference>PendingItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessInstanceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal</name>
        <label>Get Project Proposal</label>
        <locationX>2140</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_PP_to_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetObjectId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputReference>PPSingle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>I_RS_Lead_Chief_Investigator_Name__c</queriedFields>
        <queriedFields>ApprovalRequeslinkURL__c</queriedFields>
        <queriedFields>ApprovalRequeslink__c</queriedFields>
        <queriedFields>Approval_Request_ID__c</queriedFields>
        <queriedFields>Approval_Request_URL__c</queriedFields>
        <queriedFields>I_RS_Theme__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProcessInstanceIDDetails</name>
        <label>GetProcessInstanceIDDetails</label>
        <locationX>2767</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PP_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PendingItemSingle.ProcessInstanceId</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputAssignments>
            <assignToReference>TargetObjectId</assignToReference>
            <field>TargetObjectId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProjectProposalSingle</name>
        <label>GetProjectProposalSingle</label>
        <locationX>2140</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TheameAlignmentFieldCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Proposal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the user&apos;s first name</description>
        <name>GetUserName</name>
        <label>GetUserName</label>
        <locationX>985</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>AgreementApprovalRequestIDUpdate</name>
        <label>AgreementApprovalRequestIDUpdate</label>
        <locationX>2536</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Get_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Request_ID__c</field>
            <value>
                <elementReference>PendingItemSingle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <elementReference>BypassValidation</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Approval_Request_Id_Update_0_0</name>
        <label>Approval Request Id Update</label>
        <locationX>2272</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_Project_Proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Request_ID__c</field>
            <value>
                <elementReference>PendingItemSingle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Theme__c</field>
            <value>
                <elementReference>GetProjectProposalSingle.I_RS_Theme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <elementReference>VAlidationBypassProject</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Approval_Request_Id_Update_with_Null</name>
        <label>Approval Request Id Update with Null</label>
        <locationX>2008</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Get_Project_Proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TargetObjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Request_ID__c</field>
            <value>
                <elementReference>PendingItemSingle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Theme__c</field>
            <value>
                <stringValue>No theme alignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <elementReference>VAlidationBypassProject</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>1920</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Number of {!Get_Object_Metadata.I_RS_Object_Label_Singular__c} Requests in {!UserFirstName}&apos;s Queue: {!Counter}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayTable_PPs</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard6</name>
                <value>
                    <elementReference>PPCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Project Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>I_RS_Lead_Chief_Investigator_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Lead Chief Investigator Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Approval_Request_URL__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Approval Request Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Object_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Project_Proposal__c</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTable_Agreements</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard7</name>
                <value>
                    <elementReference>AgreementCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Agreement Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Approval Request Link</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Approval_Request_URL__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Object_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Contract__c</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_0</name>
        <label>Display</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Number of Requests in {!UserFirstName}&apos;s Queue: 0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>859</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Test</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;html&gt;
&lt;table &gt;
  &lt;tr&gt;
    &lt;th &gt;Project Title&lt;/th&gt;
    &lt;th&gt;Lead Chief Investigator&lt;/th&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;January&lt;/td&gt;
    &lt;td&gt;{!PPSingle.I_RS_Lead_Chief_Investigator_Name__c}&lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
    &lt;td&gt;February&lt;/td&gt;
    &lt;td&gt;$80&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;

{!PPCollection}

&lt;/body&gt;
&lt;/html&gt;</text>
    </textTemplates>
    <variables>
        <name>AgreementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>The type of object we are querying data for. Current supported types are Project Proposal and Contract</description>
        <name>Object_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PendingItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>PendingItemSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>PPCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>PPSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
