force-app/main/default/flows/Auto_Cancellation_Email_for_Training.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Cancellation_Email_Alert</name>
        <label>Auto Cancellation Email Alert</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LoopAttendeeCollection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TrainingCancellation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipientemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>LARTFTrainingandInductions@latrobe.edu.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Training Cancellation Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignTheSingleVar</name>
        <label>AssignTheSingleVar</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SingleVariableTraningAttendee.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAttendeeCollection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVariableTraningAttendee.L_TC_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAttendeeCollection.L_TC_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVariableTraningAttendee.L_TC_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAttendeeCollection.L_TC_Training__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Cancellation_Email_Alert</targetReference>
        </connector>
    </assignments>
    <description>Auto Cancellation Email alert upon the  Training got cancelled</description>
    <formulas>
        <name>Recipientemailaddress</name>
        <dataType>String</dataType>
        <expression>{!SingleVariableTraningAttendee.L_TC_Email__c}</expression>
    </formulas>
    <interviewLabel>Auto Cancellation Email for Training {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Cancellation Email for Training</label>
    <loops>
        <name>LoopAttendeeCollection</name>
        <label>LoopAttendeeCollection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>GetAttendeesDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTheSingleVar</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAttendeesDetails</name>
        <label>GetAttendeesDetails</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAttendeeCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAttendeesDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Training__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TrainingCancellation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;Dear&lt;/span&gt;&lt;em style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;&amp;nbsp;&lt;/em&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;Trainee,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;The training session {!$Record.Name} has been cancelled. Please check TRACR for alternative sessions.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://latrobe--bautest.sandbox.lightning.force.com/lightning/o/Training__c/list?filterName=00B4a000000WHcsEAG&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;Upcoming Training&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: rgb(68, 114, 196);&quot;&gt;LARTF Training&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>SingleVariableTraningAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Attendee__c</objectType>
    </variables>
</Flow>
