force-app/main/default/flows/Auto_Create_Attendance_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Animal_Ethics_Committee_Assignment</name>
        <label>Animal Ethics Committee Assignment</label>
        <locationX>797</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>GroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AEC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Committee_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1164</locationX>
        <locationY>1144</locationY>
        <assignmentItems>
            <assignToReference>SingleAttendanceRecord.I_RS_Committee_Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAttendanceRecord.I_RS_Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAttendanceRecord.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Final_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Final_Collection</name>
        <label>Assign Values to Final Collection</label>
        <locationX>1164</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>AttendanceFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAttendanceRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IBC_Committee_Assignment</name>
        <label>IBC Committee Assignment</label>
        <locationX>992</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>GroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IBC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Committee_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Low_Risk_Committee_Assignment</name>
        <label>Low Risk Committee Assignment</label>
        <locationX>584</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>GroupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low Risk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Committee_Memberships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Checker_Assignment</name>
        <label>Null Checker Assignment</label>
        <locationX>666</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Committee_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Checker_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Checker_Assignment_0</name>
        <label>Null Checker Assignment</label>
        <locationX>295</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Committee_HREC_A</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_All_Committee_Memberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Committee_HREC_A</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Checker_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Checker_Assignment_0_0</name>
        <label>Null Checker Assignment</label>
        <locationX>136</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Committee_HREC_B</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_All_Committee_Memberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Committee_HREC_B</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Checker_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Checker_Assignment_0_0_0</name>
        <label>Null Checker Assignment</label>
        <locationX>0</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Committee_HREC_Exec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_All_Committee_Memberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Committee_HREC_Exec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Checker_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Checker_Assignment_0_0_0_0</name>
        <label>Null Checker Assignment</label>
        <locationX>1329</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Low_Risk_Exec_Committee_Memberships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_All_Committee_Memberships</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Low_Risk_Exec_Committee_Memberships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Null_Checker_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks the Meeting Date Committee field and assigns it to the correct Committee Membership</description>
        <name>Committee_Checker</name>
        <label>Committee Checker</label>
        <locationX>572</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HREC_A_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HREC A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Committee_HREC_A</targetReference>
            </connector>
            <label>HREC A Committee</label>
        </rules>
        <rules>
            <name>HREC_B_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HREC B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Committee_HREC_B</targetReference>
            </connector>
            <label>HREC B Committee</label>
        </rules>
        <rules>
            <name>HREC_Executive_Comittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HREC Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Committee_HREC_Exec</targetReference>
            </connector>
            <label>HREC Executive Comittee</label>
        </rules>
        <rules>
            <name>AEC_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AEC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Ethics_Committee_Assignment</targetReference>
            </connector>
            <label>AEC Committee</label>
        </rules>
        <rules>
            <name>IBC_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IBC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IBC_Committee_Assignment</targetReference>
            </connector>
            <label>IBC Committee</label>
        </rules>
        <rules>
            <name>Low_Risk_Executive_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Risk Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Low_Risk_Exec_Committee_Memberships</targetReference>
            </connector>
            <label>Low Risk Executive Committee</label>
        </rules>
        <rules>
            <name>Low_Risk_Committee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Committee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Low_Risk_Committee_Assignment</targetReference>
            </connector>
            <label>Low Risk Committee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Checker_Decision</name>
        <label>Null Checker Decision</label>
        <locationX>661</locationX>
        <locationY>1158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Records</targetReference>
            </connector>
            <label>Collection is not NULL</label>
        </rules>
    </decisions>
    <description>- Creates Attendance record based on Committee Memberships and Meeting Date Committee
- Refined checking of committee reviewers v.3.0
- Added option for Low Risk Executive members</description>
    <interviewLabel>Auto Create Attendance Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Attendance Records</label>
    <loops>
        <name>Loop_Through_Records</name>
        <label>Loop Through Records</label>
        <locationX>855</locationX>
        <locationY>1150</locationY>
        <collectionReference>Get_All_Committee_Memberships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attendance_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attendance_Records</name>
        <label>Create Attendance Records</label>
        <locationX>858</locationX>
        <locationY>1340</locationY>
        <inputReference>AttendanceFinalCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Committee_HREC_A</name>
        <label>Get All Committee HREC A</label>
        <locationX>294</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Checker_Assignment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Appointment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Conclusion_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Ethics_Review_Committee__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>HREC A</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Membership__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>I_RS_Appointment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Committee_HREC_B</name>
        <label>Get All Committee HREC B</label>
        <locationX>138</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Checker_Assignment_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Appointment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Conclusion_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Ethics_Review_Committee__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HREC B</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Membership__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>I_RS_Appointment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Committee_HREC_Exec</name>
        <label>Get All Committee HREC Exec</label>
        <locationX>1</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Checker_Assignment_0_0_0</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND ((3 AND 4) OR (5 AND 6)))</filterLogic>
        <filters>
            <field>I_RS_Appointment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Conclusion_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Ethics_Review_Committee__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HREC A</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Is_Chair_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Ethics_Review_Committee__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HREC B</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Is_Chair_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Membership__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>I_RS_Appointment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Committee_Memberships</name>
        <label>Get All Committee Memberships</label>
        <locationX>665</locationX>
        <locationY>826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Checker_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Appointment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Conclusion_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Ethics_Review_Committee__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Membership__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>I_RS_Appointment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Low_Risk_Exec_Committee_Memberships</name>
        <label>Get All Low Risk Exec Committee Memberships</label>
        <locationX>1326</locationX>
        <locationY>521</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Checker_Assignment_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Appointment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Conclusion_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Ethics_Review_Committee__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Low Risk</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Is_Chair_Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Committee_Membership__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>I_RS_Appointment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>454</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Committee_Checker</targetReference>
        </connector>
        <object>Meeting_Date__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendanceFinalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GroupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAttendanceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
</Flow>
