force-app/main/default/flows/Budget_Junction_Linkage_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh_Data_on_Screen</name>
        <label>Refresh Data on Screen</label>
        <locationX>1400</locationX>
        <locationY>1804</locationY>
        <actionName>c:QuickRefreshInFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>End2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Org_to_A_Summary</name>
        <label>Add Org to A Summary</label>
        <locationX>1683</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>OrgSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SingleBLI.I_RS_Organisation__c}&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_1_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear1Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Awarded_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_2_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear2Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_3_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear3Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_4_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear4Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_5_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear5Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_6_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear6Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_7_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear7Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganisationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_JL_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Values</name>
        <label>Add Values</label>
        <locationX>1359</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_1_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_2_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_3_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_4_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_5_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_6_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_7_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BLI_is_In_Cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Values_0</name>
        <label>Add Values</label>
        <locationX>2478</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_1_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_2_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_3_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_4_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_5_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_6_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_7_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Values_0_0</name>
        <label>Add Values</label>
        <locationX>2744</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_1_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_2_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_3_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_4_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_5_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_6_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_7_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Values_0_0_0</name>
        <label>Add Values</label>
        <locationX>3086</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_1_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_2_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_3_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_4_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_5_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_6_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_7_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Values_0_0_0_0</name>
        <label>Add Values</label>
        <locationX>753</locationX>
        <locationY>1069</locationY>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_1_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_2_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_3_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_4_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_5_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_6_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.Year_7_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Provided_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1998</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>BLICollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_0</name>
        <label>Assign Values</label>
        <locationX>1855</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ExistingJLs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_is_not_null_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_JL_Collection</name>
        <label>Assign Values to JL Collection</label>
        <locationX>1530</locationX>
        <locationY>1590</locationY>
        <assignmentItems>
            <assignToReference>JunctionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleJunctionLinkage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refresh_Calculations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_JL_Collection_0</name>
        <label>Assign Values to JL Collection</label>
        <locationX>246</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>JunctionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleJunctionLinkage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refresh_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_if_Collection_is_not_null</name>
        <label>Check if Collection is not null</label>
        <locationX>801</locationX>
        <locationY>1942</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CompareJLS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Collection_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LTU_Cash_Internal</name>
        <label>LTU Cash Internal</label>
        <locationX>2394</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>OrgSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SingleBLI.I_RS_Organisation__c} Internal Cash&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_1_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear1Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Awarded_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_2_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear2Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_3_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear3Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_4_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear4Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_5_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear5Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_6_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear6Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_7_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear7Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!OrganisationName} Internal Cash</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Relationship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La Trobe Internal Cash</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_JL_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is La Trobe&apos;s External Cash</description>
        <name>LTU_Cash_Internal_0</name>
        <label>LTU Cash External</label>
        <locationX>2666</locationX>
        <locationY>1294</locationY>
        <assignmentItems>
            <assignToReference>OrgSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SingleBLI.I_RS_Organisation__c} External Cash&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_1_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear1Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Awarded_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_2_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear2Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_3_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear3Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_4_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear4Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_5_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear5Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_6_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear6Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_7_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear7Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!OrganisationName} External Cash</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Relationship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La Trobe External Cash</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_JL_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LTU_In_Kind</name>
        <label>LTU In-Kind</label>
        <locationX>2926</locationX>
        <locationY>1437</locationY>
        <assignmentItems>
            <assignToReference>OrgSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SingleBLI.I_RS_Organisation__c} In-Kind&lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_1_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear1Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Awarded_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_2_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear2Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_3_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear3Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_4_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear4Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_5_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear5Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_6_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear6Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_7_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear7Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!OrganisationName} In-Kind</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Relationship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La Trobe In-kind</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_JL_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This shows the organisation that received the money coming from La Trobe</description>
        <name>Provided_To</name>
        <label>Provided To</label>
        <locationX>540</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_1_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear1Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Awarded_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Organisation_Being_Funded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_2_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear2Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_3_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear3Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_4_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear4Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_5_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear5Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_6_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear6Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Year_7_Suggested_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalYear7Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provided To {!ProvidedTo}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Relationship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Organisation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_JL_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Calculations</name>
        <label>Refresh Calculations</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Calculations_0</name>
        <label>Refresh Calculations</label>
        <locationX>1533</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>TotalCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear1Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear2Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear3Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear4Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear5Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear6Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalYear7Cost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Counter</name>
        <label>Refresh Counter</label>
        <locationX>2368</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Counter_0</name>
        <label>Refresh Counter</label>
        <locationX>1039</locationX>
        <locationY>1942</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Collection_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Funding_Detail_Relationship_Type_to_Funding_Body</name>
        <label>Set Funding Detail Relationship Type to &apos;Funding Body&apos;</label>
        <locationX>1335</locationX>
        <locationY>1272</locationY>
        <assignmentItems>
            <assignToReference>SingleJunctionLinkage.I_RS_Relationship_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funding Body</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BLI_is_In_Cash</name>
        <label>BLI is In Cash</label>
        <locationX>1336</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BLI_is_In_Cash_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBLI2.I_RS_In_Kind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Funding_Detail_Relationship_Type_to_Funding_Body</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Category_Checker</name>
        <label>Category Checker</label>
        <locationX>2702</locationX>
        <locationY>532</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>La_Trobe_Cash_Internal_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_In_Kind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cash External</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>La_Trobe_Cash_Internal</targetReference>
            </connector>
            <label>La Trobe Cash Internal</label>
        </rules>
        <rules>
            <name>Category_is_Cash_External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_In_Kind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>La_Trobe_Cash_External_0</targetReference>
            </connector>
            <label>Category is Cash External</label>
        </rules>
        <rules>
            <name>Category_is_not_Cash_External_and_In_Kind_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cash External</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_In_Kind__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>La_Trobe_Cash_External_0_0</targetReference>
            </connector>
            <label>Category is not Cash External and In-Kind is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Org_if_Duplicate</name>
        <label>Check Org if Duplicate</label>
        <locationX>1880</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Get_All_BLis_with_Same_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Org_Checker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBLI.I_RS_Organisation__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OrgSummary</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_BLIs</targetReference>
            </connector>
            <label>Org Checker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_is_not_null</name>
        <label>Collection is not null</label>
        <locationX>1346</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>BLI_IsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_is_Not_Null_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start</targetReference>
            </connector>
            <label>Collection is Not Null Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_is_not_null_0</name>
        <label>Collection is not null</label>
        <locationX>1997</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Loop_BLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_is_Not_Null_Outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_JL_Collection</targetReference>
            </connector>
            <label>Collection is Not Null Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Collection_null</name>
        <label>Is Collection null?</label>
        <locationX>1033</locationX>
        <locationY>2194</locationY>
        <defaultConnector>
            <targetReference>Get_all_JLs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collections_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteJLs</targetReference>
            </connector>
            <label>Collections is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need this to create 3 records for La Trobe Orgs: Internal Cash, External Cash and In-Kind</description>
        <name>Is_Org_Part_of_La_Trobe</name>
        <label>Is Org Part of La Trobe?</label>
        <locationX>2371</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Part_of_La_Trobe_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartofLaTrobe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Category_Checker</targetReference>
            </connector>
            <label>Part of La Trobe is True</label>
        </rules>
    </decisions>
    <description>- Dec 2 2019: For Orgs on Junction Linkage, if at least one BLI is collab/sub-contractor, then set Relationship Type as Funding Body
- Added deletion
- Name of Junction Linkage record is set based on the org&apos;s name
- Added null checker
- Added fault checker
- Added information for La Trobe Orgs: In-Kind, Cash Internal or Cash External
- Removed the pre-population of the amount suggested
- Deduplication v2
-Updated the screens to display the Funding Details name change.
-Saved as new after testing on 27-Nov</description>
    <formulas>
        <name>TrimOrgName</name>
        <dataType>String</dataType>
        <expression>TRIM({!SingleNewJLs.Name})</expression>
    </formulas>
    <formulas>
        <name>TrimSummary</name>
        <dataType>String</dataType>
        <expression>TRIM({!MyNewOrgSummary})</expression>
    </formulas>
    <interviewLabel>Budget: Junction Linkage Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget: Junction Linkage Sync</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1180</locationX>
        <locationY>1807</locationY>
        <assignNextValueToReference>SingleNewJLs</assignNextValueToReference>
        <collectionReference>NewJLS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_all_JLs_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Refresh_Data_on_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_BLIs</name>
        <label>Loop BLIs</label>
        <locationX>1524</locationX>
        <locationY>511</locationY>
        <assignNextValueToReference>SingleBLI</assignNextValueToReference>
        <collectionReference>BLICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Org_if_Duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_JL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collection_Dedicated_to_an_Org</name>
        <label>Loop Collection Dedicated to an Org</label>
        <locationX>1637</locationX>
        <locationY>953</locationY>
        <assignNextValueToReference>SingleBLI2</assignNextValueToReference>
        <collectionReference>BLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Org_to_A_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collection_Dedicated_to_an_Org_0</name>
        <label>Loop Collection Dedicated to an Org</label>
        <locationX>2646</locationX>
        <locationY>945</locationY>
        <assignNextValueToReference>SingleBLI2</assignNextValueToReference>
        <collectionReference>BLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Values_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LTU_Cash_Internal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collection_Dedicated_to_an_Org_0_0</name>
        <label>Loop Collection Dedicated to an Org</label>
        <locationX>2840</locationX>
        <locationY>949</locationY>
        <assignNextValueToReference>SingleBLI2</assignNextValueToReference>
        <collectionReference>BLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Values_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LTU_Cash_Internal_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collection_Dedicated_to_an_Org_0_0_0</name>
        <label>Loop Collection Dedicated to an Org</label>
        <locationX>3226</locationX>
        <locationY>943</locationY>
        <assignNextValueToReference>SingleBLI2</assignNextValueToReference>
        <collectionReference>BLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Values_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LTU_In_Kind</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collection_Dedicated_to_an_Org_0_0_0_0</name>
        <label>Loop Collection Dedicated to an Org</label>
        <locationX>1178</locationX>
        <locationY>1079</locationY>
        <assignNextValueToReference>SingleBLI2</assignNextValueToReference>
        <collectionReference>BLICollection2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Org_Name_Collabs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_JL_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_JL</name>
        <label>Create JL</label>
        <locationX>1366</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>JunctionCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_JL_0</name>
        <label>Create JL</label>
        <locationX>892</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Get_all_JLs</targetReference>
        </connector>
        <inputReference>JunctionCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_JL_Collection</name>
        <label>Delete JL Collection</label>
        <locationX>2173</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Refresh_Counter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>ExistingJLs</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteJLs</name>
        <label>DeleteJLs</label>
        <locationX>1018</locationX>
        <locationY>2324</locationY>
        <connector>
            <targetReference>Get_all_JLs</targetReference>
        </connector>
        <inputReference>CompareJLS</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_BLis_with_Same_Org</name>
        <label>Get All BLis with Same Org</label>
        <locationX>2041</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <object>Budget_Line_Item__c</object>
        <outputReference>BLICollection2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Year_1_Cost__c</queriedFields>
        <queriedFields>I_RS_Organisation__c</queriedFields>
        <queriedFields>Year_2_Cost__c</queriedFields>
        <queriedFields>Year_3_Cost__c</queriedFields>
        <queriedFields>Year_4_Cost__c</queriedFields>
        <queriedFields>Year_5_Cost__c</queriedFields>
        <queriedFields>Year_6_Cost__c</queriedFields>
        <queriedFields>Year_7_Cost__c</queriedFields>
        <queriedFields>I_RS_Amount__c</queriedFields>
        <queriedFields>I_RS_In_Kind__c</queriedFields>
        <queriedFields>I_RS_Category__c</queriedFields>
        <queriedFields>I_RS_Organisation_Being_Funded__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_JLs</name>
        <label>Get all JLs</label>
        <locationX>1180</locationX>
        <locationY>1661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </filters>
        <object>Junction_Linkage__c</object>
        <outputReference>NewJLS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_JLs_0</name>
        <label>Get all JLs</label>
        <locationX>1181</locationX>
        <locationY>1942</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refresh_Counter_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SingleNewJLs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleNewJLs.Name</elementReference>
            </value>
        </filters>
        <object>Junction_Linkage__c</object>
        <outputReference>CompareJLS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Fetches all related Junction Linkage records of the linked Project Proposal wherein Relationship Type &lt;&gt; Administering Organisation</description>
        <name>Get_All_JLS_with_the_main_funding_body</name>
        <label>Get All JLS with the main funding body</label>
        <locationX>1712</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Relationship_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Administering Organisation</stringValue>
            </value>
        </filters>
        <object>Junction_Linkage__c</object>
        <outputReference>ExistingJLs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_BLIs</name>
        <label>Get BLIs</label>
        <locationX>1733</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Budget_Line_Item__c</object>
        <outputReference>BLICollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Organisation__c</queriedFields>
        <queriedFields>I_RS_In_Kind__c</queriedFields>
        <queriedFields>I_RS_Category__c</queriedFields>
        <queriedFields>I_RS_Organisation_Being_Funded__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Details</name>
        <label>Get Budget Details</label>
        <locationX>1467</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Proposal_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Budget__c</object>
        <outputAssignments>
            <assignToReference>Budget_Funding_Body_Id</assignToReference>
            <field>I_RS_Funding_Body__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectProposalId</assignToReference>
            <field>I_RS_Project_Proposal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BudgetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Name</name>
        <label>Get Org Name</label>
        <locationX>2248</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Org_Part_of_La_Trobe</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PartofLaTrobe</assignToReference>
            <field>I_RS_Part_of_La_Trobe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrganisationName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Name_0</name>
        <label>Get Org Name</label>
        <locationX>2640</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PartofLaTrobe</assignToReference>
            <field>I_RS_Part_of_La_Trobe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrganisationName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Name_0_0</name>
        <label>Get Org Name</label>
        <locationX>2838</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PartofLaTrobe</assignToReference>
            <field>I_RS_Part_of_La_Trobe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrganisationName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Name_0_0_0</name>
        <label>Get Org Name</label>
        <locationX>3211</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PartofLaTrobe</assignToReference>
            <field>I_RS_Part_of_La_Trobe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrganisationName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Name_Collabs</name>
        <label>Get Org Name</label>
        <locationX>1008</locationX>
        <locationY>1064</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Values_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI2.I_RS_Organisation_Being_Funded__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ProvidedTo</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal_Details</name>
        <label>Get Project Proposal Details</label>
        <locationX>1598</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputReference>ProjectProposalDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>I_RS_Lead_Chief_Investigator_Name__c</queriedFields>
        <queriedFields>I_RS_Account_Organisation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1178</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_Trobe_Sub_Collabs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_RS_Collaborator_SubContractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget_Line_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CollabRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>La_Trobe_Cash_External_0</name>
        <label>La Trobe Cash External</label>
        <locationX>2838</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Name_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash External</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_In_Kind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Part_of_La_Trobe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget_Line_Item__c</object>
        <outputReference>BLICollection2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Year_1_Cost__c</queriedFields>
        <queriedFields>I_RS_Organisation__c</queriedFields>
        <queriedFields>Year_2_Cost__c</queriedFields>
        <queriedFields>Year_3_Cost__c</queriedFields>
        <queriedFields>Year_4_Cost__c</queriedFields>
        <queriedFields>Year_5_Cost__c</queriedFields>
        <queriedFields>Year_6_Cost__c</queriedFields>
        <queriedFields>Year_7_Cost__c</queriedFields>
        <queriedFields>I_RS_Amount__c</queriedFields>
        <queriedFields>I_RS_In_Kind__c</queriedFields>
        <queriedFields>I_RS_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>La_Trobe_Cash_External_0_0</name>
        <label>La Trobe Cash External</label>
        <locationX>3198</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Name_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cash External</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_In_Kind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Part_of_La_Trobe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget_Line_Item__c</object>
        <outputReference>BLICollection2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Year_1_Cost__c</queriedFields>
        <queriedFields>I_RS_Organisation__c</queriedFields>
        <queriedFields>Year_2_Cost__c</queriedFields>
        <queriedFields>Year_3_Cost__c</queriedFields>
        <queriedFields>Year_4_Cost__c</queriedFields>
        <queriedFields>Year_5_Cost__c</queriedFields>
        <queriedFields>Year_6_Cost__c</queriedFields>
        <queriedFields>Year_7_Cost__c</queriedFields>
        <queriedFields>I_RS_Amount__c</queriedFields>
        <queriedFields>I_RS_In_Kind__c</queriedFields>
        <queriedFields>I_RS_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>La_Trobe_Cash_Internal</name>
        <label>La Trobe Cash Internal</label>
        <locationX>2604</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Name_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cash External</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_In_Kind__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleBLI.I_RS_Organisation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Part_of_La_Trobe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget_Line_Item__c</object>
        <outputReference>BLICollection2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Year_1_Cost__c</queriedFields>
        <queriedFields>I_RS_Organisation__c</queriedFields>
        <queriedFields>Year_2_Cost__c</queriedFields>
        <queriedFields>Year_3_Cost__c</queriedFields>
        <queriedFields>Year_4_Cost__c</queriedFields>
        <queriedFields>Year_5_Cost__c</queriedFields>
        <queriedFields>Year_6_Cost__c</queriedFields>
        <queriedFields>Year_7_Cost__c</queriedFields>
        <queriedFields>I_RS_Amount__c</queriedFields>
        <queriedFields>I_RS_In_Kind__c</queriedFields>
        <queriedFields>I_RS_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>La_Trobe_Sub_Collabs</name>
        <label>La Trobe Sub/Collabs</label>
        <locationX>1178</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collection_Dedicated_to_an_Org_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Budget__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollabRecordTypeId</elementReference>
            </value>
        </filters>
        <object>Budget_Line_Item__c</object>
        <outputReference>BLICollection2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Year_1_Cost__c</queriedFields>
        <queriedFields>I_RS_Organisation_Being_Funded__c</queriedFields>
        <queriedFields>Year_2_Cost__c</queriedFields>
        <queriedFields>Year_3_Cost__c</queriedFields>
        <queriedFields>Year_4_Cost__c</queriedFields>
        <queriedFields>Year_5_Cost__c</queriedFields>
        <queriedFields>Year_6_Cost__c</queriedFields>
        <queriedFields>Year_7_Cost__c</queriedFields>
        <queriedFields>I_RS_Amount__c</queriedFields>
        <queriedFields>I_RS_In_Kind__c</queriedFields>
        <queriedFields>I_RS_Category__c</queriedFields>
    </recordLookups>
    <screens>
        <name>BLI_IsNull</name>
        <label>BLI_IsNull</label>
        <locationX>1350</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NothingToSync</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Oops...please add Budget Line Items to your Budget before performing this step.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End2</name>
        <label>End2</label>
        <locationX>1560</locationX>
        <locationY>1798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>End</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Sync successful!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>2273</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NothingToSync_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Oops...we hit a snag!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>1610</locationX>
        <locationY>307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_JLS_with_the_main_funding_body</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Note: This process will copy Budget Line Items to linked Project Proposal as Funding Details records. Any existing Funding Detail records will be replaced once the process is successful.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(62, 62, 60);&quot;&gt;Project/Project Proposal Title&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!ProjectProposalDetails.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Lead Chief Investigator&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!ProjectProposalDetails.I_RS_Lead_Chief_Investigator_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_would_like_to_proceed</name>
            <dataType>Boolean</dataType>
            <fieldText>I would like to proceed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Tick this box to proceed.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_would_like_to_proceed} = True</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Budget_Details</startElementReference>
    <status>Active</status>
    <variables>
        <description>Returns true if list of BLIs passed in has at least one Collaborator/Sub-Contractor item</description>
        <name>BLI_List_has_collab_sub_contractor_items</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BLICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line_Item__c</objectType>
    </variables>
    <variables>
        <description>Filtered by one organisation</description>
        <name>BLICollection2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>BLIRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Budget_Funding_Body_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BudgetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollabRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompareJLS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DeleteJLs2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>ExistingJLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>ExternalJunctionLinkage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>JunctionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>MyNewOrgSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewJLS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>OrganisationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartofLaTrobe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectProposalDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>ProjectProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvidedTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Budget Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleBLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SingleBLI2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>SingleCompareJLs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>SingleJunctionLinkage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>SingleNewJLs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>TotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear1Cost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear2Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear3Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear4Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear5Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear6Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalYear7Cost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
