force-app/main/default/flows/Budget_Default_Overheads_and_Profits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>- Added actual default rate type
- Update non-salary rates</description>
    <interviewLabel>Budget: Default Overheads and Profits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget: Default Overheads and Profits</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>165</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Budget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPOrganisation</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>OrgMaxAllowedOnCost</assignToReference>
            <field>I_RS_Maximum_Allowed_On_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Rate_Type</name>
        <label>Get Default Rate Type</label>
        <locationX>178</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_La_Trobe_Default_Value_Oncosts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Rate_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DefaultRateType</elementReference>
            </value>
        </filters>
        <object>Overheads_and_Profit_Default_Values__c</object>
        <outputAssignments>
            <assignToReference>NonSalaryOverhead</assignToReference>
            <field>I_RS_Non_Salary_Overhead__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Overhead</assignToReference>
            <field>I_RS_Overhead__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Profit</assignToReference>
            <field>I_RS_Profit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_La_Trobe_Default_Value_Oncosts</name>
        <label>Get La Trobe Default Value Oncosts</label>
        <locationX>172</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Proposal_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>La Trobe University</stringValue>
            </value>
        </filters>
        <object>On_Cost_Default_Values__c</object>
        <outputAssignments>
            <assignToReference>LaTrobeOnCost</assignToReference>
            <field>I_RS_Maximum_Allowed_On_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PP_Details</name>
        <label>Get PP Details</label>
        <locationX>172</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>PPOrganisation</assignToReference>
            <field>I_RS_Account_Organisation__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal_ID</name>
        <label>Get Project Proposal ID</label>
        <locationX>171</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PP_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Budget__c</object>
        <outputAssignments>
            <assignToReference>ProjectProposalId</assignToReference>
            <field>I_RS_Project_Proposal__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget</name>
        <label>Update Budget</label>
        <locationX>400</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Non_salary_Overhead__c</field>
            <value>
                <elementReference>NonSalaryOverhead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Actual_Non_Salary_Overhead__c</field>
            <value>
                <elementReference>NonSalaryOverhead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Actual_Overhead__c</field>
            <value>
                <elementReference>Overhead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Actual_Profit__c</field>
            <value>
                <elementReference>Profit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Actual_Rate_Type__c</field>
            <value>
                <elementReference>DefaultRateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_La_Trobe_On_Costs__c</field>
            <value>
                <elementReference>LaTrobeOnCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Maximum_Allowed_On_Cost__c</field>
            <value>
                <elementReference>OrgMaxAllowedOnCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Overhead__c</field>
            <value>
                <elementReference>Overhead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Profit__c</field>
            <value>
                <elementReference>Profit</elementReference>
            </value>
        </inputAssignments>
        <object>Budget__c</object>
    </recordUpdates>
    <startElementReference>Get_Default_Rate_Type</startElementReference>
    <status>Active</status>
    <variables>
        <name>DefaultRateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LaTrobeOnCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NonSalaryOverhead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OrgMaxAllowedOnCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Overhead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PPOrganisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Profit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
