force-app/main/default/flows/Budget_Budget_Line_Item_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_BLI_to_Insert_List</name>
        <label>Add BLI to Insert List</label>
        <locationX>1287</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>BLIsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BLIToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_La_Trobe_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Rate_Type</name>
        <label>Assign Default Rate Type</label>
        <locationX>1100</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>DefaultRateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleRateType.I_RS_Default_Rate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Rate_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_External_BLI</name>
        <label>Assign Values for External BLI</label>
        <locationX>1278</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!TeamMember.Name} - {!TeamMember.I_RS_Role__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-La Trobe researcher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.I_RS_Project_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalaryRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BLI_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_La_Trobe_BLI</name>
        <label>Assign Values for La Trobe BLI</label>
        <locationX>1555</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!TeamMember.I_RS_Role__c} - {!ContactSalaryGrade}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current La Trobe staff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamMember.I_RS_Project_Team_Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalaryRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLIToInsert.I_RS_Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BLI_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counter_Rate_Type_Assignment</name>
        <label>Counter Rate Type Assignment</label>
        <locationX>339</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CounterRateType</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RateTypeCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Counter_Rate_Type_is_Greater_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count_of_BLIs_to_Insert</name>
        <label>Get Count of BLIs to Insert</label>
        <locationX>549</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>Count_of_BLIs_to_Insert</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>BLIsToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_BLIs_to_Insert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_BLIs_to_Insert</name>
        <label>Any BLIs to Insert</label>
        <locationX>805</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Get_Project_Proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_BLIs_to_Insert_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_of_BLIs_to_Insert</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_BLIs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Collection null checker</description>
        <name>Check_if_Counter_Rate_Type_is_Greater_than_0</name>
        <label>Check if Counter Rate Type is Greater than 0</label>
        <locationX>515</locationX>
        <locationY>1198</locationY>
        <defaultConnector>
            <targetReference>Update_Budget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rate_type_collection_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterRateType</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Rate_Types</targetReference>
            </connector>
            <label>Rate type collection is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IP_Position</name>
        <label>Check IP Position</label>
        <locationX>811</locationX>
        <locationY>1459</locationY>
        <defaultConnector>
            <targetReference>Loop_Rate_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IP_Position_Matches</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>SingleRateType.I_RS_IP_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SingleProjectProposal.I_RS_IP_Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleRateType.I_RS_IP_Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Any</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Rate_Type</targetReference>
            </connector>
            <label>IP Position Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_La_Trobe_Or_External_Team_Member</name>
        <label>Is La Trobe Or External Team Member</label>
        <locationX>1094</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_La_Trobe_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMember.I_RS_Part_Of_La_Trobe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salary_Grade_On_Contact</targetReference>
            </connector>
            <label>La Trobe</label>
        </rules>
        <rules>
            <name>Is_External_Team_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMember.I_RS_Part_Of_La_Trobe__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_for_External_BLI</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <decisions>
        <name>LTU_Team_Members_Exist</name>
        <label>LTU Team Members Exist?</label>
        <locationX>85</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Get_Project_Proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidProjectTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Line_Item_Record_Type_Salary</targetReference>
            </connector>
            <label>Collection is not NULL</label>
        </rules>
    </decisions>
    <description>Replaced original User &amp; Contact lookups with a single Contact</description>
    <interviewLabel>Budget: Budget Line Item Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget: Budget Line Item Automation</label>
    <loops>
        <name>Loop_La_Trobe_Members</name>
        <label>Loop La Trobe Team Members</label>
        <locationX>699</locationX>
        <locationY>430</locationY>
        <assignNextValueToReference>TeamMember</assignNextValueToReference>
        <collectionReference>ValidProjectTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_La_Trobe_Or_External_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Count_of_BLIs_to_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Rate_Types</name>
        <label>Loop Rate Types</label>
        <locationX>823</locationX>
        <locationY>1251</locationY>
        <assignNextValueToReference>SingleRateType</assignNextValueToReference>
        <collectionReference>RateTypeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_IP_Position</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Budget</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_BLIs</name>
        <label>Insert BLIs</label>
        <locationX>1155</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Get_Project_Proposal</targetReference>
        </connector>
        <inputReference>BLIsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Budget_Line_Item_Record_Type_Salary</name>
        <label>Get BLI Item Record Type - Salary</label>
        <locationX>525</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_La_Trobe_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_RS_Salary</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget_Line_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>SalaryRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Body_OnCost</name>
        <label>Get Funding Body OnCost</label>
        <locationX>375</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_La_Trobe_On_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FundingBody</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>FundingBodyOnCost</assignToReference>
            <field>I_RS_Maximum_Allowed_On_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_La_Trobe_On_Cost</name>
        <label>Get La Trobe On Cost</label>
        <locationX>498</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_La_Trobe_Project_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>La Trobe University</stringValue>
            </value>
        </filters>
        <object>On_Cost_Default_Values__c</object>
        <outputAssignments>
            <assignToReference>LTUOncost</assignToReference>
            <field>I_RS_Maximum_Allowed_On_Cost__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_La_Trobe_Project_Team_Members</name>
        <label>Get La Trobe Project Team Members</label>
        <locationX>603</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LTU_Team_Members_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Team_Member__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Administrator</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Student or Graduate Researcher Supervisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>ValidProjectTeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Role__c</queriedFields>
        <queriedFields>I_RS_Project_Team_Member__c</queriedFields>
        <queriedFields>I_RS_Part_Of_La_Trobe__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal</name>
        <label>Get Project Proposal</label>
        <locationX>51</locationX>
        <locationY>979</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rate_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputReference>SingleProjectProposal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Type__c</queriedFields>
        <queriedFields>I_RS_IP_Position__c</queriedFields>
        <queriedFields>I_RS_Project_Sub_type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal_Details</name>
        <label>Get Project Proposal Details</label>
        <locationX>242</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Body_OnCost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>FundingBody</assignToReference>
            <field>I_RS_Account_Organisation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Project_Proposal_LCI</assignToReference>
            <field>I_RS_Lead_Chief_Investigator__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Types</name>
        <label>Get Rate Types</label>
        <locationX>132</locationX>
        <locationY>1167</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Counter_Rate_Type_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SingleProjectProposal.I_RS_Project_Sub_type__c</elementReference>
            </value>
        </filters>
        <object>Overheads_and_Profit_Rate_Types__c</object>
        <outputReference>RateTypeCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Type__c</queriedFields>
        <queriedFields>I_RS_IP_Position__c</queriedFields>
        <queriedFields>I_RS_Publishing_Rights__c</queriedFields>
        <queriedFields>I_RS_Default_Rate_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Salary_Grade_On_Contact</name>
        <label>Get Salary Grade On Contact</label>
        <locationX>1591</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salary_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamMember.I_RS_Project_Team_Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the matching Salary table record by HR Identifier.</description>
        <name>Get_Salary_Table</name>
        <label>Get Salary Table</label>
        <locationX>1755</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_for_La_Trobe_BLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_HR_System_Group_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Salary_Grade_On_Contact.I_RS_Salary_Grade__c</elementReference>
            </value>
        </filters>
        <object>Salary_Table__c</object>
        <outputAssignments>
            <assignToReference>ContactSalaryGrade</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget</name>
        <label>Update Budget</label>
        <locationX>1281</locationX>
        <locationY>1149</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Rate_Type__c</field>
            <value>
                <elementReference>DefaultRateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_La_Trobe_On_Costs__c</field>
            <value>
                <elementReference>LTUOncost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>Project_Proposal_LCI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Maximum_Allowed_On_Cost__c</field>
            <value>
                <elementReference>FundingBodyOnCost</elementReference>
            </value>
        </inputAssignments>
        <object>Budget__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Proposal_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BLIsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>BLIToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ContactAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactSalaryGrade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count_of_BLIs_to_Insert</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CounterRateType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DefaultRateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExternalResearcherRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstNameContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingBodyOnCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LastNameContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LTUOncost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Project_Proposal_LCI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectProposal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RateTypeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Overheads_and_Profit_Rate_Types__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalaryRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleProjectProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>SingleRateType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Overheads_and_Profit_Rate_Types__c</objectType>
    </variables>
    <variables>
        <name>TeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>UserContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidProjectTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
</Flow>
