force-app/main/default/flows/Cancel_Training_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Record_exists</name>
        <label>Record exists?</label>
        <locationX>616</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>No_Record_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingAttendeeId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Confirmation_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel Training Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel Training Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Attendee_Record</name>
        <label>Delete Attendee Record</label>
        <locationX>1102</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Final_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingAttendeeId</elementReference>
            </value>
        </filters>
        <object>Training_Attendee__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Competency_Record</name>
        <label>Delete Competency Record</label>
        <locationX>1099</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Delete_Attendee_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>L_TC_Training_Attendee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingAttendeeId</elementReference>
            </value>
        </filters>
        <object>Competency__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Registration_Details</name>
        <label>Get Registration Details</label>
        <locationX>429</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>L_TC_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <object>Training_Attendee__c</object>
        <outputAssignments>
            <assignToReference>ExistingAttendeeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation_Message</name>
        <label>Confirmation Message</label>
        <locationX>913</locationX>
        <locationY>67</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Competency_Record</targetReference>
        </connector>
        <fields>
            <name>DISP_TXT1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your training registration would now be cancelled. Please click next to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>434</locationX>
        <locationY>545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISP_ERR_TXT</name>
            <fieldText>&lt;p&gt;There has been an error. Please contact your system administrator.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Message</name>
        <label>Final Message</label>
        <locationX>1244</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISP_TXT2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your training registration has been cancelled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Record_Exists</name>
        <label>No Record Exists</label>
        <locationX>621</locationX>
        <locationY>327</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DISP_TXT_NO_RECORD</name>
            <fieldText>&lt;p&gt;Looks like you haven&apos;t yet registered for this training. Please click on &apos;Register for Training&apos; button to register.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>59</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Registration_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingAttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
