force-app/main/default/flows/Clone_Training_and_Skills_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignValToColSkillsForTraining</name>
        <label>AssignValToColSkillsForTraining</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ColVarSkillsForTraining</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleVarSkillsForTraining</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughSkillsForTraining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValToSkillForTraining</name>
        <label>AssignValToSkillForTraining</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SingleVarSkillsForTraining.Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Training</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleVarSkillsForTraining.Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughSkillsForTraining.Skill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignValToColSkillsForTraining</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyColSkillsForTraining</name>
        <label>EmptyColSkillsForTraining</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>ColVarSkillsForTraining</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Empty</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_User_Selection</name>
        <label>Check User Selection</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skills_for_Training_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skill_for_Training</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skills_For_Training</targetReference>
            </connector>
            <label>Skills for Training Check</label>
        </rules>
    </decisions>
    <description>Clone Training and Skills Record</description>
    <interviewLabel>Clone Training and Skills Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Training and Skills Record</label>
    <loops>
        <name>LoopThroughSkillsForTraining</name>
        <label>LoopThroughSkillsForTraining</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Skills_For_Training</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValToSkillForTraining</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateSkillsForTraining</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Training</name>
        <label>Create New Training</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Check_User_Selection</targetReference>
        </connector>
        <inputAssignments>
            <field>L_TC_Attendee_Limit__c</field>
            <value>
                <elementReference>Attendee_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Criteria_to_demonstrate_Competence__c</field>
            <value>
                <elementReference>GetTrainingRecords.L_TC_Criteria_to_demonstrate_Competence__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Department__c</field>
            <value>
                <elementReference>GetTrainingRecords.L_TC_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Location__c</field>
            <value>
                <elementReference>GetTrainingRecords.L_TC_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Status__c</field>
            <value>
                <stringValue>Upcoming</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Training_Date__c</field>
            <value>
                <elementReference>Training_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Training_Finish_Time__c</field>
            <value>
                <elementReference>Training_Finish_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Training_Time__c</field>
            <value>
                <elementReference>Training_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Training_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateSkillsForTraining</name>
        <label>CreateSkillsForTraining</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>EmptyColSkillsForTraining</targetReference>
        </connector>
        <inputReference>ColVarSkillsForTraining</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Skills_For_Training</name>
        <label>Get Skills For Training</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughSkillsForTraining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTrainingRecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TrainingSkills__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTrainingRecords</name>
        <label>GetTrainingRecords</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Second_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetTrainingRecords</targetReference>
        </connector>
        <fields>
            <name>TrainingRecordSelection</name>
            <fieldText>&lt;p&gt;Do you want to include Skill for training&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Skill_for_Training</name>
            <dataType>Boolean</dataType>
            <fieldText>Skill for Training</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Second_Screen</name>
        <label>Second Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Training</targetReference>
        </connector>
        <fields>
            <name>New_Training_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTrainingRecords.Name</elementReference>
            </defaultValue>
            <fieldText>New Training Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Attendee_Limit</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetTrainingRecords.L_TC_Attendee_Limit__c</elementReference>
            </defaultValue>
            <fieldText>Attendee Limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Training_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetTrainingRecords.L_TC_Training_Date__c</elementReference>
            </defaultValue>
            <fieldText>Training Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training_Start_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Training Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training_Finish_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Training Finish Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColVarSkillsForTraining</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingSkills__c</objectType>
    </variables>
    <variables>
        <name>Empty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingSkills__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleVarSkillsForTraining</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingSkills__c</objectType>
    </variables>
</Flow>
