force-app/main/default/flows/Contact_Prevent_Staff_Update_from_SIS_Feed_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Account_Name</name>
        <label>Assign Account Name</label>
        <locationX>857</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_Contact_details.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_FirstName</name>
        <label>Assign FirstName</label>
        <locationX>422</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>$Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_Contact_details.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LastName</name>
        <label>Assign LastName</label>
        <locationX>165</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>$Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_Contact_details.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Preferred_FirstName</name>
        <label>Assign Preferred FirstName</label>
        <locationX>50</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Preferred_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_Contact_details.I_RS_Preferred_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salutation</name>
        <label>Assign Salutation</label>
        <locationX>644</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_Contact_details.Salutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conditions</name>
        <label>Conditions</label>
        <locationX>418</locationX>
        <locationY>552</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salutation_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.Salutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Salutation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sisintegrationsfdc@latrobe.edu.au</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTU Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.I_RM_La_Trobe_Staff__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Salutation</targetReference>
            </connector>
            <label>Salutation ISCHANGED</label>
        </rules>
        <rules>
            <name>FirstName_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sisintegrationsfdc@latrobe.edu.au</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTU Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.I_RM_La_Trobe_Staff__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FirstName</targetReference>
            </connector>
            <label>FirstName ISCHANGED</label>
        </rules>
        <rules>
            <name>LastName_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTU Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sisintegrationsfdc@latrobe.edu.au</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.I_RM_La_Trobe_Staff__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LastName</targetReference>
            </connector>
            <label>LastName ISCHANGED</label>
        </rules>
        <rules>
            <name>Preferred_First_Name_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.I_RS_Preferred_First_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.I_RS_Preferred_First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sisintegrationsfdc@latrobe.edu.au</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTU Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.I_RM_La_Trobe_Staff__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Preferred_FirstName</targetReference>
            </connector>
            <label>Preferred First Name ISCHANGED</label>
        </rules>
        <rules>
            <name>Account_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>sisintegrationsfdc@latrobe.edu.au</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LTU Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_Contact_details.I_RM_La_Trobe_Staff__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Name</targetReference>
            </connector>
            <label>Account ISCHANGED</label>
        </rules>
    </decisions>
    <description>- Sushant - Modified to add all fields to prevent update from SIS Feed
- Lachlan - Modified this to accomodate Salesforce release issue
- Organisation Name</description>
    <interviewLabel>Contact: Prevent SIS Integration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Prevent Staff Update from SIS Feed Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get details of Contact as it is in database BEFORE this logic is applied.</description>
        <name>Get_existing_Contact_details</name>
        <label>Get existing Contact details</label>
        <locationX>426</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>I_RS_Preferred_First_Name__c</queriedFields>
        <queriedFields>I_RM_La_Trobe_Staff__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>299</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Get_existing_Contact_details</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Salutation</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Preferred_First_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
