force-app/main/default/flows/Contract_Approval_Process_Update_Approver_s_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Comments</name>
        <label>Assign Comments</label>
        <locationX>718</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>Comments</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!UserFullName}[{!CurrentStep.CreatedDate}]: {!CurrentStep.Comments} &lt;br&gt;&lt;br&gt; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Find_User_Name</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ObjectIdFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},2)</expression>
    </formulas>
    <interviewLabel>Contract Approval Process: Update Approver&apos;s Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Approval Process: Update Approver&apos;s Comments</label>
    <loops>
        <name>Loop_Find_User_Name</name>
        <label>Loop Find User Name</label>
        <locationX>564</locationX>
        <locationY>238</locationY>
        <assignNextValueToReference>CurrentStep</assignNextValueToReference>
        <collectionReference>ProcessStepsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Process_Instance_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Process_Instance_Collection</name>
        <label>Loop through Process Instance Collection</label>
        <locationX>316</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>CurrentProcessInstance</assignNextValueToReference>
        <collectionReference>ProcessInstanceCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Process_Instance_Node_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_Proposal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Process_Instance_ID_1</name>
        <label>Get Process Instance ID 1</label>
        <locationX>189</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Process_Instance_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>ProcessInstanceCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance_Node_0</name>
        <label>Get Process Instance Node</label>
        <locationX>320</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Find_User_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comments</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentProcessInstance.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstanceStep</object>
        <outputReference>ProcessStepsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>StepStatus</queriedFields>
        <queriedFields>ActorId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Name</name>
        <label>Get User Name</label>
        <locationX>717</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Comments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentStep.ActorId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Proposal</name>
        <label>Update Project Proposal</label>
        <locationX>1120</locationX>
        <locationY>46</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Approval_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Update_Approval_Comments__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordUpdates>
    <startElementReference>Get_Process_Instance_ID_1</startElementReference>
    <status>Active</status>
    <variables>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>CurrentStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>CurrentUserId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ProcessInstanceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
    <variables>
        <name>ProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessInstanceNodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>ProcessStepFinalCollecltion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>ProcessStepsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceStep</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
