force-app/main/default/flows/Contact_Set_Standard_Salary_Grade_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Remove_Contact_Salary_Grade_Standard</name>
        <label>Remove Contact Salary Grade Standard</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Salary_Grade_Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Contact_Salary_Grade_Standard_0</name>
        <label>Remove Contact Salary Grade Standard</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Salary_Grade_Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Contact_Salary_Grade_Standard</name>
        <label>Set Contact Salary Grade Standard</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Salary_Grade_Standard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salary_Table.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_salary_grade_is_not_null</name>
        <label>Check if salary grade is not null</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_if_Salary_Grade_Standard_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salary_grade_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Salary_Grade__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Salary_Table</targetReference>
            </connector>
            <label>Salary grade not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Salary_Grade_Standard_is_not_null</name>
        <label>Check if Salary Grade Standard is not null</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salary_grade_standard_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Salary_Grade_Standard__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Contact_Salary_Grade_Standard_0</targetReference>
            </connector>
            <label>Salary grade standard is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salary_Table_Found</name>
        <label>Salary Table Found</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Remove_Contact_Salary_Grade_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salary_Table_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salary_Table</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Salary_Grade_Standard</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact - Set Standard Salary Grade (Record Triggered) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Set Standard Salary Grade (Record Triggered)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get matching Salary Table by HR identifider</description>
        <name>Get_Salary_Table</name>
        <label>Get Salary Table</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Salary_Table_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_HR_System_Group_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Salary_Grade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salary_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_salary_grade_is_not_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>I_RS_Salary_Grade__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Salary_Grade__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Salary_Grade_Standard__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact Id passed in for processing</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
