force-app/main/default/flows/Contract_Default_Approver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Update First Approver</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
NOT(ISBLANK([Contract__c].I_RS_Head_of_School__c)),
[Contract__c].I_RS_Head_of_School__c,
&quot;&quot;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3352466827</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!myVariable_current.I_RS_Head_of_School__c})),
{!myVariable_current.I_RS_Head_of_School__c},
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(

AND(
ISNEW(),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c)),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c.I_RS_Lead_Chief_Investigator__c)),
ISBLANK([Contract__c].I_RS_First_Approver__c)
),

AND(
NOT(ISNEW()),
ISBLANK([Contract__c].I_RS_First_Approver__c),
ISCHANGED([Contract__c].I_RS_Project_Proposal__c),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c)),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c.I_RS_Lead_Chief_Investigator__c))
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(

AND(
ISNEW(),
NOT(ISBLANK({!myVariable_current.I_RS_Project_Proposal__c})),
NOT(ISBLANK({!myVariable_current.I_RS_Project_Proposal__r.I_RS_Lead_Chief_Investigator__c})),
ISBLANK({!myVariable_current.I_RS_First_Approver__c})
),

AND(
NOT(ISNEW()),
ISBLANK({!myVariable_current.I_RS_First_Approver__c}),
ISCHANGED({!myVariable_current.I_RS_Project_Proposal__c}),
NOT(ISBLANK({!myVariable_current.I_RS_Project_Proposal__c})),
NOT(ISBLANK({!myVariable_current.I_RS_Project_Proposal__r.I_RS_Lead_Chief_Investigator__c}))
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(

AND(
ISNEW(),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c)),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c.I_RS_Lead_Chief_Investigator__c)),
ISBLANK([Contract__c].I_RS_First_Approver__c)
),

AND(
NOT(ISNEW()),
ISBLANK([Contract__c].I_RS_First_Approver__c),
ISCHANGED([Contract__c].I_RS_Project_Proposal__c),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c)),
NOT(ISBLANK([Contract__c].I_RS_Project_Proposal__c.I_RS_Lead_Chief_Investigator__c))
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>OR(

AND(
ISNEW(),
NOT(ISBLANK({!myVariable_old.I_RS_Project_Proposal__c})),
NOT(ISBLANK({!myVariable_old.I_RS_Project_Proposal__r.I_RS_Lead_Chief_Investigator__c})),
ISBLANK({!myVariable_old.I_RS_First_Approver__c})
),

AND(
NOT(ISNEW()),
ISBLANK({!myVariable_old.I_RS_First_Approver__c}),
ISCHANGED({!myVariable_old.I_RS_Project_Proposal__c}),
NOT(ISBLANK({!myVariable_old.I_RS_Project_Proposal__c})),
NOT(ISBLANK({!myVariable_old.I_RS_Project_Proposal__r.I_RS_Lead_Chief_Investigator__c}))
)
)</expression>
    </formulas>
    <interviewLabel>Contract_Default_Approver-8_InterviewLabel</interviewLabel>
    <label>Contract: Default Approver</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contract__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Contract__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update First Approver</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>First Approver</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>I_RS_First_Approver__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3352466827</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
</Flow>
