force-app/main/default/flows/Contact_Update_Related_User_v_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Value_Department</name>
        <label>Assign Value Department</label>
        <locationX>379</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.I_RS_Department__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Phone_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Federation</name>
        <label>Assign Value Federation Id</label>
        <locationX>226</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.I_RS_Federation_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Address_is_Changed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Federation_0</name>
        <label>Assign Value Federation Id</label>
        <locationX>572</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_there_is_a_Value_Returned_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_FirstName</name>
        <label>Assign Value FirstName</label>
        <locationX>1225</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_First_LastName_is_Changed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_LastName</name>
        <label>Assign Value LastName</label>
        <locationX>1408</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_First_Email_is_Changed_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_LastName_0</name>
        <label>Assign Value LastName</label>
        <locationX>1026</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Title_is_Changed_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Phone</name>
        <label>Assign Value Phone</label>
        <locationX>99</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_FederationID_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_Title</name>
        <label>Assign Value Title</label>
        <locationX>687</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactDetails.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Department_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFinalUserId</name>
        <label>AssignFinalUserId</label>
        <locationX>875</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserDetails.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_First_Name_is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFinalUserId_0</name>
        <label>AssignFinalUserId</label>
        <locationX>879</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserDetailsFinal.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedUserDetails.Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_First_Name_is_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Address_is_Changed_0</name>
        <label>Check if Address is Changed</label>
        <locationX>363</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Check_if_there_is_a_Value_Returned_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_ISCHANGED</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.MailingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.City</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.MailingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.Street</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.MailingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.State</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.MailingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.PostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.Country</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Federation_0</targetReference>
            </connector>
            <label>Address ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Department_is_Changed</name>
        <label>Check if Departmenbt is Changed</label>
        <locationX>521</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Check_if_Phone_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Department_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.I_RS_Department__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.Department</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Department</targetReference>
            </connector>
            <label>Department ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FederationID_is_Changed</name>
        <label>Check if Federation ID is Changed</label>
        <locationX>101</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Check_if_Address_is_Changed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Federation_ID_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.I_RS_Federation_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.FederationIdentifier</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.I_RS_Federation_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Federation</targetReference>
            </connector>
            <label>Federation ID ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_First_Email_is_Changed_0_0</name>
        <label>Check if Email is Changed</label>
        <locationX>1242</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Check_if_Title_is_Changed_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_ISCHANGED_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_LastName_0</targetReference>
            </connector>
            <label>Email ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_First_LastName_is_Changed_0</name>
        <label>Check if Last Name is Changed</label>
        <locationX>1393</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Check_if_First_Email_is_Changed_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Name_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactDetails.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_LastName</targetReference>
            </connector>
            <label>Last Name ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_First_Name_is_Changed</name>
        <label>Check if First Name is Changed</label>
        <locationX>1016</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>Check_if_First_LastName_is_Changed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Name_ISCHANGED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.FirstName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_FirstName</targetReference>
            </connector>
            <label>First Name ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Phone_is_Changed</name>
        <label>Check if Phone is Changed</label>
        <locationX>221</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Check_if_FederationID_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_ISCHANGED_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Phone</targetReference>
            </connector>
            <label>Phone ISCHANGED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_a_related_user_for_a_Community</name>
        <label>Check if there is a related user for a Community</label>
        <locationX>476</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Get_Related_User_in_a_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_a_Community_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CommunityUserDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFinalUserId</targetReference>
            </connector>
            <label>Contact is a Community User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_a_Value_Returned</name>
        <label>Check if there is a Value Returned</label>
        <locationX>650</locationX>
        <locationY>248</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_have_a_Valid_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedUserDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFinalUserId_0</targetReference>
            </connector>
            <label>Contact have a Valid User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_a_Value_Returned_0</name>
        <label>Check if there is a Value Returned</label>
        <locationX>1047</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Update_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_have_a_Valid_User_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedUserDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delay_Update</targetReference>
            </connector>
            <label>Contact have a Valid User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Title_is_Changed_0_0_0</name>
        <label>Check if Title is Changed</label>
        <locationX>847</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Check_if_Department_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Title_ISCHANGED_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactDetails.Title</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserDetailsFinal.Title</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_Title</targetReference>
            </connector>
            <label>Title ISCHANGED</label>
        </rules>
    </decisions>
    <description>- Single collection null checker
- Added delays
- Removed the option to  deactivate a user based on Contact details
- Null checker for Email, Last Name, and Federation ID</description>
    <interviewLabel>Contact: Update Related User v.2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact: Update Related User v.2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>199</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_User_as_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>I_RS_Department__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>I_RS_Federation_Id__c</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>I_RS_Related_User__c</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_User_as_Community</name>
        <label>Get Related User as Community</label>
        <locationX>321</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_a_related_user_for_a_Community</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CommunityUserDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Address</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_User_in_a_Contact</name>
        <label>Get Related User in a Contact</label>
        <locationX>486</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_a_Value_Returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactDetails.I_RS_Related_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>RelatedUserDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>FederationIdentifier</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>Address</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>1249</locationX>
        <locationY>602</locationY>
        <inputReference>UserDetailsFinal</inputReference>
    </recordUpdates>
    <startElementReference>Get_Contact_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>CommunityUserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>contactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RelatedUserDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserDetailsFinal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varInputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserFinalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Delay_Update</name>
        <label>Delay Update</label>
        <locationX>1060</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Delay_Update_for_User</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_User</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>LastModifiedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>varInputContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>-1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Delay Update for User</label>
        </waitEvents>
    </waits>
</Flow>
