force-app/main/default/flows/Create_Conference_Journal_Alias.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_if_Conference_or_Journal</name>
        <label>Check if Conference or Journal</label>
        <locationX>610</locationX>
        <locationY>381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Conference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I_RS_Conference</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Alias_For_Conference</targetReference>
            </connector>
            <label>Is Conference</label>
        </rules>
        <rules>
            <name>Is_Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I_RS_Journal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Alias_for_Journal</targetReference>
            </connector>
            <label>Is Journal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if conference alias already exists</description>
        <name>Conference_Journal_Alias_Exists</name>
        <label>Conference Journal Alias Exists?</label>
        <locationX>339</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Existing_Conference_Journal_Alias_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Conference_or_Journal</targetReference>
            </connector>
            <label>Does not exists</label>
        </rules>
    </decisions>
    <description>This flow will be triggered when a Conference Journal records is created or its edited for its name. This flow will create the record of Conference Journal object if the same does not exist.</description>
    <interviewLabel>Create Conference Journal Alias {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Conference Journal Alias</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Alias_For_Conference</name>
        <label>Create New Alias For Conference</label>
        <locationX>943</locationX>
        <locationY>234</locationY>
        <inputAssignments>
            <field>Conference_Journal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Conference_Journal_Alias_Short__c</field>
            <value>
                <elementReference>$Record.I_RS_Conference_Short_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Conference_Journal_Alias__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Alias_for_Journal</name>
        <label>Create New Alias for Journal</label>
        <locationX>951</locationX>
        <locationY>517</locationY>
        <inputAssignments>
            <field>Conference_Journal__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Conference_Journal_Alias_Short__c</field>
            <value>
                <elementReference>$Record.I_RS_Journal_Short_Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Conference_Journal_Alias__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Query_Existing_Conference_Journal_Alias_Records</name>
        <label>Query Existing Conference Journal Alias Records</label>
        <locationX>176</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conference_Journal_Alias_Exists</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>I_RS_Conference_Journal_Alias_Short__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Conference_Short_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Conference_Journal_Alias_Short__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Journal_Short_Title__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conference_Journal_Alias__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Query_Existing_Conference_Journal_Alias_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>I_RS_Conference_Short_Title__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Journal_Short_Title__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Conference_Journal__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
