force-app/main/default/flows/Create_AOE_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_Supervisor_Approver_assigned_to_GRE</name>
        <label>Check Supervisor Approver assigned to GRE</label>
        <locationX>454</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GRE_Record.I_RS_Supervisor_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AOE_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_GRS_or_Supervisor_Approver</name>
        <label>User is GRS or Supervisor Approver</label>
        <locationX>310</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Invalid_User_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_GRS_or_Supervisor_Approver_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_GRE_Record.I_RS_Supervisor_Approver__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.I_RS_Is_Researcher_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Supervisor_Approver_assigned_to_GRE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>DetailPage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!AOERecId}</expression>
    </formulas>
    <interviewLabel>Create AOE Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create AOE Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_AOE_Record</name>
        <label>Create AOE Record</label>
        <locationX>595</locationX>
        <locationY>70</locationY>
        <assignRecordIdToReference>AOERecId</assignRecordIdToReference>
        <connector>
            <targetReference>New_AOE_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Graduate_Research_Examination__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Potential_conflicts_of_interest_1st__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment_of_Examiner__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_GRE_Record</name>
        <label>Get GRE Record</label>
        <locationX>176</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_GRS_or_Supervisor_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Graduate_Research_Examination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>459</locationX>
        <locationY>440</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_researchers</name>
            <fieldText>&lt;p&gt;This record cannot be created as the Graduate Research Examination is missing a required approver. Please contact exams.grs@latrobe.edu.au to resolve.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>User_is_GRS_or_Supervisor_Approver_Yes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>message_back_office</name>
            <fieldText>&lt;p&gt;This record cannot be created as the Graduate Research Examination is missing a supervisor approver.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_User_Screen</name>
        <label>Invalid User Screen</label>
        <locationX>317</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_User_Message</name>
            <fieldText>&lt;p&gt;This form is normally created by the principal supervisor. If you are unable to create this form but need to, please contact &lt;a href=&quot;mailto:exams.grs@latrobe.edu.au&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;exams.grs@latrobe.edu.au&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_AOE_Form</name>
        <label>New AOE Form</label>
        <locationX>730</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_message</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Appointment of Examiners Form Created!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:note</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sldsTextClass</name>
                <value>
                    <stringValue>slds-text-heading_large</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>message1</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;{!DetailPage}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to view the Appointment of Examiners Form!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_GRE_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AOERecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
