force-app/main/default/flows/CreateWBS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>LCI_equals_Person_responsible</name>
        <label>LCI equals Person responsible</label>
        <locationX>502</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>PersonResponsibleID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadChiefInvestigatorID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWBS</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IntegrationStatus</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>LaTrobeSAPCustomerNumber</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0099999999</stringValue>
        </value>
    </constants>
    <constants>
        <description>External ID for  School of Cancer Medicine (i.e. a part of ONJCRI)</description>
        <name>ONJCRIExtId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1772</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProjectEndDateErrorMessageCONSTANT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;End Date&quot;</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProjectRecordTypeErrorMessageCONSTANT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WBS can be created only for Projects</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProjectRecTypeCONSTANT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>I_RS_Project</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProjectStartDateErrorMessageCONSTANT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;Start Date&quot; </stringValue>
        </value>
    </constants>
    <constants>
        <name>SAPCustomerNumberErrorMessageCONST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Please ensure the funding organization has a SAP Customer Number.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TRIMFileNumberErrorMessageCONST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;TRIM File Number&quot; </stringValue>
        </value>
    </constants>
    <constants>
        <name>UnpaidStaffGroupCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>U</stringValue>
        </value>
    </constants>
    <constants>
        <name>WBSStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_LCI_Exist</name>
        <label>Check LCI Exist</label>
        <locationX>334</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>No_LCI_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Does not have LCI</defaultConnectorLabel>
        <rules>
            <name>Project_Has_LCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadChiefInvestigatorID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadChiefInvestigatorID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindFundingOrg</targetReference>
            </connector>
            <label>Project Has LCI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ONJCRI</name>
        <label>Check ONJCRI</label>
        <locationX>516</locationX>
        <locationY>979</locationY>
        <defaultConnector>
            <targetReference>StaffErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ONJCRI</defaultConnectorLabel>
        <rules>
            <name>Is_ONJCRI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LCI_Direct_Account.I_RS_External_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ONJCRIExtId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LCI_equals_Person_responsible</targetReference>
            </connector>
            <label>Is ONJCRI</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLCIStaffGroupCode</name>
        <label>CheckLCIStaffGroupCode</label>
        <locationX>354</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>LCI_equals_Person_responsible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Unpaid_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLCIACR.I_RS_Staff_Group_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnpaidStaffGroupCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LCI_Direct_Account</targetReference>
            </connector>
            <label>Is Unpaid Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>FundingOrganisationExistsCheck</name>
        <label>FundingOrganisationExistsCheck</label>
        <locationX>330</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Get_Funding_Organisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FundingOrganisationExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FundingOrganisationID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectFundingOrganisationErrorMessageBox</targetReference>
            </connector>
            <label>FundingOrganisationDoesNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPartOfLatrobeCheck</name>
        <label>IsPartOfLatrobeCheck</label>
        <locationX>475</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>FindProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPartOfLatrobeTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPartOfLatrobe</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FundingOrgSAPCustomerNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LaTrobeSAPCustomerNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayExteralOrgError</targetReference>
            </connector>
            <label>IsPartOfLatrobeTRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Record_Type_Check</name>
        <label>Project Record Type Check</label>
        <locationX>536</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>ProjectRecordTypeErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsProjectRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectRecTypeCONSTANT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProjectRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_LCI_Exist</targetReference>
            </connector>
            <label>IsProjectRecord</label>
        </rules>
    </decisions>
    <formulas>
        <name>DetailPage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!WBSID}</expression>
    </formulas>
    <formulas>
        <name>NewLineFormula</name>
        <dataType>String</dataType>
        <expression>br()</expression>
    </formulas>
    <formulas>
        <name>UserProfilename</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>CreateWBS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateWBS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateWBS</name>
        <label>CreateWBS</label>
        <locationX>659</locationX>
        <locationY>683</locationY>
        <assignRecordIdToReference>WBSID</assignRecordIdToReference>
        <connector>
            <targetReference>END_WBS</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Funding_Body__c</field>
            <value>
                <elementReference>FundingOrganisationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_HERDC_Category__c</field>
            <value>
                <elementReference>JLHERDCCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Integration_Status__c</field>
            <value>
                <elementReference>IntegrationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Junction_Linkage__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>LeadChiefInvestigatorID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Person_Responsible_Staff_ID__c</field>
            <value>
                <elementReference>StaffId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Person_Responsible__c</field>
            <value>
                <elementReference>PersonResponsibleID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Proposal__c</field>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Research_Office_Contact__c</field>
            <value>
                <elementReference>ResearchOfficeContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_WBS_Status__c</field>
            <value>
                <elementReference>WBSStatus</elementReference>
            </value>
        </inputAssignments>
        <object>WBS__c</object>
    </recordCreates>
    <recordLookups>
        <name>FindFundingOrg</name>
        <label>FindFundingOrg</label>
        <locationX>42</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStaffId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FundingOrganisationID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SAPCustomerNumber</assignToReference>
            <field>I_RS_SAP_Customer_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindJunctionLinkage</name>
        <label>FindJunctionLinkage</label>
        <locationX>187</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FundingOrganisationExistsCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Junction_Linkage__c</object>
        <outputAssignments>
            <assignToReference>FundingOrganisationID</assignToReference>
            <field>I_RS_Awarded_to__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JLHERDCCategory</assignToReference>
            <field>I_RS_HERDC_Category__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectID</assignToReference>
            <field>I_RS_Project_Proposal__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindProject</name>
        <label>FindProject</label>
        <locationX>639</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>LeadChiefInvestigatorID</assignToReference>
            <field>I_RS_Lead_Chief_Investigator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectEndDate</assignToReference>
            <field>I_RS_Project_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectStartDate</assignToReference>
            <field>I_RS_Project_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectSubType</assignToReference>
            <field>I_RS_Project_Sub_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectType</assignToReference>
            <field>I_RS_Project_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectRecordTypeName</assignToReference>
            <field>I_RS_Record_Type_Developer_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOfficeContactID</assignToReference>
            <field>I_RS_Research_Office_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TRIMFileNumber</assignToReference>
            <field>I_RS_TRIM_File_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Organisation</name>
        <label>Get Funding Organisation</label>
        <locationX>332</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPartOfLatrobeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FundingOrganisationID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsPartOfLatrobe</assignToReference>
            <field>I_RS_Part_of_La_Trobe__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FundingOrgSAPCustomerNumber</assignToReference>
            <field>I_RS_SAP_Customer_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_LCI_Direct_Account</name>
        <label>Get LCI Direct Account</label>
        <locationX>367</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ONJCRI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LCIDirectAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLCIACR</name>
        <label>getLCIACR</label>
        <locationX>361</locationX>
        <locationY>620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLCIStaffGroupCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LCIDirectAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadChiefInvestigatorID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStaffId</name>
        <label>GetStaffId</label>
        <locationX>252</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLCIACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadChiefInvestigatorID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>LCIDirectAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StaffId</assignToReference>
            <field>I_RS_Staff_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>DisplayExteralOrgError</name>
        <label>DisplayExteralOrgError</label>
        <locationX>735</locationX>
        <locationY>180</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ExternalOrgError</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>WBS can be requested only for external organisations OR &apos;La Trobe University&apos;.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>END_WBS</name>
        <label>End Screen</label>
        <locationX>833</locationX>
        <locationY>572</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WBS_END</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Draft WBS Created!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;{!DetailPage}&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to view the WBS Record!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_LCI_Screen</name>
        <label>No LCI Screen</label>
        <locationX>65</locationX>
        <locationY>375</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NO_LCI_Script_Screen</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Project has no Lead Chief Investigator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProjectRecordTypeErrorScreen</name>
        <label>ProjectRecordTypeErrorScreen</label>
        <locationX>781</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProjectRecordTypeError</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>ProjectRecordTypeErrorMessageCONSTANT</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectFundingOrganisationErrorMessageBox</name>
        <label>SelectFundingOrganisationErrorMessageBox</label>
        <locationX>707</locationX>
        <locationY>42</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SelectFUndingOrgErrorMessage</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Select an Funding Organisation to create WBS</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>StaffErrorMessage</name>
        <label>StaffErrorMessage</label>
        <locationX>703</locationX>
        <locationY>875</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StaffGroupError</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>WBS cannot be requested for LCI who is not an Employee. Please contact Finance Team.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FindJunctionLinkage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Newline</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>JSENCODE(\n)</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FundingOrganisationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingOrgSAPCustomerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPartOfLatrobe</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JLHERDCCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Account to which LCI is now directly associated with</description>
        <name>LCIDirectAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadChiefInvestigatorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newlineVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Newline</elementReference>
        </value>
    </variables>
    <variables>
        <name>PersonResponsibleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOfficeContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAPCustomerNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StaffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRIMFileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WBSID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
