force-app/main/default/flows/Create_Or_Deactivate_Reserach_Centre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Create_PTM_for_RC</name>
        <label>Check Create PTM for RC</label>
        <locationX>741</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_RC_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_RC_PTM</targetReference>
            </connector>
            <label>Is RC Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Deactivate_Active_Research_Centre</name>
        <label>Check Deactivate Active Research Centre</label>
        <locationX>463</locationX>
        <locationY>254</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Deactivate_PTM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Activate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_RC_PTM</targetReference>
            </connector>
            <label>Is Deactivate PTM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Active_PTM_for_Research_Centre</name>
        <label>Create Active PTM for Research Centre</label>
        <locationX>747</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_PTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResearchCentreHeadId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Create_PTM_for_RC</targetReference>
            </connector>
            <label>Create PTM</label>
        </rules>
    </decisions>
    <decisions>
        <name>PTM_record_does_not_exit</name>
        <label>PTM record check</label>
        <locationX>460</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Check_Deactivate_Active_Research_Centre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PTM_Record_Does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivePTMRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Active_PTM_for_Research_Centre</targetReference>
            </connector>
            <label>PTM Record Does not exist</label>
        </rules>
    </decisions>
    <interviewLabel>Create Or Deactivate Reserach Centre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Or Deactivate Reserach Centre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_RC_PTM</name>
        <label>Create RC PTM</label>
        <locationX>748</locationX>
        <locationY>496</locationY>
        <inputAssignments>
            <field>I_RS_Date_Added__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Proposal__c</field>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Team_Member__c</field>
            <value>
                <elementReference>ResearchCentreHeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Research_Centre_Id__c</field>
            <value>
                <elementReference>ResearcheCentreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Role__c</field>
            <value>
                <stringValue>Research Centre Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Team_Member__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Research_Centre_Matching_Criteria</name>
        <label>Get Active Research Centre Matching Criteria</label>
        <locationX>285</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PTM_record_does_not_exit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Team_Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResearchCentreHeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Research_Centre_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResearcheCentreId</elementReference>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>ActivePTMRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Active__c</queriedFields>
        <queriedFields>I_RS_Project_Team_Member__c</queriedFields>
        <queriedFields>I_RS_Project_Proposal__c</queriedFields>
        <queriedFields>I_RS_Research_Centre_Id__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_RC_PTM</name>
        <label>Deactivate RC PTM</label>
        <locationX>469</locationX>
        <locationY>519</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivePTMRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Project_Team_Member__c</object>
    </recordUpdates>
    <startElementReference>Get_Active_Research_Centre_Matching_Criteria</startElementReference>
    <status>Active</status>
    <variables>
        <name>Activate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivePTMRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>ProjectProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PTMRecCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PTMRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ResearchCentreHeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearcheCentreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
