force-app/main/default/flows/Create_Budget_from_Project_Proposal_Custom_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Project Proposal can be locked down from researcher</description>
        <name>Check_if_Project_Proposal_is_locked</name>
        <label>Check if Project Proposal is locked</label>
        <locationX>806</locationX>
        <locationY>50</locationY>
        <actionName>FlowUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Project_Proposal_is_locked_decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Project_Proposal_is_locked</assignToReference>
            <name>isLocked</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Auto-navigate to record page of created Budget</description>
        <name>Navigate_to_Budget_Screen</name>
        <label>Navigate to Budget Screen</label>
        <locationX>1532</locationX>
        <locationY>800</locationY>
        <actionName>c:AutoNavigateToStaticURL</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Flow_Complete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>BudgetRecordPageURL</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Construct URL for Budget Page, with Salary Tab pre-selected (Researchers only) based on Budget record Id and config settings.</description>
        <name>Construct_Budget_Page_record_URL</name>
        <label>Construct Budget Page record URL</label>
        <locationX>1473</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>BudgetRecordPageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Researcher_Portal_Base_URL}/{!NewBudget.Id}?{!Budget_Tool_Salary_Tab.Community_Page_Tab_URL_Reference__c}={!Budget_Tool_Salary_Tab.I_RS_Community_Page_Default_Tab_Code__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Budget_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign field values to new Budget record, namely lookup and default values, and the fields entered in the previous screen</description>
        <name>Populate_Budget_Fields</name>
        <label>Populate Budget Fields</label>
        <locationX>734</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>NewBudget.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBudget.I_RS_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Budget_Id_To_Update</name>
        <label>Set Budget Id To Update</label>
        <locationX>1116</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>BudgetAfterFlows.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBudget.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amend_Budget</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Process_Start_Error_Message_invalid_Project_Type</name>
        <label>Set Process Start Error Message - invalid Project Type</label>
        <locationX>368</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>Process_Start_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You cannot create a Budget when Project Type is {!Project_Proposal.I_RS_Project_Sub_type__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Start_Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy inputs from UI to Project Proposal fields so Project Proposal can be updated</description>
        <name>Write_To_Budget_Fields</name>
        <label>Write To Budget Fields</label>
        <locationX>1395</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>Project_Proposal.I_RS_Project_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project_Proposal.I_RS_Project_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Proposal</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SelectedActualRateType</name>
        <choiceText>{!BudgetAfterFlows.I_RS_Actual_Rate_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>BudgetAfterFlows.I_RS_Actual_Rate_Type__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Budgets_not_allowed_Project_Type</name>
        <label>Budgets not allowed - Project Type</label>
        <locationX>359</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>User_is_Portal_User_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budgets_not_allowed_for_this_Project_Not_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_Project_Sub_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Process_Start_Error_Message_invalid_Project_Type</targetReference>
            </connector>
            <label>Not Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Proposal_is_locked_decision</name>
        <label>Project Proposal is locked</label>
        <locationX>989</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Project_Proposal_Is_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Proposal_is_locked_decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Proposal_is_locked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Project_Proposal_is_locked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate Project Proposal. If any invalidities are found (e.g. missing fields) show error screen.</description>
        <name>Project_Proposal_Is_Valid</name>
        <label>Project Proposal Is Valid</label>
        <locationX>991</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Fill_in_Project_Proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Proposal_Is_Valid_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_Project_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_Project_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_IP_Position__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_Publishing_Rights__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_Budget_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Type_is_Grant_or_Scholarship</name>
        <label>Project Type is Grant or Scholarship</label>
        <locationX>861</locationX>
        <locationY>915</locationY>
        <defaultConnector>
            <targetReference>Budget_Metrics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Type_is_Grant_or_Scholarship_Yes</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Project_Proposal.I_RS_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scholarship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget_Tool_Salary_Tab</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_Portal_User_decision</name>
        <label>User is Portal User</label>
        <locationX>800</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Project_Proposal_Is_Valid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Portal_User_decision_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PowerPartner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Project_Proposal_is_locked</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>7/12/2020 - Flow now terminates if initial entry criteria are invalid, i.e. Project Type is &apos;Commercialisation&apos;

Improved version of Create-Budget flow which utilizes a custom component for the rate fields.

UPDATE: Now checks if Project Proposal is locked</description>
    <dynamicChoiceSets>
        <name>Picklist_Set_Actual_Rate_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Actual_Rate_Type__c</picklistField>
        <picklistObject>Budget__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>e.g. https://training-latrobe.cs152.force.com</description>
        <name>Researcher_Portal_Base_URL</name>
        <dataType>String</dataType>
        <expression>IF(
TEXT({!$User.UserType}) = &apos;PowerPartner&apos;,
{!$Setup.URL_Variable__c.I_RS_Researcher_Portal_Base_URL__c}+&apos;/budget&apos;,
{!$Setup.URL_Variable__c.I_RS_Internal_Base_URL__c}
)</expression>
    </formulas>
    <formulas>
        <name>User_type</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.UserType})</expression>
    </formulas>
    <interviewLabel>Create Budget from Project Proposal Custom Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Budget from Project Proposal Custom Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert Budget based on fields</description>
        <name>Insert_Budget</name>
        <label>Insert Budget</label>
        <locationX>730</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>Project_Type_is_Grant_or_Scholarship</targetReference>
        </connector>
        <inputReference>NewBudget</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get configuration setting needed to pre-load the Salary tab on the Budget record page when it opens (Researcher Portal only, does not work on Internal)</description>
        <name>Get_Budget_Tool_Salary_Tab</name>
        <label>Get Budget Tool Salary Tab</label>
        <locationX>1214</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Construct_Budget_Page_record_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget Salary</stringValue>
            </value>
        </filters>
        <object>Lighting_Page_Tabs_Component_Config__c</object>
        <outputReference>Budget_Tool_Salary_Tab</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Community_Page_Tab_URL_Reference__c</queriedFields>
        <queriedFields>I_RS_Community_Page_Default_Tab_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Project Proposal from which Budget is being created</description>
        <name>Get_Project_Proposal</name>
        <label>Get Project Proposal</label>
        <locationX>176</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budgets_not_allowed_Project_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputReference>Project_Proposal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Start_Date__c</queriedFields>
        <queriedFields>I_RS_Project_End_Date__c</queriedFields>
        <queriedFields>I_RS_IP_Position__c</queriedFields>
        <queriedFields>I_RS_Publishing_Rights__c</queriedFields>
        <queriedFields>I_RS_Project_Type__c</queriedFields>
        <queriedFields>I_RS_Project_Sub_type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Amend Budget based on manual metric changes</description>
        <name>Amend_Budget</name>
        <label>Amend Budget</label>
        <locationX>1213</locationX>
        <locationY>860</locationY>
        <connector>
            <targetReference>Get_Budget_Tool_Salary_Tab</targetReference>
        </connector>
        <inputReference>BudgetAfterFlows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Project Proposal based on new values</description>
        <name>Update_Project_Proposal</name>
        <label>Update Project Proposal</label>
        <locationX>1448</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>Project_Proposal_Is_Valid</targetReference>
        </connector>
        <inputReference>Project_Proposal</inputReference>
    </recordUpdates>
    <screens>
        <name>Budget_Metrics</name>
        <label>Budget Metrics</label>
        <locationX>942</locationX>
        <locationY>1107</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Budget_Id_To_Update</targetReference>
        </connector>
        <fields>
            <name>DefaultRateType</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Budget Rate Fields&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your budget has been created.&amp;nbsp;Review and update rate fields for Research Collaborations and Consultancies by adjusting the Rate Types Field or other fields as required.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Budget_rate_custom_component</name>
            <extensionName>c:BudgetDailyChargeoutRateCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showHeader</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSaveButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewBudget.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Base_Salary__c</assignToReference>
                <name>outputField_baseSalary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Daily_Salary__c</assignToReference>
                <name>outputField_dailyBaseSalary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Daily_On_Costs__c</assignToReference>
                <name>outputField_dailySalaryOnCosts</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Daily_Overheads__c</assignToReference>
                <name>outputField_dailySalaryOverhead</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Daily_Profits__c</assignToReference>
                <name>outputField_dailySalaryProfit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Actual_Non_Salary_Overhead__c</assignToReference>
                <name>outputField_nonSalaryOverhead</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Actual_Rate_Type__c</assignToReference>
                <name>outputField_projectRate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Actual_Overhead__c</assignToReference>
                <name>outputField_salaryOverhead</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Actual_Profit__c</assignToReference>
                <name>outputField_salaryProfit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BudgetAfterFlows.I_RS_Lead_Chief_Investigator__c</assignToReference>
                <name>outputField_LeadChiefInvestigator</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Budget_Rate_Fields_Footer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Rates can be adjusted on the Budget via the &apos;Set Charge Out Rate&apos; button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_in_Project_Proposal</name>
        <label>Fill in Project Proposal</label>
        <locationX>1185</locationX>
        <locationY>236</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Write_To_Budget_Fields</targetReference>
        </connector>
        <fields>
            <name>Update_Project_Proposal_header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Project Proposal Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>More_information_required</name>
            <fieldText>&lt;p&gt;Complete or update Project Proposal details for all fields.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Project_Proposal.I_RS_Project_Start_Date__c</elementReference>
            </defaultValue>
            <fieldText>Project Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Project_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Project_Proposal.I_RS_Project_End_Date__c</elementReference>
            </defaultValue>
            <fieldText>Project End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IP_Position_and_publishing_rights</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Project_Proposal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>I_RS_IP_Position__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>I_RS_Publishing_Rights__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>IP Position</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Project_Proposal.I_RS_IP_Position__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Publishing Rights for Budgeting Purposes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Project_Proposal.I_RS_Publishing_Rights__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Project_Proposal.I_RS_IP_Position__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Project_Proposal.I_RS_Publishing_Rights__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Complete</name>
        <label>Flow Complete</label>
        <locationX>1573</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All_done_message</name>
            <fieldText>&lt;p&gt;All done! You will be redirected to your new Budget momentarily.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Streamlined UI for filling in a Budget</description>
        <name>Input_Budget_Fields</name>
        <label>Input Budget Fields</label>
        <locationX>737</locationX>
        <locationY>604</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Populate_Budget_Fields</targetReference>
        </connector>
        <fields>
            <name>Create_Budget_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Budget Name and Description&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Budget_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NewBudget.Name</elementReference>
            </defaultValue>
            <fieldText>Budget Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!NewBudget.I_RS_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Budget_UI_Help_Text</name>
            <fieldText>&lt;p&gt;By clicking &apos;Next&apos; you will create a new Budget. For Research Collaborations and Consultancies, you may update rate fields on the next page.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Process_Start_Error_Screen</name>
        <label>Process Start Error Screen</label>
        <locationX>349</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Process_Start_Error_Message_Icon</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Process_Start_Error_Message</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Project_Proposal_is_locked</name>
        <label>Screen Project Proposal is locked</label>
        <locationX>1311</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Project_Proposal_is_locked_text</name>
            <fieldText>&lt;p&gt;This Project or Project Proposal is locked due to its Status. Please contact your Research Office Contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>93</locationY>
        <connector>
            <targetReference>Get_Project_Proposal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Configuration setting needed to pre-load the Salary tab on the Budget record page when it opens (Researcher Portal only, does not work on Internal)</description>
        <name>Budget_Tool_Salary_Tab</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lighting_Page_Tabs_Component_Config__c</objectType>
    </variables>
    <variables>
        <description>Copy of same Budget after insert-triggered Flows have been applied</description>
        <name>BudgetAfterFlows</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <description>URL for Budget record page with Salary tab pre-selected (Researchers only)</description>
        <name>BudgetRecordPageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Budget record to insert</description>
        <name>NewBudget</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Budget__c</objectType>
    </variables>
    <variables>
        <description>Error message when process cannot be started, e.g. invalid Project Proposal</description>
        <name>Process_Start_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project_Proposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>Project_Proposal_is_locked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of Project Proposal - automatically detects it via the API name, so do NOT change this</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
