force-app/main/default/flows/Create_Competencies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email_Competency_Creation</name>
        <label>Error Email Competency Creation</label>
        <locationX>936</locationX>
        <locationY>390</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>SFAdmins@latrobe.edu.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error occured while creating competency record</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Nothing</name>
        <label>Assign Nothing</label>
        <locationX>444</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Skill_Counter</name>
        <label>Assign Skill Counter</label>
        <locationX>307</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SkillsRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Skills_exist</name>
        <label>Skills exist ?</label>
        <locationX>437</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Assign_Nothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSkill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Next_Skill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Background flow creates competency record when a user enrolls for a training.</description>
    <interviewLabel>Create Competencies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Competencies</label>
    <loops>
        <name>Next_Skill</name>
        <label>Next Skill</label>
        <locationX>590</locationX>
        <locationY>386</locationY>
        <collectionReference>SkillsRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Competency_Record_for_each_skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Nothing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Competency_Record_for_each_skill</name>
        <label>Create Competency Record for each skill</label>
        <locationX>782</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>Next_Skill</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Email_Competency_Creation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>L_TC_Contact__c</field>
            <value>
                <elementReference>$Record.L_TC_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Current_Competency_Level__c</field>
            <value>
                <stringValue>Not Yet Competent - untrained</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Date_Deemed_Competent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Skill__c</field>
            <value>
                <elementReference>Next_Skill.Skill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Training_Attendee__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_TC_Training__c</field>
            <value>
                <elementReference>Next_Skill.Training__c</elementReference>
            </value>
        </inputAssignments>
        <object>Competency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Skills</name>
        <label>Get Skills</label>
        <locationX>176</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Skill_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.L_TC_Training__c</elementReference>
            </value>
        </filters>
        <object>TrainingSkills__c</object>
        <outputReference>SkillsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Skill__c</queriedFields>
        <queriedFields>Training__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Booked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>L_TC_Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <filters>
            <field>L_TC_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Training_Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SkillsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TrainingSkills__c</objectType>
    </variables>
</Flow>
