force-app/main/default/flows/Create_Review_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Review_Time_Record_Id_Ethics_Post_Approval</name>
        <label>Review Time Record Id - Ethics Post Approval</label>
        <locationX>683</locationX>
        <locationY>392</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Review_Time_Fields_Ethics_Post_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Review_Time__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_RS_Ethics_Post_Approval</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>reviewTimeRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Record Type Id for &apos;Ethics Request&apos; review type</description>
        <name>Review_Time_record_type_Id_Ethics_Request</name>
        <label>Review Time record type Id - Ethics Request</label>
        <locationX>688</locationX>
        <locationY>165</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Review_Time_fields_Ethics_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Review_Time__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_RS_Ethics_Request</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>reviewTimeRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Review_Time_Fields_Ethics_Post_Approval</name>
        <label>Set Review Time Fields - Ethics Post Approval</label>
        <locationX>833</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Ethics_Post_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentObjectRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Post_Approval.I_RS_Meeting_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Closing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Post_Approval.I_RS_Meeting_Closing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Application_Review_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EthicsPostApprovalRecord.I_RS_Review_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Committee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Post_Approval.I_RS_Committee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Post_Approval.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Date_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EthicsPostApprovalRecord.I_RS_Assigned_Meeting_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reviewTimeRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_new_Review_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Review_Time_fields_Ethics_Request</name>
        <label>Set Review Time fields - Ethics Request</label>
        <locationX>817</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Ethics_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EthicsRequestRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Request.I_RS_Meeting_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Closing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Request.I_RS_Meeting_Closing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Application_Review_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EthicsRequestRecord.I_RS_Ethics_Application_Review_Outcome__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Committee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Request.I_RS_Committee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Meeting_Date_Ethics_Request.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.I_RS_Meeting_Date_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EthicsRequestRecord.I_RS_Meeting_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReviewTime.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reviewTimeRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_new_Review_Time</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Parent_Record_SObject_Type_Decision</name>
        <label>Parent Record SObject Type</label>
        <locationX>149</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ethics_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentObjectSObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethics_Request__c</stringValue>
                </rightValue>
            </conditions>
            <label>Ethics Request</label>
        </rules>
        <rules>
            <name>Ethics_Post_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentObjectSObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ethics_Post_Approval__c</stringValue>
                </rightValue>
            </conditions>
            <label>Ethics Post Approval</label>
        </rules>
    </decisions>
    <description>NOTE - This version is effectively disabling the functionality. Useful for data migrations.

Creates a Review Time record under an Ethics Request or Ethics Post Approval. Is used in a flow and not process builder as we need to get the record type Id.</description>
    <interviewLabel>Create Review Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Review Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_new_Review_Time</name>
        <label>Insert new Review Time</label>
        <locationX>1031</locationX>
        <locationY>304</locationY>
        <inputReference>ReviewTime</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get parent Ethics Request, if applicable</description>
        <name>Get_Ethics_Request</name>
        <label>Get Ethics Request</label>
        <locationX>391</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meeting_Date_Ethics_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentObjectRecordId</elementReference>
            </value>
        </filters>
        <object>Ethics_Request__c</object>
        <outputReference>EthicsRequestRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Meeting_Date__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>I_RS_Ethics_Application_Review_Outcome__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Meeting_Date_Ethics_Post_Approval</name>
        <label>Get Meeting Date - Ethics Post Approval</label>
        <locationX>533</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Time_Record_Id_Ethics_Post_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EthicsPostApprovalRecord.I_RS_Assigned_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meeting_Date__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Meeting_Date_Ethics_Request</name>
        <label>Get Meeting Date - Ethics Request</label>
        <locationX>534</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Time_record_type_Id_Ethics_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EthicsRequestRecord.I_RS_Meeting_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meeting_Date__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Ethics Post Approval that Review Meeting is related to, if applicable</description>
        <name>Get_Post_Approval</name>
        <label>Get Post Approval</label>
        <locationX>379</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meeting_Date_Ethics_Post_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentObjectRecordId</elementReference>
            </value>
        </filters>
        <object>Ethics_Post_Approval__c</object>
        <outputReference>EthicsPostApprovalRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Assigned_Meeting_Date__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>I_RS_Review_Outcome__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Parent_Record_SObject_Type_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The inbound Ethics Post Approval we are creating a Review Time under.</description>
        <name>EthicsPostApprovalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ethics_Post_Approval__c</objectType>
    </variables>
    <variables>
        <description>Inbound Ethics Request record we&apos;re creating for</description>
        <name>EthicsRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ethics_Request__c</objectType>
    </variables>
    <variables>
        <description>Id of the Ethics Request or Post Approval being passed in</description>
        <name>parentObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Currently-supported types are Ethics_Request__c and Ethics_Post_Approval__c</description>
        <name>parentObjectSObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Review Time to be created.</description>
        <name>ReviewTime</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Review_Time__c</objectType>
    </variables>
    <variables>
        <description>Get specific Record Type Id of the Review Time we&apos;re creating</description>
        <name>reviewTimeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
