force-app/main/default/flows/Create_Tasks_From_Matrix_Project_Proposals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Tasks_To_Insert</name>
        <label>Add To Tasks To Insert</label>
        <locationX>1113</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Matrices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Lead_Chief_Investigator</name>
        <label>Assign to Lead Chief Investigator</label>
        <locationX>829</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadChiefInvestigatorId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Tasks_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Research_Office_Contact</name>
        <label>Assign to Research Office Contact</label>
        <locationX>990</locationX>
        <locationY>1130</locationY>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Research_Office_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Tasks_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Task</name>
        <label>Set New Task</label>
        <locationX>141</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMatrice.I_RS_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.I_RS_Send_Chatter_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMatrice.I_RS_Send_Chatter_Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMatrice.I_RS_Activity_Date_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMatrice.I_RS_Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Lead_Chief_Investigator</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Lead_Chief_Investigator</name>
        <label>Assign Lead Chief Investigator?</label>
        <locationX>465</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>For_All_Matrices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Lead_Chief_Investigator_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMatrice.I_RS_Asignee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Researcher</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadChiefInvestigatorId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Lead_Chief_Investigator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Assign_Research_Office_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_Research_Office_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Research_Office_Contact</targetReference>
            </connector>
            <label>Assign Research Office Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matrices_Found</name>
        <label>Matrices Found</label>
        <locationX>43</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matrices_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matrices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Chief_Investigator_Id_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a Project Proposal&apos;s status or record type changes, query the currently active Task Matrix records and copy them as new Tasks under the Project Proposal.

Assignee can be PP&apos;s LCI or ROC. If the corresponding value is missing on the PP, the Tasks aren&apos;t created.</description>
    <interviewLabel>Create Task From Matrix - Project Proposals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Tasks From Matrix - Project Proposals</label>
    <loops>
        <name>For_All_Matrices</name>
        <label>For All Matrices</label>
        <locationX>216</locationX>
        <locationY>548</locationY>
        <assignNextValueToReference>CurrentMatrice</assignNextValueToReference>
        <collectionReference>Matrices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Tasks</name>
        <label>Insert Tasks</label>
        <locationX>1503</locationX>
        <locationY>543</locationY>
        <inputReference>TasksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Chief_Investigator_Id_0</name>
        <label>Get Lead Chief Investigator Id</label>
        <locationX>219</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>LeadChiefInvestigatorId</assignToReference>
            <field>I_RS_LeadChiefInvestigator__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Matrices</name>
        <label>Get Matrices</label>
        <locationX>50</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matrices_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Activity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Object_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Proposal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Record_Type_Developer_Name__c</elementReference>
            </value>
        </filters>
        <object>Task_Matrix__c</object>
        <outputReference>Matrices</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Activity_Type__c</queriedFields>
        <queriedFields>I_RS_Subject__c</queriedFields>
        <queriedFields>I_RS_Days_Until_Activity_Date__c</queriedFields>
        <queriedFields>I_RS_Asignee__c</queriedFields>
        <queriedFields>I_RS_Send_Chatter_Message__c</queriedFields>
        <queriedFields>I_RS_Activity_Date_Formula__c</queriedFields>
        <queriedFields>I_RS_Description__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>218</locationX>
        <locationY>418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_All_Matrices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_RS_Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>TaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Matrices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentMatrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Matrix__c</objectType>
    </variables>
    <variables>
        <name>LeadChiefInvestigatorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Matrices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Matrix__c</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ProjectProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>TaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
