force-app/main/default/flows/Create_Milestone_Tasks_Research_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_To_Tasks_To_Insert</name>
        <label>Add To Tasks To Insert</label>
        <locationX>1154</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Milestones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Lead_Chief_Investigator</name>
        <label>Assign to Lead Chief Investigator</label>
        <locationX>801</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_LeadChiefInvestigator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Tasks_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Research_Office</name>
        <label>Assign to Research Office</label>
        <locationX>993</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Research_Office_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Tasks_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Task</name>
        <label>Set New Task</label>
        <locationX>198</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMilestone.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMilestone.I_RS_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.I_RS_Milestone_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMilestone.I_RS_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.I_RS_Pre_Conditions_and_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMilestone.I_RS_Pre_Conditions_Instructions_TxtArea__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.I_RS_Milestone_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMilestone.I_RS_Milestone_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentMilestone.I_RS_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignee</name>
        <label>Assignee</label>
        <locationX>559</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>For_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignee_Lead_Chief_Investigator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMilestone.I_RS_Assignee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Researcher</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_LeadChiefInvestigator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Lead_Chief_Investigator</targetReference>
            </connector>
            <label>Lead Chief Investigator</label>
        </rules>
        <rules>
            <name>Assignee_Research_Office_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentMilestone.I_RS_Assignee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Office Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_Research_Office_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Research_Office</targetReference>
            </connector>
            <label>Research Office Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Milestones_Found</name>
        <label>Milestones Found</label>
        <locationX>190</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestones_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Milestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Milestones</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Takes Milestone records of a Funding Opportunity and copies them to a specific Project Proposal as Tasks.

Change: Uses direct reference to Funding Opportunity instead of Junction/Linkage junction object.</description>
    <interviewLabel>Create Milestone Tasks - Research Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Milestone Tasks - Research Opportunity</label>
    <loops>
        <name>For_Milestones</name>
        <label>For Milestones...</label>
        <locationX>198</locationX>
        <locationY>545</locationY>
        <assignNextValueToReference>CurrentMilestone</assignNextValueToReference>
        <collectionReference>Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Milestone_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Milestone_Tasks</name>
        <label>Insert Milestone Tasks</label>
        <locationX>1560</locationX>
        <locationY>533</locationY>
        <inputReference>TasksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Milestone_Record_Type</name>
        <label>Get Milestone Record Type</label>
        <locationX>198</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Milestones_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_RS_RES_RO</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>MilestoneRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestones</name>
        <label>Get Milestones</label>
        <locationX>199</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Milestone_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Research_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Funding_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Milestone__c</object>
        <outputReference>Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Due_Date__c</queriedFields>
        <queriedFields>I_RS_Milestone_Type__c</queriedFields>
        <queriedFields>I_RS_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>I_RS_Assignee__c</queriedFields>
        <queriedFields>I_RS_Priority__c</queriedFields>
        <queriedFields>I_RS_Pre_Conditions_Instructions_TxtArea__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Milestones</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone__c</objectType>
    </variables>
    <variables>
        <name>JunctionLinkage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>LeadChiefInvestigatorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone__c</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ProjectProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>ResearchOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
