force-app/main/default/flows/Delete_competency_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_TrainingId</name>
        <label>Assign TrainingId</label>
        <locationX>159</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>AttendeeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrainingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.L_TC_Training__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_competency_records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Delete competency records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete competency records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_competency_records</name>
        <label>Delete competency records</label>
        <locationX>159</locationX>
        <locationY>496</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrainingId</elementReference>
            </value>
        </filters>
        <filters>
            <field>L_TC_Training_Attendee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AttendeeId</elementReference>
            </value>
        </filters>
        <object>Competency__c</object>
    </recordDeletes>
    <start>
        <locationX>32</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Assign_TrainingId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>L_TC_Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apology</stringValue>
            </value>
        </filters>
        <filters>
            <field>L_TC_Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Absent</stringValue>
            </value>
        </filters>
        <filters>
            <field>L_TC_Attendance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Training_Attendee__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrainingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
