force-app/main/default/flows/Ethics_Request_Set_PI_from_Personnel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Request_owner_simply_to_created_by</name>
        <label>Set Request owner simply to created by</label>
        <locationX>744</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>Get_Ethics_Request.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ethics_Request.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ethics_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request_owner_to_Personnel</name>
        <label>Set Request owner to Personnel</label>
        <locationX>411</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>Get_Ethics_Request.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personnelUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Ethics_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Ethics_Request_fields</name>
        <label>Update Ethics Request fields</label>
        <locationX>568</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>Get_Ethics_Request.I_RS_Principal_Investigator_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personnelContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Ethics_Request.I_RS_Principal_Investigator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personnelUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Ethics_Request.I_RS_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>personnelStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ethics_Request_fields_need_to_update</name>
        <label>Ethics Request fields need to update</label>
        <locationX>405</locationX>
        <locationY>202</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ethics_Request_fields_need_to_update_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>personnelContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Ethics_Request.I_RS_Principal_Investigator_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personnelUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Ethics_Request.I_RS_Principal_Investigator__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>personnelStartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Ethics_Request.I_RS_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ethics_Request_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is true if there is an existing user as a result of the query</description>
        <name>User_Found</name>
        <label>User Found</label>
        <locationX>568</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Set_Request_owner_simply_to_created_by</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personnelUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Request_owner_to_Personnel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>On an Ethics Request, calculate its Principal Investigator by scanning its Ethics Request Personnel</description>
    <interviewLabel>Ethics Request - Set PI from Personnel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ethics Request - Set PI from Personnel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ethics_Request</name>
        <label>Get Ethics Request</label>
        <locationX>411</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ethics_Request_Personnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EthicsRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ethics_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ethics_Request_Personnel</name>
        <label>Get Ethics Request Personnel</label>
        <locationX>578</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ethics_Request_fields_need_to_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Ethics_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EthicsRequestId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Principal Investigator</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Reseracher_User_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Research_Personnel__c</object>
        <outputAssignments>
            <assignToReference>personnelContactId</assignToReference>
            <field>I_RS_Contact_Researcher__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>personnelUserId</assignToReference>
            <field>I_RS_Reseracher_User_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>personnelStartDate</assignToReference>
            <field>I_RS_Start_Date__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ethics_Request</name>
        <label>Update Ethics Request</label>
        <locationX>566</locationX>
        <locationY>553</locationY>
        <inputReference>Get_Ethics_Request</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Ethics_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EthicsRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personnelContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personnelStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>personnelUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
