force-app/main/default/flows/Ethics_Request_Extension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set Recurring Milestone Recurrence End Date</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Extend Annual Reports</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <actionName>Set_Recurring_Milestone_Recurrence_End_Date</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EthicsRequestId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>EthicsRequestId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>NewRecursionEndDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>NewRecursionEndDate</name>
            <value>
                <elementReference>formula_2_myRule_1_A3_5795419776</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>recurrenceStartDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>recurrenceStartDate</name>
            <value>
                <elementReference>formula_3_myRule_1_A3_5575869774</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_1</name>
        <label>myWaitAssignment_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Expiry Date Extended</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.I_RS_Ethics_Application_Expiry_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_1</name>
        <label>myPreWaitDecision_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>When the Expiry Date of an Ethics Request changes, fire logic</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c - 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_5795419776</name>
        <dataType>Date</dataType>
        <expression>{!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c} - 1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
[Ethics_Request__c].RecordType.DeveloperName &lt;&gt; &quot;Research_Governance_Authorisation&quot;,
[Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c,
[Ethics_Request__c].I_RS_Governance_Approval_Date__c  
)
+ 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A3_5575869774</name>
        <dataType>Date</dataType>
        <expression>IF(
{!myVariable_current.RecordType.DeveloperName} &lt;&gt; &quot;Research_Governance_Authorisation&quot;,
{!myVariable_current.I_RS_Ethics_Application_Approval_Date__c},
{!myVariable_current.I_RS_Governance_Approval_Date__c}  
)
+ 1</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE (
 
    /*YEAR*/
    YEAR ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - FLOOR(5 / 12) - IF (MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD(5, 12) &gt; 0, 0, 1),
        
    /*MONTH*/ 
    IF (MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD (5, 12) &gt; 0, MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD (5, 12), MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD (5, 12) + 12),
 
    /*DAY*/ 
    MIN (DAY ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c), 
        CASE (
        /* Month */
        IF (MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD (5, 12) &gt; 0, MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD (5, 12), MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD (5, 12) + 12), 9, 30, 4, 30, 6, 30, 11, 30, 2, 
        /* return max days for February dependent on if end date is leap year */
        IF (MOD (YEAR ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - FLOOR(5 / 12) - IF (MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD(5, 12) &gt; 0, 0, 1), 400) = 0 || (MOD (YEAR ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - FLOOR(5 / 12) - IF (MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD(5, 12) &gt; 0, 0, 1) ,4) = 0 &amp;&amp; MOD (YEAR ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - FLOOR(5 / 12) - IF (MONTH ([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) - MOD(5, 12) &gt; 0, 0, 1) ,100) &lt;&gt; 0 ), 29, 28), 31)
    )
)/* End of Date function */</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A2_8087967747</name>
        <dataType>Date</dataType>
        <expression>DATE (
 
    /*YEAR*/
    YEAR ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - FLOOR(5 / 12) - IF (MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD(5, 12) &gt; 0, 0, 1),
        
    /*MONTH*/ 
    IF (MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD (5, 12) &gt; 0, MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD (5, 12), MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD (5, 12) + 12),
 
    /*DAY*/ 
    MIN (DAY ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}), 
        CASE (
        /* Month */
        IF (MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD (5, 12) &gt; 0, MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD (5, 12), MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD (5, 12) + 12), 9, 30, 4, 30, 6, 30, 11, 30, 2, 
        /* return max days for February dependent on if end date is leap year */
        IF (MOD (YEAR ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - FLOOR(5 / 12) - IF (MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD(5, 12) &gt; 0, 0, 1), 400) = 0 || (MOD (YEAR ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - FLOOR(5 / 12) - IF (MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD(5, 12) &gt; 0, 0, 1) ,4) = 0 &amp;&amp; MOD (YEAR ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - FLOOR(5 / 12) - IF (MONTH ({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) - MOD(5, 12) &gt; 0, 0, 1) ,100) &lt;&gt; 0 ), 29, 28), 31)
    )
)/* End of Date function */</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Action required for &quot;&amp;[Ethics_Request__c].Name+&quot; - please submit your Final Report by  &quot;&amp;

TEXT(DAY([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c)) &amp; &quot;/&quot; &amp;
TEXT(MONTH([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c)) &amp; &quot;/&quot; &amp;
TEXT(YEAR([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_8457600691</name>
        <dataType>String</dataType>
        <expression>&quot;Action required for &quot;&amp;{!myVariable_current.Name}+&quot; - please submit your Final Report by  &quot;&amp;

TEXT(DAY({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c})) &amp; &quot;/&quot; &amp;
TEXT(MONTH({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c})) &amp; &quot;/&quot; &amp;
TEXT(YEAR({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
ISCHANGED([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) &amp;&amp;
!ISBLANK([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) &amp;&amp;
!ISBLANK(PRIORVALUE([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c))
)

||


(
ISCHANGED([Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c) &amp;&amp;
!ISBLANK([Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c ) &amp;&amp;
!ISBLANK(PRIORVALUE([Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c))
)

||

(
ISCHANGED([Ethics_Request__c].I_RS_Governance_Approval_Date__c) &amp;&amp;
!ISBLANK([Ethics_Request__c].I_RS_Governance_Approval_Date__c) &amp;&amp;
!ISBLANK(PRIORVALUE([Ethics_Request__c].I_RS_Governance_Approval_Date__c))
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(
ISCHANGED({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) &amp;&amp;
!ISBLANK({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}) &amp;&amp;
!ISBLANK(PRIORVALUE({!myVariable_current.I_RS_Ethics_Application_Expiry_Date__c}))
)

||


(
ISCHANGED({!myVariable_current.I_RS_Ethics_Application_Approval_Date__c}) &amp;&amp;
!ISBLANK({!myVariable_current.I_RS_Ethics_Application_Approval_Date__c} ) &amp;&amp;
!ISBLANK(PRIORVALUE({!myVariable_current.I_RS_Ethics_Application_Approval_Date__c}))
)

||

(
ISCHANGED({!myVariable_current.I_RS_Governance_Approval_Date__c}) &amp;&amp;
!ISBLANK({!myVariable_current.I_RS_Governance_Approval_Date__c}) &amp;&amp;
!ISBLANK(PRIORVALUE({!myVariable_current.I_RS_Governance_Approval_Date__c}))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
ISCHANGED([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) &amp;&amp;
!ISBLANK([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c) &amp;&amp;
!ISBLANK(PRIORVALUE([Ethics_Request__c].I_RS_Ethics_Application_Expiry_Date__c))
)

||


(
ISCHANGED([Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c) &amp;&amp;
!ISBLANK([Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c ) &amp;&amp;
!ISBLANK(PRIORVALUE([Ethics_Request__c].I_RS_Ethics_Application_Approval_Date__c))
)

||

(
ISCHANGED([Ethics_Request__c].I_RS_Governance_Approval_Date__c) &amp;&amp;
!ISBLANK([Ethics_Request__c].I_RS_Governance_Approval_Date__c) &amp;&amp;
!ISBLANK(PRIORVALUE([Ethics_Request__c].I_RS_Governance_Approval_Date__c))
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(
ISCHANGED({!myVariable_old.I_RS_Ethics_Application_Expiry_Date__c}) &amp;&amp;
!ISBLANK({!myVariable_old.I_RS_Ethics_Application_Expiry_Date__c}) &amp;&amp;
!ISBLANK(PRIORVALUE({!myVariable_old.I_RS_Ethics_Application_Expiry_Date__c}))
)

||


(
ISCHANGED({!myVariable_old.I_RS_Ethics_Application_Approval_Date__c}) &amp;&amp;
!ISBLANK({!myVariable_old.I_RS_Ethics_Application_Approval_Date__c} ) &amp;&amp;
!ISBLANK(PRIORVALUE({!myVariable_old.I_RS_Ethics_Application_Approval_Date__c}))
)

||

(
ISCHANGED({!myVariable_old.I_RS_Governance_Approval_Date__c}) &amp;&amp;
!ISBLANK({!myVariable_old.I_RS_Governance_Approval_Date__c}) &amp;&amp;
!ISBLANK(PRIORVALUE({!myVariable_old.I_RS_Governance_Approval_Date__c}))
)</expression>
    </formulas>
    <interviewLabel>Ethics_Request_Extension-6_InterviewLabel</interviewLabel>
    <label>Ethics Request: Expiry Date Changed</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Ethics_Request__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Ethics_Request__c].Tasks</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Reschedule Final Report</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Milestone Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>I_RS_Milestone_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final report</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.I_RS_Ethics_Application_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_8457600691</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Ethics_Request__c].Tasks</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Reschedule Ethics Expiry</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Milestone Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>I_RS_Milestone_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expiry/Renewal Submission</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_4_myRule_1_A2_8087967747</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Ethics_Request__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        <label>Set to Expired</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Ethics Application Review Outcome</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>I_RS_Ethics_Application_Review_Outcome__c</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>I_RS_Status__c</field>
            <value>
                <stringValue>Outcome Communicated</stringValue>
            </value>
        </inputAssignments>
        <object>Ethics_Request__c</object>
    </recordUpdates>
    <startElementReference>myPreWaitDecision_myWait_myRule_1</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ethics_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ethics_Request__c</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_1</name>
        <label>myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Ethics_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>I_RS_Ethics_Application_Expiry_Date__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_0</label>
        </waitEvents>
    </waits>
</Flow>
