force-app/main/default/flows/Ethics_Request_Expiry_Email_to_Personnel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>727</locationX>
        <locationY>798</locationY>
        <actionName>SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <elementReference>Get_Organisation_Wide_Address.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>EthicsRequest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendBCCtheEmailAddressesFromThisCollectionOfContacts</name>
            <value>
                <elementReference>ContactsForCCList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCtheEmailAddressesFromThisCollectionOfContacts</name>
            <value>
                <elementReference>ContactsForCCList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>Get_Organisation_Wide_Address.DisplayName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>EthicsRequest.I_RS_Principal_Investigator_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <elementReference>Get_Email_Template_Id.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Contact_to_CC_List</name>
        <label>Add Contact to CC List</label>
        <locationX>1132</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>ContactsForCCList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactToAddToCCList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsForCCIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactToAddToCCList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Ethics_Pesonnel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_to_To_list</name>
        <label>Add Contact to To list</label>
        <locationX>88</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>ContactsForToList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactsForToList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Ethics_Pesonnel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Contact_to_add_to_CC_List</name>
        <label>Initialise Contact to add to CC List</label>
        <locationX>1125</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>ContactToAddToCCList.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Ethics_Pesonnel.I_RS_Contact_Researcher__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToAddToCCList.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Ethics_Pesonnel.I_RS_Contact_Researcher__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_CC_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Contact_to_add_to_To_list</name>
        <label>Initialise Contact to add to To list</label>
        <locationX>97</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>ContacttoAddtoToList.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EthicsRequest.I_RS_Principal_Investigator_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_To_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_already_exists_in_CC_List</name>
        <label>Contact already exists in CC List</label>
        <locationX>862</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Initialise_Contact_to_add_to_CC_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_already_exists_in_CC_List_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactsForCCIdSet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Ethics_Pesonnel.I_RS_Contact_Researcher__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Ethics_Pesonnel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Org_Wide_Address_Found</name>
        <label>Org Wide Address Found</label>
        <locationX>404</locationX>
        <locationY>807</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Org_Wide_Address_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Organisation_Wide_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Conditions that state whether this Ethics Personnel needs to be included in the CC list</description>
        <name>Personnel_is_valid_for_CC</name>
        <label>Personnel is valid for CC</label>
        <locationX>723</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Ethics_Pesonnel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Personnel_is_valid_for_CC_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Ethics_Pesonnel.I_RS_Has_active_PRIME_login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Ethics_Pesonnel.I_RS_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Ethics_Pesonnel.I_RS_Contact_Researcher__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EthicsRequest.I_RS_Principal_Investigator_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_already_exists_in_CC_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sends a notification email to the personnel involved in the Ethics Request. Currently, when the Ethics Request&apos;s Approval Review Outcome is marked as Expired.</description>
    <formulas>
        <name>OrganisationWideAddressDisplayName</name>
        <dataType>String</dataType>
        <expression>CASE(
{!EthicsRequest.RecordType.DeveloperName},
&apos;Animal_Ethics_Application&apos;, &apos;Animal Ethics&apos;,
&apos;I_RS_SOP_Phenotype_Report&apos;, &apos;Animal Ethics&apos;,

&apos;Human_Ethics_Application&apos;, &apos;Human Ethics&apos;,
&apos;Research_Governance_Authorisation&apos;, &apos;Human Ethics&apos;,

&apos;Biosafety_Ethics_Application&apos;, &apos;Institutional Biosafety Committee&apos;,
&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Ethics Request Expiry Email to Personnel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ethics Request Expiry Email to Personnel</label>
    <loops>
        <name>Loop_through_Ethics_Pesonnel</name>
        <label>Loop through Ethics Pesonnel</label>
        <locationX>413</locationX>
        <locationY>179</locationY>
        <collectionReference>AllEthicsPersonnel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Personnel_is_valid_for_CC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Template_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template_Id</name>
        <label>Get Email Template Id</label>
        <locationX>33</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Organisation_Wide_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ethics_Request_Expiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Organisation_Wide_Address</name>
        <label>Get Organisation-Wide Address</label>
        <locationX>249</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Org_Wide_Address_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrganisationWideAddressDisplayName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Initialise_Contact_to_add_to_To_list</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllEthicsPersonnel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Personnel__c</objectType>
    </variables>
    <variables>
        <name>ContactsForCCIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The list of individuals to include as CCs.</description>
        <name>ContactsForCCList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsForToList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactToAddToCCList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContacttoAddtoToList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The Ethics Request we are sending the expiry email for.</description>
        <name>EthicsRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Ethics_Request__c</objectType>
    </variables>
</Flow>
