force-app/main/default/flows/Ethics_Post_Approval_Create_Modification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetModificationRecordType</name>
        <label>GetModificationRecordType</label>
        <locationX>531</locationX>
        <locationY>224</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateModification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Ethics_Post_Approval__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RecordTypeID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsApproved</name>
        <label>IsApproved</label>
        <locationX>168</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>FaultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApprovedTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EthicsApplicationReviewOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EthicsApplicationReviewOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EthicsApplicationReviewOutcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suspended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsLartfUser</targetReference>
            </connector>
            <label>ApprovedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLartfUser</name>
        <label>IsLartfUser</label>
        <locationX>368</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>GetModificationRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LartfUserTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LartfUserValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FaultScreen_0</targetReference>
            </connector>
            <label>LartfUserTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserIsResearcher</name>
        <label>UserIsResearcher</label>
        <locationX>880</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>EndScreen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Researcher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsResearcherUser</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndScreen</targetReference>
            </connector>
            <label>Researcher</label>
        </rules>
    </decisions>
    <description>Creates a post approval of record type &apos;Modification&apos; , to be invoked via a button on the Ethics Request layouts.
28th July - Added the new screen message
28th July - Added the new message in red box
5th Aug - Added LARTF details
27th Aug - Updated the Decision for Researcher links
9-feb: Added the new validation for Ethics Request Status</description>
    <formulas>
        <name>DetailLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!PostApprovalID}</expression>
    </formulas>
    <formulas>
        <name>LartfUserValue</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.I_RS_LARTF_User__c}</expression>
    </formulas>
    <formulas>
        <name>RecordName</name>
        <dataType>String</dataType>
        <expression>{!EthicsApplicationNumber} +  &apos; - &apos;  + {!RecordTypeName} + &apos; - &apos; +   {!Timestamp}</expression>
    </formulas>
    <formulas>
        <name>ResearcherLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;&apos;s/ethics-post-approval/&apos;&amp;{!PostApprovalID}</expression>
    </formulas>
    <formulas>
        <name>Timestamp</name>
        <dataType>String</dataType>
        <expression>LEFT ( TEXT(NOW() + 0.4167), 16)</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Ethics Post Approval - Create Modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ethics Post Approval - Create Modification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateModification</name>
        <label>CreateModification</label>
        <locationX>707</locationX>
        <locationY>224</locationY>
        <assignRecordIdToReference>PostApprovalID</assignRecordIdToReference>
        <connector>
            <targetReference>GetUserProfile</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Ethics_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Trim_Link__c</field>
            <value>
                <elementReference>TrimLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RecordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Ethics_Post_Approval__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Ethics_Request_Details</name>
        <label>Get Ethics Request Details</label>
        <locationX>176</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsApproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Ethics_Request__c</object>
        <outputAssignments>
            <assignToReference>EthicsApplicationNumber</assignToReference>
            <field>I_RS_Ethics_Application_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EthicsApplicationReviewOutcome</assignToReference>
            <field>I_RS_Ethics_Application_Review_Outcome__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrimLink</assignToReference>
            <field>I_RS_Trim_Link__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUserProfile</name>
        <label>GetUserProfile</label>
        <locationX>888</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserIsResearcher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>IsResearcherUser</assignToReference>
            <field>I_RS_Is_Researcher_User__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>891</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ModCreated</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Start Modification</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blanky</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Action required - &lt;/b&gt;upload document/s and submit to Research Office by clicking &lt;a href=&quot;{!ResearcherLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EndScreen_0</name>
        <label>EndScreen</label>
        <locationX>1134</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ModCreated_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Start Modification</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blanky_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EndMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Action required - &lt;/b&gt;upload document/s and submit to Research Office by clicking &lt;a href=&quot;{!DetailLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>177</locationX>
        <locationY>619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Oops, we hit a snag.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blanky2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActualError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(11, 11, 11);&quot;&gt;You cannot create a post-approval request because your ethics application hasn’t been approved, or has been closed-off, or has been withdrawn.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FaultScreen_0</name>
        <label>FaultScreen</label>
        <locationX>377</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Oops, we hit a snag.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blanky2_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ActualError_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(11, 11, 11);&quot;&gt;You cannot create a post-approval request because you don&apos;t have access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Ethics_Request_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AutoNumberCounter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EthicsApplicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EthicsApplicationReviewOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsResearcherUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostApprovalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Modification</stringValue>
        </value>
    </variables>
    <variables>
        <name>TrimLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
