force-app/main/default/flows/Express_Interest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Contract_Client_Template_assgn</name>
        <label>Contract Client Template</label>
        <locationX>1602</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_Contract_client_template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provide Project Details</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contract_La_Trobe_Template_assgn</name>
        <label>Contract La Trobe Template</label>
        <locationX>1870</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_Contract_La_Trobe_template</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract Instructions</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>External_Grant_assgn</name>
        <label>External Grant</label>
        <locationX>1083</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_External_Grant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft Proposal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grant_with_limited_applications_assgn</name>
        <label>Grant with limited applications</label>
        <locationX>837</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_Grant_with_limited_applications</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create EOI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Internal_Pipeline_Assgn</name>
        <label>Internal Pipeline</label>
        <locationX>673</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_Internal_Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Drafting NOI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Proposal_assgn</name>
        <label>Proposal</label>
        <locationX>1318</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_Proposal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PPStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft Proposal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Submission_Date_is_Entered_by_a_User</name>
        <label>Submission Date is Entered by a User</label>
        <locationX>1759</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>ROSubmissionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submission_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Proposal_Record_Type_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_Submitted_Cheker</name>
        <label>Already Submitted Cheker</label>
        <locationX>1286</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>Project_Proposal_Record_Type_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Submitted_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Already_Submitted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Screen_0</targetReference>
            </connector>
            <label>Already Submitted is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Apply_Again_Decision</name>
        <label>Apply Again Decision</label>
        <locationX>221</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Project_Proposal_not_created_Please_close_this_screen_to_continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_apply_again</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Research_Opportunity_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_Already_Applied</name>
        <label>Check if User Already Applied</label>
        <locationX>43</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Existing_Application_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Project_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectProposalId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Research_Opportunity_Details</targetReference>
            </connector>
            <label>No Existing Project Proposal</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactIdNotNull</name>
        <label>IsContactIdNotNull</label>
        <locationX>1302</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Create_Project_Proposal_without_LeadCI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUserContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Project_Proposal</targetReference>
            </connector>
            <label>ContactIdNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Proposal_Record_Type_Decision</name>
        <label>Project Proposal Record Type Decision</label>
        <locationX>1286</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>External_Grant_assgn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Internal_Pipeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoticeofIntentRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Pipeline_Assgn</targetReference>
            </connector>
            <label>Internal Pipeline</label>
        </rules>
        <rules>
            <name>Grant_with_Limited_Applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicationLimit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grant_with_limited_applications_assgn</targetReference>
            </connector>
            <label>Grant with Limited Applications</label>
        </rules>
        <rules>
            <name>External_Grants</name>
            <conditionLogic>(1 AND (2 OR 3) AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicationLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ApplicationLimit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoticeofIntentRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Grant_assgn</targetReference>
            </connector>
            <label>External Grants</label>
        </rules>
        <rules>
            <name>Proposal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tender/RFQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercialisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_assgn</targetReference>
            </connector>
            <label>Proposal</label>
        </rules>
        <rules>
            <name>Contract_Client_Template</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote/Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientSuppliedTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Client_Template_assgn</targetReference>
            </connector>
            <label>Contract Client Template</label>
        </rules>
        <rules>
            <name>Contract_La_Trobe_Template</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote/Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ClientSuppliedTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_La_Trobe_Template_assgn</targetReference>
            </connector>
            <label>Contract La Trobe Template</label>
        </rules>
    </decisions>
    <description>- Data model update June 18 2019
- Team Member status update
- Already Submitted
- Added LCI Lookup Contact
-31st Jan: Added the mapping from the updated Proposal Type and Project Type values
-19th Feb - Added filter criteria for internal users
-25th June Phase 2 Sprint 2: new RTs are introduced: Internal Pipeline and External Grant
-7th Dec - Added logic to accommodate the new Project Type value &apos;Commercialisation&apos;
- 29/01 - T2-876 add theme
-29/01 - Feedback from POs
- 01/02 making themes field mandatory on screen
-31/02/2022 - fixed regression testing issue from SB-45 for change of Tender/Expression of Interest to Tender/RFQ</description>
    <dynamicChoiceSets>
        <name>FTEatLaTrobePCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_FTE_at_La_Trobe__c</picklistField>
        <picklistObject>Project_Proposal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IPPosition_ChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_IP_Position__c</picklistField>
        <picklistObject>Project_Proposal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Theme_picklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Theme__c</picklistField>
        <picklistObject>Project_Proposal__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>DetailPage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!ProjectProposalId}</expression>
    </formulas>
    <interviewLabel>Express Interest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Express Interest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Project_Proposal</name>
        <label>Create Project Proposal</label>
        <locationX>1563</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>ProjectProposalId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Team_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Account_Organisation__c</field>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Already_Submitted__c</field>
            <value>
                <elementReference>Already_Submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_EOI_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Funding_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Internal_date__c</field>
            <value>
                <elementReference>InternalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_LeadChiefInvestigator__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Sub_type__c</field>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Proposal_to_be_Submitted_By__c</field>
            <value>
                <elementReference>ProposalToBeSubmittedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Research_Office_Contact__c</field>
            <value>
                <elementReference>ResearchOfficeContactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Status__c</field>
            <value>
                <elementReference>PPStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Submission_Date__c</field>
            <value>
                <elementReference>ROSubmissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Theme__c</field>
            <value>
                <elementReference>Theme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Project_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Proposal_without_LeadCI</name>
        <label>Create Project Proposal without LeadCI</label>
        <locationX>1312</locationX>
        <locationY>1102</locationY>
        <assignRecordIdToReference>ProjectProposalId</assignRecordIdToReference>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Account_Organisation__c</field>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Already_Submitted__c</field>
            <value>
                <elementReference>Already_Submitted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_EOI_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Funding_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Internal_date__c</field>
            <value>
                <elementReference>InternalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Sub_type__c</field>
            <value>
                <elementReference>SubType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Proposal_to_be_Submitted_By__c</field>
            <value>
                <elementReference>ProposalToBeSubmittedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Research_Office_Contact__c</field>
            <value>
                <elementReference>ResearchOfficeContactVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Status__c</field>
            <value>
                <elementReference>PPStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Submission_Date__c</field>
            <value>
                <elementReference>ROSubmissionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Theme__c</field>
            <value>
                <elementReference>Theme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Project_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Member</name>
        <label>Create Team Member</label>
        <locationX>1694</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Date_Added__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Invitation_Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Proposal__c</field>
            <value>
                <elementReference>ProjectProposalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Team_Member__c</field>
            <value>
                <elementReference>CurrentUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Role__c</field>
            <value>
                <stringValue>Lead Chief Investigator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Team_Member_User__c</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Team_Member__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Proposals</name>
        <label>Get Project Proposals</label>
        <locationX>50</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_User_Already_Applied</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Funding_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>ProjectProposalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>1310</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactIdNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Proposal__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Research_Opportunity_Details</name>
        <label>Lookup Research Opportunity Details</label>
        <locationX>915</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Research_Opportunity__c</object>
        <outputAssignments>
            <assignToReference>ApplicationLimit</assignToReference>
            <field>I_RS_Application_limit_for_institutions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientSuppliedTemplate</assignToReference>
            <field>I_RS_Client_Supplied_Contract_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoticeofIntentRequired</assignToReference>
            <field>I_RS_Notice_of_Intent_Required__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubType</assignToReference>
            <field>I_RS_Opportunity_Sub_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Organisation</assignToReference>
            <field>I_RS_Organisation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProposalToBeSubmittedBy</assignToReference>
            <field>I_RS_Proposal_to_be_Submitted_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOfficeContactVar</assignToReference>
            <field>I_RS_Research_Office_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InternalDate</assignToReference>
            <field>I_RS_Research_Office_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOppNumber</assignToReference>
            <field>I_RS_Research_Opportunity_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ROSubmissionDate</assignToReference>
            <field>I_RS_Submission_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Type</assignToReference>
            <field>I_RS_Type_of_Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOppName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>1964</locationX>
        <locationY>996</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EOI_END</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Expression of Interest Created!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blanky1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click &lt;/span&gt;&lt;a href=&quot;{!DetailPage}&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to view your Project Proposal.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Application_Screen</name>
        <label>Existing Application Screen</label>
        <locationX>56</locationX>
        <locationY>517</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apply_Again_Decision</targetReference>
        </connector>
        <fields>
            <name>AlreadyAppliedMessage</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>You have already applied for this Opportunity.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_apply_again</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Would you like to apply again?&lt;/span&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_Proposal_not_created_Please_close_this_screen_to_continue</name>
        <label>Project Proposal not created. Please close this screen to continue.</label>
        <locationX>232</locationX>
        <locationY>687</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoProposalCreated</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Project proposal not created. Please close this screen to return to previous page.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>1088</locationX>
        <locationY>72</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Already_Submitted_Cheker</targetReference>
        </connector>
        <fields>
            <name>CallScript1</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>You are expressing an interest for this opportunity: {!ResearchOppName}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_Title</name>
            <dataType>String</dataType>
            <fieldText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Project Title&lt;/span&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Can not exceed 80 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX ({!Project_Title}, &quot;^.{1,80}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>HelpTextForComments</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 11px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; Please comment on: co-contributions, special La Trobe staffing requirements such as contract end dates, equipment or research space.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Comments (Maximum 255 Characters)&lt;/span&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Maximum allowed length is 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Theme</name>
            <choiceReferences>Theme_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which theme(s) this project aligns to.</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Already_Submitted</name>
            <dataType>Boolean</dataType>
            <fieldText>Already Submitted</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>noteMessage</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 11px;&quot;&gt;Note: Tick this box if you have already submitted a project proposal directly to the Funding Body.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen_0</name>
        <label>Welcome Screen</label>
        <locationX>1586</locationX>
        <locationY>70</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submission_Date_is_Entered_by_a_User</targetReference>
        </connector>
        <fields>
            <name>CallScript1_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>You are expressing an interest for this opportunity: {!ResearchOppName}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Submission_Date</name>
            <dataType>Date</dataType>
            <fieldText>Submission Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Proposals</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApplyingForMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You are creating an Expression of Interest for this Opportunity: {!ResearchOpp﻿Name}</text>
    </textTemplates>
    <variables>
        <name>AmandaSmithVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicationLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ClientSuppliedTemplate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColourVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>rgb(234, 24, 33)</stringValue>
        </value>
    </variables>
    <variables>
        <name>DeepaVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingProjectProposal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JunctionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JunctionProjectProposal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoticeofIntentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Organisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Project Proposal Status</description>
        <name>PPStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectProposalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>ProjectProposalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProposalToBeSubmittedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1H4Y0000004vih</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOfficeContactVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROSubmissionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
