force-app/main/default/flows/I_RM_Before_Affiliation_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Inferred_Timeframe_to_Study</name>
        <label>Set Inferred Timeframe to Study</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RM_Inferred_Time_Frame_to_Study__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inferredTimeToStudy</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>I_RM_Lead_and_Timeframe_to_Study_Changed</name>
        <label>Lead and Timeframe to Study Changed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>I_RM_Lead_Timeframe_Changed</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RM_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_RM_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_RM_Time_Frame_to_Study__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_RM_Time_Frame_to_Study__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_RM_Time_Frame_to_Study__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>I_RM_Get_Intended_Timeframe_Metadata</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated to include records created 27/05/22</description>
    <formulas>
        <name>inferredTimeToStudy</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.I_RM_Time_Frame_to_Study__c}) =&apos;Unsure&apos;|| ISBLANK(TEXT({!$Record.I_RM_Time_Frame_to_Study__c})) ,&apos;No Date&apos;,
{!I_RM_Get_Intended_Timeframe_Metadata.Semester__c} &amp; &apos;, &apos;&amp; TEXT({!LastModifiedYear}+ {!I_RM_Get_Intended_Timeframe_Metadata.No_of_Yrs__c}))</expression>
    </formulas>
    <formulas>
        <name>LastModifiedDateMonth</name>
        <dataType>Number</dataType>
        <expression>If(ISBLANK({!$Record.LastModifiedDate}),MONTH(TODAY()),MONTH(DATEVALUE({!$Record.LastModifiedDate})))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LastModifiedYear</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.LastModifiedDate}),YEAR(TODAY()),YEAR(DATEVALUE({!$Record.LastModifiedDate})))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>IRM Before Affiliation Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IRM Before Affiliation Upsert v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>I_RM_Get_Intended_Timeframe_Metadata</name>
        <label>Get Intended Timeframe Metadata</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Inferred_Timeframe_to_Study</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_frame_to_Study__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RM_Time_Frame_to_Study__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LastModifiedDateMonth</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>I_ST_Time_frame_to_Study__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>I_RM_Lead_and_Timeframe_to_Study_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>I_RM_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RM_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <object>I_RM_Affiliation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
