force-app/main/default/flows/I_RS_Appointment_of_Examiner_field_prepopulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Initial_field_values</name>
        <label>Set Initial field values</label>
        <locationX>10</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_SDGR_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GRE.I_RS_SDGR_Approver_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_BGR_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GRE.I_RS_BGR_Approver_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GRE.I_RS_Student__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Candidate_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GRE.I_RS_Candidate_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Supervisor_Approver_as_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Supervisor_Approver_as_owner</name>
        <label>Set Supervisor Approver as owner</label>
        <locationX>15</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GRE.I_RS_Supervisor_Approver_User_Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>GRE_Is_Assigned</name>
        <label>GRE Is Assigned</label>
        <locationX>6</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GRE_Is_Assigned_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Graduate_Research_Examination__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Initial_field_values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert</name>
        <label>Is Insert</label>
        <locationX>164</locationX>
        <locationY>340</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appointment_of_Examiner_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Insert_Operation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GRE_Is_Assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>Is true if record does not have an Id, meaning that it hasn&apos;t been inserted yet</description>
        <name>Is_Insert_Operation</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Id})</expression>
    </formulas>
    <interviewLabel>Appointment of Examiner field prepopulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment of Examiner - Pre-Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get parent GRE Data as we will often need its data</description>
        <name>Get_GRE_Data</name>
        <label>Get GRE Data</label>
        <locationX>426</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Graduate_Research_Examination__c</elementReference>
            </value>
        </filters>
        <object>Graduate_Research_Examination__c</object>
        <outputReference>GRE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_BGR_Approver_User_Id__c</queriedFields>
        <queriedFields>I_RS_SDGR_Approver_User_Id__c</queriedFields>
        <queriedFields>I_RS_Student__c</queriedFields>
        <queriedFields>I_RS_Student_User__c</queriedFields>
        <queriedFields>I_RS_Supervisor_Approver_User_Id__c</queriedFields>
        <queriedFields>I_RS_Candidate_Email_Address__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>295</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_GRE_Data</targetReference>
        </connector>
        <object>Appointment_of_Examiner__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Parent GRE</description>
        <name>GRE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Graduate_Research_Examination__c</objectType>
    </variables>
</Flow>
