force-app/main/default/flows/I_RS_Career_Success_Post_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Initialise_new_share_record</name>
        <label>Initialise new share record</label>
        <locationX>319</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>CS_Share_to_insert.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.I_RS_Contact__r.I_RS_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CS_Share_to_insert.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CS_Share_to_insert.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact_Manager__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CS_Share_to_insert.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_new_share_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_has_manager</name>
        <label>Contact has manager</label>
        <locationX>16</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_has_manager_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Contact__r.I_RS_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manager_is_Researcher_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_invalid_shares_found</name>
        <label>Existing invalid shares found</label>
        <locationX>173</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Contact_has_manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_invalid_shares_found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_invalid_share_records_Contact_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_existing_invalid_shares</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_is_Researcher_User</name>
        <label>Manager is Researcher User</label>
        <locationX>156</locationX>
        <locationY>694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_is_Researcher_User_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Contact__r.I_RS_Manager__r.I_RS_Is_Researcher_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_new_share_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Career Success - Post-Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Career Success - Post-Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_new_share_record</name>
        <label>Insert new share record</label>
        <locationX>470</locationX>
        <locationY>686</locationY>
        <inputReference>CS_Share_to_insert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_existing_invalid_shares</name>
        <label>Delete existing invalid shares</label>
        <locationX>396</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Contact_has_manager</targetReference>
        </connector>
        <inputReference>Get_existing_invalid_share_records_Contact_Manager</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_existing_invalid_share_records_Contact_Manager</name>
        <label>Get existing invalid share records - Contact Manager</label>
        <locationX>51</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_invalid_shares_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Contact__r.I_RS_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact_Manager__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Career_Success__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_existing_invalid_share_records_Contact_Manager</targetReference>
        </connector>
        <object>Career_Success__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CS_Share_to_insert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Career_Success__Share</objectType>
    </variables>
</Flow>
