force-app/main/default/flows/I_RS_Graduate_Research_Examination_Prepopulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_fields_from_HDR_to_GRE</name>
        <label>Assign fields from HDR to GRE</label>
        <locationX>186</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Student__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Expected_Work_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Expected_work_submission_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Maximum_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Maximum_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Actual_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Actual_Submission_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Principal_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Principal_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Thesis_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Thesis_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Short_Thesis_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Thesis_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Field_of_Research_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_of_Research</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_College__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Supervisory_College__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Supervisory_School__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Degree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_HDR_Enrolment.I_RS_Degree_Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Student</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_basic_fields</name>
        <label>Set basic fields</label>
        <locationX>177</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Details.I_RS_Related_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Candidate_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Candidate_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_International__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student_Details.I_ST_International_Student__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_IST_variables</name>
        <label>Set IST variables</label>
        <locationX>188</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Course_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.I_RS_HDR_Enrolment__r.I_RS_Student_Course__r.I_ST_CourseAvailability__r.L_AD_CourseInstance__r.L_AD_CourseParent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Student_Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.I_RS_HDR_Enrolment__r.I_RS_Student_Course__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_HDR_Enrolment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_HDR_Enrolment</name>
        <label>Has HDR Enrolment</label>
        <locationX>375</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Has_Student</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_HDR_Enrolment_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_HDR_Enrolment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IST_variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Student</name>
        <label>Has Student</label>
        <locationX>377</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Student_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Student__r.I_RS_Related_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Student_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>15th Nov&apos; 2022 : Added in the Entry Criteria to not invoke when GRS record’s status is ‘Closed’</description>
    <environments>Default</environments>
    <formulas>
        <name>Candidate_Email</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!$Record.I_RS_Student__r.I_ST_Student_Email__c}),
{!$Record.I_RS_Student__r.I_ST_Student_Email__c},
{!$Record.I_RS_Student__r.Email}
)</expression>
    </formulas>
    <formulas>
        <name>Degree</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!Get_HDR_Enrolment.I_RS_Degree_Code__c} + &apos; - &apos; + {!Get_HDR_Enrolment.I_RS_Degree_Title__c},
255
)</expression>
    </formulas>
    <formulas>
        <name>Field_of_Research</name>
        <dataType>String</dataType>
        <expression>{!Get_HDR_Enrolment.I_RS_Field_of_Research__c} + &apos; - &apos; + {!Get_HDR_Enrolment.I_RS_Field_of_Research_Description__c}</expression>
    </formulas>
    <formulas>
        <name>Short_Thesis_Title</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_HDR_Enrolment.I_RS_Thesis_Title__c}, 255)</expression>
    </formulas>
    <interviewLabel>Graduate Research Examination - Prepopulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Graduate Research Examination - Prepopulation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HDR_Enrolment</name>
        <label>Get HDR Enrolment</label>
        <locationX>193</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_fields_from_HDR_to_GRE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_HDR_Enrolment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HDR_Enrolment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student_Details</name>
        <label>Get Student Details</label>
        <locationX>177</locationX>
        <locationY>765</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_basic_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Student__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Related_User__c</queriedFields>
        <queriedFields>I_ST_International_Student__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>I_ST_Student_Email__c</queriedFields>
        <queriedFields>I_RS_School__c</queriedFields>
        <queriedFields>I_RS_College__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>259</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Has_HDR_Enrolment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOI to Submit</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authority to Submit</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upload Thesis</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Examination</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outcome Communicated</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completion Requirements</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Academic Board Approval</stringValue>
            </value>
        </filters>
        <object>Graduate_Research_Examination__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
