force-app/main/default/flows/I_RS_Approval_Page_Launch_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Approval_Request_Found</name>
        <label>Approval Request Found</label>
        <locationX>183</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>No_Request_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Request_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Approval_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Results_found_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Approval_Process_Exists</name>
        <label>Current Approval Process Exists</label>
        <locationX>168</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>No_Request_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Approval_Process_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Approval_Process_Instance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Approval_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Approval Page Launch Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Page Launch Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Approval_Process_Instance</name>
        <label>Get Current Approval Process Instance</label>
        <locationX>174</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Approval_Process_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Approval_Request</name>
        <label>Get Current Approval Request</label>
        <locationX>175</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approval_Request_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Approval_Process_Instance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>No_Request_Found_Screen</name>
        <label>No Request Found Screen</label>
        <locationX>427</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Results_Found</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>No approvals need your attention now </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sldsTextClass</name>
                <value>
                    <stringValue>slds-text-heading_medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Results_found_Screen</name>
        <label>Results found Screen</label>
        <locationX>187</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result_found_icon</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sldsTextClass</name>
                <value>
                    <stringValue>slds-text-heading_medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:notification</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Record awaiting your decision</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Hyperlink</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/portal/s/detail/{!Get_Current_Approval_Request.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to approve/reject this record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_Approval_Process_Instance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
