force-app/main/default/flows/I_RS_PRIME_Contact_Post_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>GRE_fields_changed</name>
        <label>GRE fields changed</label>
        <locationX>165</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GRE_fields_changed_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_ST_Student_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.I_ST_Student_Email__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_ST_International_Student__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.I_ST_International_Student__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Update_GRE_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_User_has_changed</name>
        <label>Manager User has changed</label>
        <locationX>168</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>GRE_fields_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_User_has_changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_RS_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.I_RS_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dummy_Update_Career_Success_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>PRIME Contact Post-Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRIME Contact Post-Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Dummy_Update_Career_Success_records</name>
        <label>Dummy-Update Career Success records</label>
        <locationX>7</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>GRE_fields_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Career_Success__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Dummy_Update_GRE_records</name>
        <label>Dummy-Update GRE records</label>
        <locationX>13</locationX>
        <locationY>602</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Student__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Graduate_Research_Examination__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Manager_User_has_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
