force-app/main/default/flows/I_RS_Access_to_Thesis_Consent_Form_field_prepopulation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_record_fields</name>
        <label>Set record fields</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_RS_BGR_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GRE_record.I_RS_BGR_Approver_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Supervisor_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GRE_record.I_RS_Supervisor_Approver_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Student__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GRE_record.I_RS_Student__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.I_RS_Candidate_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GRE_record.I_RS_Candidate_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_new_record</name>
        <label>Is new record</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_record_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GRE_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Run pre-save logic on ACT Form object</description>
    <interviewLabel>Access to Thesis Consent Form field prepopulation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Access to Thesis Consent Form field prepopulation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GRE_record</name>
        <label>Get GRE record</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_record_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Graduate_Research_Examination_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Graduate_Research_Examination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_BGR_Approver_User_Id__c</queriedFields>
        <queriedFields>I_RS_Supervisor_Approver_User_Id__c</queriedFields>
        <queriedFields>I_RS_Student__c</queriedFields>
        <queriedFields>I_RS_Candidate_Email_Address__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new_record</targetReference>
        </connector>
        <object>Access_to_Thesis_Consent__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
