force-app/main/default/flows/I_RS_Create_GRE_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_created_GRE</name>
        <label>Navigate to created GRE</label>
        <locationX>1419</locationX>
        <locationY>1156</locationY>
        <actionName>c:AutoNavigateToStaticURL</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_Record_URL.I_RS_Record_URL__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page</name>
        <label>Refresh Page</label>
        <locationX>999</locationX>
        <locationY>1263</locationY>
        <actionName>c:QuickRefreshInFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Error_Message_GRE_already_has_enrolment</name>
        <label>Set Error Message - GRE already has enrolment</label>
        <locationX>983</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Graduate Research Examination already has an Enrolment. Please create a new GRE if required.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_to_fault_message</name>
        <label>Set Error Message to fault message</label>
        <locationX>1086</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_GRE_values</name>
        <label>Set Existing GRE values</label>
        <locationX>603</locationX>
        <locationY>1178</locationY>
        <assignmentItems>
            <assignToReference>Get_GRE_by_Record_Id.I_RS_HDR_Enrolment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDR_Enrolments_Radio_Buttons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_GRE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GRE_Candidate_as_Candidate_Contact_Id</name>
        <label>Set GRE Candidate as Candidate Contact Id</label>
        <locationX>582</locationX>
        <locationY>805</locationY>
        <assignmentItems>
            <assignToReference>Candidate_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_GRE_by_Record_Id.I_RS_Student__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_HDR_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GRE_record_variables_before_insert</name>
        <label>Set GRE record variables before insert</label>
        <locationX>615</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>GRE_to_insert.I_RS_HDR_Enrolment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HDR_Enrolments_Radio_Buttons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GRE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_page_record_Id_as_Candidate_Id</name>
        <label>Set page record Id as Candidate Id</label>
        <locationX>306</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>Candidate_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_HDR_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Logged_In_Users_Id_as_Candidate_Id</name>
        <label>Use Logged-In Users Id as Candidate Id</label>
        <locationX>50</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>Candidate_Contact_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_HDR_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_user_is_researcher</name>
        <label>Current user is researcher</label>
        <locationX>270</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_user_is_researcher_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.I_RS_Is_Researcher_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_Logged_In_Users_Id_as_Candidate_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_GRE_already_have_HDR_Enrolment</name>
        <label>Does GRE already have HDR Enrolment</label>
        <locationX>677</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message_GRE_already_has_enrolment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_GRE_already_have_HDR_Enrolment_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GRE_by_Record_Id.I_RS_HDR_Enrolment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GRE_Candidate_as_Candidate_Contact_Id</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_GRE</name>
        <label>Existing GRE</label>
        <locationX>263</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>Set_GRE_record_variables_before_insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_or_existing_GRE_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GRE_by_Record_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_GRE_values</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_GRE_1</name>
        <label>Existing GRE</label>
        <locationX>680</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Current_user_is_researcher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_GRE_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GRE_by_Record_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_GRE_already_have_HDR_Enrolment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added Affiliation Contact</description>
    <dynamicChoiceSets>
        <name>HDREnrolments</name>
        <dataType>String</dataType>
        <displayField>I_RS_Select_Enrolment_Choice_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Student__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Contact_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Course_Admission_Stage_Desc__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admitted</stringValue>
            </value>
        </filters>
        <object>HDR_Enrolment__c</object>
        <outputAssignments>
            <assignToReference>Candidate_Contact_record.AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>GRE_Record_URL</name>
        <dataType>String</dataType>
        <expression>{!GRE_to_insert.Id}</expression>
    </formulas>
    <interviewLabel>Create GRE Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Graduate Research Examination</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GRE</name>
        <label>Create GRE</label>
        <locationX>801</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>Get_Record_URL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_to_fault_message</targetReference>
        </faultConnector>
        <inputReference>GRE_to_insert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>402</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_page_record_Id_as_Candidate_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>I_RM_Affiliation__c</object>
        <outputAssignments>
            <assignToReference>AffiliationContact</assignToReference>
            <field>I_RM_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_GRE_by_Record_Id</name>
        <label>Get GRE by Record Id</label>
        <locationX>689</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_GRE_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Graduate_Research_Examination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_URL</name>
        <label>Get Record URL</label>
        <locationX>1185</locationX>
        <locationY>1015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Navigate_to_created_GRE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GRE_to_insert.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Graduate_Research_Examination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_GRE</name>
        <label>Update GRE</label>
        <locationX>830</locationX>
        <locationY>1201</locationY>
        <connector>
            <targetReference>Refresh_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_to_fault_message</targetReference>
        </faultConnector>
        <inputReference>Get_GRE_by_Record_Id</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1256</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Icon</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Error_Message</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_HDR_Screen</name>
        <label>Select HDR Screen</label>
        <locationX>284</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Existing_GRE</targetReference>
        </connector>
        <fields>
            <name>Instruction_text</name>
            <fieldText>&lt;p&gt;This will create a new Graduate Research Examination record in your name. From this record, you can:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;- Track the progress of your examination&lt;/p&gt;&lt;p&gt;- Submit your examination forms, such as your Notice of Intention to Submit form&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Supervisors cannot create a Graduate Research Examination record on behalf of their candidate. If your candidate cannot create the record themselves, please contact &lt;a href=&quot;exams.grs@latrobe.edu.au&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;exams.grs@latrobe.edu.au&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Current_user_is_researcher_Yes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HDR_Enrolments_Radio_Buttons</name>
            <choiceReferences>HDREnrolments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the appropriate enrolment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1241</locationX>
        <locationY>1257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Icon</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Save successful</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>563</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_GRE_by_Record_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AffiliationContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Candidate_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Candidate_Contact_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GRE_to_insert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Graduate_Research_Examination__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_HDR_Enrolment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HDR_Enrolment__c</objectType>
    </variables>
</Flow>
