force-app/main/default/flows/I_ST_Case_Lead_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Case_Field_Value</name>
        <label>Get Case Field Value</label>
        <locationX>827</locationX>
        <locationY>457</locationY>
        <actionName>I_ST_FlowParseFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Metadata</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>field</name>
            <value>
                <elementReference>Loop_Scoring_Fields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RecordValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact0</name>
        <label>Update Contact</label>
        <locationX>355</locationX>
        <locationY>892</locationY>
        <actionName>I_ST_FlowUpdateDuplicate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cons</name>
            <value>
                <elementReference>RelatedContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Lead_Score</name>
        <label>Add to Lead Score</label>
        <locationX>827</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>FinalLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Metadata.I_ST_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Contact_Incremental_Score</name>
        <label>Assign Total Contact Incremental Score</label>
        <locationX>354</locationX>
        <locationY>750</locationY>
        <assignmentItems>
            <assignToReference>RelatedContact.I_ST_Incremental_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalContactIncrementalScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unique_fields</name>
        <label>Assign unique fields</label>
        <locationX>1259</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>PicklistFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_Picklist_Fields.I_ST_Field_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Related_Case_Incremental_Scores</name>
        <label>Sum Related Case Incremental Scores</label>
        <locationX>186</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>TotalContactIncrementalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Cases.I_ST_Incremental_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Final_Score</name>
        <label>Update Final Score</label>
        <locationX>606</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.I_ST_Incremental_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_set_already_contains</name>
        <label>Check if set already contains</label>
        <locationX>1033</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Assign_unique_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set does not contain</defaultConnectorLabel>
        <rules>
            <name>Set_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PicklistFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Extract_Picklist_Fields.I_ST_Field_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Picklist_Fields</targetReference>
            </connector>
            <label>Set Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_True</name>
        <label>Check Is True</label>
        <locationX>1518</locationX>
        <locationY>896</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Lead_Score</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_Value_Matched_Metadata_Label</name>
        <label>Field Value Matched Metadata Label</label>
        <locationX>1109</locationX>
        <locationY>729</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value Match</defaultConnectorLabel>
        <rules>
            <name>Value_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Metadata.Label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Lead_Score</targetReference>
            </connector>
            <label>Value Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Scoring_Field_Matches_Metadata_field</name>
        <label>If Scoring Field Matches Metadata field</label>
        <locationX>1171</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Field_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Field_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Scoring_Fields</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operator</targetReference>
            </connector>
            <label>Field Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Null</name>
        <label>Is Contact Null</label>
        <locationX>457</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Score_Picklist_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact not null</defaultConnectorLabel>
        <rules>
            <name>Null_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Field_Unpopulated</name>
        <label>Is Field Unpopulated</label>
        <locationX>1259</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Add_to_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Unpopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Metadata</targetReference>
            </connector>
            <label>Unpopulated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operator</name>
        <label>Operator</label>
        <locationX>1281</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Operator Error</defaultConnectorLabel>
        <rules>
            <name>EQUALS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EQUALS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Value_Matched_Metadata_Label</targetReference>
            </connector>
            <label>EQUALS</label>
        </rules>
        <rules>
            <name>ISPOPULATED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISPOPULATED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Field_Unpopulated</targetReference>
            </connector>
            <label>ISPOPULATED</label>
        </rules>
        <rules>
            <name>ISTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISTRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_True</targetReference>
            </connector>
            <label>ISTRUE</label>
        </rules>
    </decisions>
    <description>{!RelatedContact.I_ST_Scoring_Status_Change_Watermark__c} - (1/1440)  -Watermark value filter</description>
    <formulas>
        <name>CaseCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>{!RelatedContact.I_ST_Scoring_Status_Change_Watermark__c} - (1/1440)</expression>
    </formulas>
    <interviewLabel>IST Case Lead Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IST Case Lead Scoring</label>
    <loops>
        <name>Extract_Picklist_Fields</name>
        <label>Extract Picklist Fields</label>
        <locationX>829</locationX>
        <locationY>310</locationY>
        <collectionReference>Get_Lead_Score_Picklist_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_set_already_contains</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Scoring_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Metadata</name>
        <label>Loop Metadata</label>
        <locationX>827</locationX>
        <locationY>578</locationY>
        <collectionReference>Get_Lead_Score_Picklist_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Scoring_Field_Matches_Metadata_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Scoring_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Cases</name>
        <label>Loop Related Cases</label>
        <locationX>350</locationX>
        <locationY>586</locationY>
        <collectionReference>Get_all_related_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Related_Case_Incremental_Scores</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Contact_Incremental_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Scoring_Fields</name>
        <label>Loop Scoring Fields</label>
        <locationX>603</locationX>
        <locationY>446</locationY>
        <collectionReference>PicklistFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Case_Field_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Final_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_related_cases</name>
        <label>Get all related cases</label>
        <locationX>479</locationX>
        <locationY>586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CaseCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_ST_Do_not_Score__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>177</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Score_Picklist_Metadata</name>
        <label>Get Lead Score Picklist Metadata</label>
        <locationX>648</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Picklist_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_ST_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_ST_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>I_ST_Lead_Scoring__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact_Record</name>
        <label>Get Related Contact Record</label>
        <locationX>345</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>RelatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_ST_Incremental_Score__c</queriedFields>
        <queriedFields>I_ST_Scoring_Status_Change_Watermark__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>605</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Get_all_related_cases</targetReference>
        </connector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FinalLeadScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InputCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NEW</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OLD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PicklistFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TotalContactIncrementalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
