force-app/main/default/flows/I_ST_Internal_Schedule_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Encrypt_Service_Appointment_Id</name>
        <label>Encrypt Service Appointment Id</label>
        <locationX>1931</locationX>
        <locationY>244</locationY>
        <actionName>I_ST_FlowEncryptText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointment.I_ST_Encrypted_Id__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Case_RT</name>
        <label>Get Case RT</label>
        <locationX>436</locationX>
        <locationY>420</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Customer_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_ST_Enquiry</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_ServiceAppointmentFields</name>
        <label>Get ServiceAppointmentFields</label>
        <locationX>1542</locationX>
        <locationY>651</locationY>
        <actionName>I_ST_FlowFlattenFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AppointmentType</name>
            <value>
                <elementReference>ServiceAppointment.AppointmentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>InputContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>ServiceAppointment.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>InputContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSlotChanged</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParentRecordId</name>
            <value>
                <elementReference>InputContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedEndTime</name>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedStartTime</name>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTerritoryId</name>
            <value>
                <elementReference>ServiceTerritory.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeGroupId</name>
            <value>
                <elementReference>WorkTypeGroupId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointmentFields</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>1539</locationX>
        <locationY>499</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>Assigned_Resource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>OptionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>2204</locationX>
        <locationY>246</locationY>
        <actionName>ServiceAppointment.I_ST_New_Consultation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>AnonymousBooking</description>
        <name>AnonymousBooking</name>
        <label>AnonymousBooking</label>
        <locationX>1440</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Slot_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Info</name>
        <label>Assign Case Info</label>
        <locationX>1218</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Campus_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Campus_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Study_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Study_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Enquirer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Enquirer_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Appointment_Type} Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Intended_Course_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Study_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Study_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Case_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCategoryDerivation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_RM_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Time_Slot_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Service_Appointment</name>
        <label>Initialise Service Appointment</label>
        <locationX>1216</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.I_ST_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This only happens at the Service Appointment update</description>
        <name>Relate_Case_to_Service_Appointment</name>
        <label>Relate Case to Service Appointment</label>
        <locationX>1811</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.I_ST_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encrypt_Service_Appointment_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Slot_Stage</name>
        <label>Set Time Slot Stage</label>
        <locationX>1218</locationX>
        <locationY>910</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AutoAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1620</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>1336</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Automaticallyassignaresource</description>
        <name>Automaticallyassignaresource</name>
        <choiceText>Automatically assign a consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Automatically assign a consultant</stringValue>
        </value>
    </choices>
    <choices>
        <description>Select Resource</description>
        <name>SelectResource</name>
        <choiceText>Select a c&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;onsultant&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select a consultant</stringValue>
        </value>
    </choices>
    <constants>
        <name>DEFAULT_COMPANY_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Provided</stringValue>
        </value>
    </constants>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Active_Affiliation</name>
        <label>Active Affiliation</label>
        <locationX>655</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>No_Active_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliationRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affiliation_has_Email</targetReference>
            </connector>
            <label>Active Lead?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Affiliation_has_Email</name>
        <label>Affiliation has Email</label>
        <locationX>651</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>No_Email_on_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliationRecord.I_RM_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Input_Contact</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>AutoAssign</name>
        <label>AutoAssign?</label>
        <locationX>1342</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>Select_Resource_Slot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Assignment_type1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Automaticallyassignaresource</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnonymousBooking</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Booking_Location</name>
        <label>Choose Booking Location?</label>
        <locationX>602</locationX>
        <locationY>752</locationY>
        <defaultConnector>
            <targetReference>GetTerritoryName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Not Needed</defaultConnectorLabel>
        <rules>
            <name>Location_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Face to Face</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Group_Member</targetReference>
            </connector>
            <label>Location Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Mapping</name>
        <label>Territory Mapping?</label>
        <locationX>907</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>No_Mapping_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritoryName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Generic_Service_Territory</targetReference>
            </connector>
            <label>Exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>TerritoryExists</name>
        <label>TerritoryExists</label>
        <locationX>1114</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>No_Mapping_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialise_Service_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Anonymous Booking Selected
Custom screen with Radio button in first screen
Radio button default

reset values
study level

Campus interest
Case Category derivation
Owner Id change

Added Affiliation details
Email Field update
Version 9 - activated with check on the active lead

Email action update
Removed below picklist as not used any where  in the flow : 
CampusInterest
StudyLevel
EnquirerType
Added check for email and error message if lead has no email</description>
    <dynamicChoiceSets>
        <name>AppointmentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AppointmentType</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnquirerType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RM_Enquirer_Type__c</picklistField>
        <picklistObject>I_RM_Affiliation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTerritories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTerritoryWorkTypes</name>
        <dataType>String</dataType>
        <displayField>I_ST_Service_Territory_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Type_Group_Member.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_ST_Service_Territory_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_ST_Service_Territory_IsGeneric__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryWorkType</object>
        <valueField>ServiceTerritoryId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkTypeOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CaseCategoryDerivation</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!AffiliationRecord.I_RM_Study_Level__c})=&apos;Other&apos;,&apos;Undergraduate&apos;,TEXT({!AffiliationRecord.I_RM_Study_Level__c}))</expression>
    </formulas>
    <interviewLabel>I ST Internal Schedule Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal Schedule Consultation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1704</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Relate_Case_to_Service_Appointment</targetReference>
        </connector>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>1538</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputAssignments>
            <assignToReference>ServiceResId</assignToReference>
            <field>ServiceResourceId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Affiliation</name>
        <label>Get Active Affiliation</label>
        <locationX>521</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Affiliation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RM_EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>I_RM_Affiliation__c</object>
        <outputReference>AffiliationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RM_Contact__c</queriedFields>
        <queriedFields>I_RM_Study_Interest__c</queriedFields>
        <queriedFields>I_RM_Career_Area__c</queriedFields>
        <queriedFields>I_RM_Study_Level__c</queriedFields>
        <queriedFields>I_RM_Campus_Interest__c</queriedFields>
        <queriedFields>I_RM_Enquirer_Type__c</queriedFields>
        <queriedFields>I_RM_Email__c</queriedFields>
        <queriedFields>I_RM_Mobile_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Service_Territory</name>
        <label>Get Generic Service Territory</label>
        <locationX>1033</locationX>
        <locationY>559</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TerritoryExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_ST_Is_Generic__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryName</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>ServiceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Input_Contact</name>
        <label>Get Input Contact</label>
        <locationX>648</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>InputContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>1038</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialise_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Preferred_Booking_Location</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>ServiceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id</name>
        <label>Get User Id</label>
        <locationX>1534</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>CaseOwnerId</assignToReference>
            <field>RelatedRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Group</name>
        <label>Get Work Type Group</label>
        <locationX>440</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Booking_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_ST_Study_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Study_Level__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Group_Member</name>
        <label>Get Work Type Group Member</label>
        <locationX>791</locationX>
        <locationY>748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Info_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Scheduler Campus Territory Mapping</description>
        <name>GetTerritoryName</name>
        <label>Get Territory Name</label>
        <locationX>740</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Territory_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campus_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Campus_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Study_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AffiliationRecord.I_RM_Study_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>I_ST_Campus_Territory_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceTerritoryName</assignToReference>
            <field>Service_Territory_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>2056</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>2335</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PleaseCloseMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;u style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;We look forward to seeing you&lt;/u&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;! You should receive an email shortly confirming your consult details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Info</name>
        <label>Details</label>
        <locationX>434</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Work_Type_Group</targetReference>
        </connector>
        <fields>
            <name>Appointment_Type</name>
            <choiceReferences>AppointmentType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Consultation Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Assignment_type1</name>
            <choiceReferences>Automaticallyassignaresource</choiceReferences>
            <choiceReferences>SelectResource</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Automaticallyassignaresource</defaultSelectedChoiceReference>
            <fieldText>Select Assignment type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Course_Name</name>
            <dataType>String</dataType>
            <fieldText>Course Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Please outline what you would like to discuss at your consultation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Info_0</name>
        <label>Location Input</label>
        <locationX>906</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <fields>
            <name>Preferred_Booking_Location</name>
            <choiceReferences>ServiceTerritoryWorkTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Booking Location</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Active_Lead</name>
        <label>No Active Lead</label>
        <locationX>937</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Active_Lead_Found</name>
            <fieldText>&lt;p&gt;Consultation booking is allowed only for Active Student Lead (Dom)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Email_on_Lead</name>
        <label>No Email on Lead</label>
        <locationX>909</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoEmailError</name>
            <fieldText>&lt;p&gt;To book a Consultation, please add a Personal Email to the Student Lead (Dom) Affiliation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Mapping_Exists</name>
        <label>No Mapping Exists</label>
        <locationX>912</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Slots</name>
            <fieldText>&lt;p&gt;Apologies. No Consultation available on the selected Campus .&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>1450</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ServiceAppointmentFields</targetReference>
        </connector>
        <fields>
            <name>DisplayReviewInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!InputContact.FirstName} {!InputContact.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!AffiliationRecord.I_RM_Email__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Mobile&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!AffiliationRecord.I_RM_Mobile_Phone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Consultation Time&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.SchedStartTime} - &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ServiceAppointment.SchedEndTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿Consultation Type&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.AppointmentType}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Study Level&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AffiliationRecord.I_RM_Study_Level__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Preferred Booking Location&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Preferred_Booking_Location}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Study Area&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!AffiliationRecord.I_RM_Study_Interest__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Campus Interest&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!AffiliationRecord.I_RM_Campus_Interest__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;What best describes you?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!AffiliationRecord.I_RM_Enquirer_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Discussion Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Resource_Slot</name>
        <label>Select Resource &amp; Slot</label>
        <locationX>1324</locationX>
        <locationY>802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>SelectResourceSlot</name>
            <extensionName>runtime_appointmentbooking:resourceSlot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Slot_Screen</name>
        <label>Time Slot Screen</label>
        <locationX>1430</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>appointment_time</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <elementReference>disableMultiResourceAndConcurrency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>CompositeStage</name>
        <isActive>false</isActive>
        <label>CompositeStage</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>95</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>0</stageOrder>
    </stages>
    <start>
        <locationX>162</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Active_Affiliation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AffiliationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>I_RM_Affiliation__c</objectType>
    </variables>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disableMultiResourceAndConcurrency</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold values of distance units.</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <name>InputContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LocationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OptionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FIND_RESOURCE</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
