force-app/main/default/flows/I_ST_Contact_Lead_Scoring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Field_Value_Pair_Collection</name>
        <label>Get Field Value Pair Collection</label>
        <locationX>582</locationX>
        <locationY>440</locationY>
        <actionName>I_ST_FlowParseFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Metadata</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>field</name>
            <value>
                <elementReference>Loop_Scoring_Fields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>Get_Contact_Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>RecordValue</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>352</locationX>
        <locationY>767</locationY>
        <actionName>I_ST_FlowUpdateDuplicate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cons</name>
            <value>
                <elementReference>Get_Contact_Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_to_Lead_Score</name>
        <label>Add to Lead Score</label>
        <locationX>433</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>FinalLeadScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Metadata.I_ST_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_unique_fields</name>
        <label>Assign unique fields</label>
        <locationX>1013</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>PicklistFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extract_Picklist_Fields.I_ST_Field_API_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Picklist_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Score</name>
        <label>Update Lead Score</label>
        <locationX>354</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact_Record.I_ST_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalLeadScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_set_already_contains</name>
        <label>Check if set already contains</label>
        <locationX>787</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Assign_unique_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set does not contain</defaultConnectorLabel>
        <rules>
            <name>Set_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PicklistFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Extract_Picklist_Fields.I_ST_Field_API_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Picklist_Fields</targetReference>
            </connector>
            <label>Set Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_true</name>
        <label>Check Is true</label>
        <locationX>1237</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is False</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Lead_Score</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Valid_Postcode</name>
        <label>Check Valid Postcode</label>
        <locationX>1336</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Postcode</defaultConnectorLabel>
        <rules>
            <name>Valid_Postcode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidPostcode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Lead_Score</targetReference>
            </connector>
            <label>Valid Postcode</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_Value_Matched_Metadata_Label</name>
        <label>Field Value Matched Metadata Label</label>
        <locationX>717</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Metadata.Label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Lead_Score</targetReference>
            </connector>
            <label>Value Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Scoring_Field_Matches_Metadata_field</name>
        <label>If Scoring Field Matches Metadata field</label>
        <locationX>812</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Field_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Field_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Scoring_Fields</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operator</targetReference>
            </connector>
            <label>Field Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Field_Unpopulated</name>
        <label>Is Field Unpopulated</label>
        <locationX>1037</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>Add_to_Lead_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Populated</defaultConnectorLabel>
        <rules>
            <name>Unpopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Metadata</targetReference>
            </connector>
            <label>Unpopulated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Operator</name>
        <label>Operator</label>
        <locationX>1056</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Operator Error</defaultConnectorLabel>
        <rules>
            <name>EQUALS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EQUALS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Value_Matched_Metadata_Label</targetReference>
            </connector>
            <label>EQUALS</label>
        </rules>
        <rules>
            <name>ISPOPULATED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISPOPULATED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Field_Unpopulated</targetReference>
            </connector>
            <label>ISPOPULATED</label>
        </rules>
        <rules>
            <name>ISTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ISTRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Is_true</targetReference>
            </connector>
            <label>ISTRUE</label>
        </rules>
        <rules>
            <name>VALIDPOSTCODE1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata.I_ST_Operator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VALIDPOSTCODE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Valid_Postcode</targetReference>
            </connector>
            <label>VALIDPOSTCODE</label>
        </rules>
    </decisions>
    <formulas>
        <name>ValidPostcode</name>
        <dataType>Boolean</dataType>
        <expression>if(
LEN({!RecordValue}) &lt;5 ,true ,false
)</expression>
    </formulas>
    <interviewLabel>IST Contact Lead Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IST Contact Lead Scoring</label>
    <loops>
        <name>Extract_Picklist_Fields</name>
        <label>Extract Picklist Fields</label>
        <locationX>582</locationX>
        <locationY>310</locationY>
        <collectionReference>Get_Lead_Score_Picklist_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_set_already_contains</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Scoring_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Metadata</name>
        <label>Loop Metadata</label>
        <locationX>581</locationX>
        <locationY>578</locationY>
        <collectionReference>Get_Lead_Score_Picklist_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Scoring_Field_Matches_Metadata_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Scoring_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Scoring_Fields</name>
        <label>Loop Scoring Fields</label>
        <locationX>356</locationX>
        <locationY>446</locationY>
        <collectionReference>PicklistFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Field_Value_Pair_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>233</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Score_Picklist_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Score_Picklist_Metadata</name>
        <label>Get Lead Score Picklist Metadata</label>
        <locationX>402</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Picklist_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_ST_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_ST_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>I_ST_Lead_Scoring__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>107</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FinalLeadScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PicklistFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
