force-app/main/default/flows/I_ST_Schedule_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Dom_Lead_record_type</name>
        <label>Dom Lead record type</label>
        <locationX>775</locationX>
        <locationY>783</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Dummy_Dup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>I_RM_Affiliation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_RM_Lead</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Encrypt_Service_Appointment_Id</name>
        <label>Encrypt Service Appointment Id</label>
        <locationX>2147</locationX>
        <locationY>26</locationY>
        <actionName>I_ST_FlowEncryptText</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Service_Appointments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointment.I_ST_Encrypted_Id__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Find_duplicateContact</name>
        <label>Find duplicateContact</label>
        <locationX>970</locationX>
        <locationY>785</locationY>
        <actionName>I_ST_FlowFindDuplicates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Consultation_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AllOrFirst</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>Email0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Mobile</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DuplicateContact</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Account_RT</name>
        <label>Get Account RT</label>
        <locationX>672</locationX>
        <locationY>783</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Dom_Lead_record_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_ST_Lead_Account</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Case_RT</name>
        <label>Get Case RT</label>
        <locationX>566</locationX>
        <locationY>782</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_RT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_ST_Enquiry</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_ServiceAppointmentFields</name>
        <label>Get ServiceAppointmentFields</label>
        <locationX>2015</locationX>
        <locationY>633</locationY>
        <actionName>I_ST_FlowFlattenFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AppointmentType</name>
            <value>
                <elementReference>ServiceAppointment.AppointmentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactId</name>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>ServiceAppointment.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Email</name>
            <value>
                <elementReference>LeadAffiliation.I_RM_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsNewConsultation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsRescheduledConsultation</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSlotChanged</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParentRecordId</name>
            <value>
                <elementReference>ApplicantContact.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>LeadAffiliation.I_RM_Mobile_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedEndTime</name>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SchedStartTime</name>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceResourceId</name>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ServiceTerritoryId</name>
            <value>
                <elementReference>ServiceTerritory.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkTypeGroupId</name>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointmentFields</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Insert_New_Contact</name>
        <label>Insert Contact</label>
        <locationX>1308</locationX>
        <locationY>823</locationY>
        <actionName>I_RM_FlowInsertContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Affiliation_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cons</name>
            <value>
                <elementReference>ApplicantContact</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApplicantContact.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>1854</locationX>
        <locationY>634</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>Get_UserID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>OptionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>2336</locationX>
        <locationY>285</locationY>
        <actionName>ServiceAppointment.I_ST_New_Consultation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateAffiliation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Service_Appointments</name>
        <label>Update Service Appointments</label>
        <locationX>2329</locationX>
        <locationY>25</locationY>
        <actionName>I_ST_FlowUpdateServiceAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointments</name>
            <value>
                <elementReference>ServiceAppointment</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Affiliation_Info_0_0</name>
        <label>Assign Affiliation Info</label>
        <locationX>1588</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Campus_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campus_Interest0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Study_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Studyinterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Enquirer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Career_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareerArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Study_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Lead_Source_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Lead_Source_sub_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group.I_ST_Subcategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAffiliation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relate_New_Records_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Affiliation_Info_0_0_0</name>
        <label>Assign Affiliation Info</label>
        <locationX>1464</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Campus_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campus_Interest0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Study_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Studyinterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Enquirer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Career_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareerArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Study_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.I_RM_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Affiliation_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadAffiliation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dom_Lead_record_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relate_New_Records_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Info</name>
        <label>Assign Case Info</label>
        <locationX>1705</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Campus_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Campus_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Study_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Study_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Enquirer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Enquirer_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Appointment_Type} Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Intended_Course_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Career_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Career_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Study_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Study_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_ST_Case_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseCategoryDerivation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.I_RM_Affiliation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadAffiliation.I_RM_Mobile_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Time_Slot_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consultation_Info</name>
        <label>Assign Consultation Info</label>
        <locationX>971</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceTerritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deduplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Info_0</name>
        <label>Assign Customer Info</label>
        <locationX>1141</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>ApplicantContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.I_ST_share_with_guest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Organisation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Info_0_0</name>
        <label>Assign Customer Info</label>
        <locationX>1160</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>ApplicantContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_RT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.I_ST_share_with_guest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrganisation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Affiliation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Nedded as &apos;class moduleapi.interaction.FlowPicklistValue cannot be cast to class java.lang.String &apos; is thrown when whole assinged contact is passed into dup test class</description>
        <name>Assign_Dummy_Dup</name>
        <label>Assign Dummy Dup</label>
        <locationX>875</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>DummyDup.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyDup.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyDup.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyDup.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyDup.I_ST_Personal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_duplicateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organisation_to_Contact</name>
        <label>Assign Organisation to Contact</label>
        <locationX>1141</locationX>
        <locationY>824</locationY>
        <assignmentItems>
            <assignToReference>ApplicantContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOrganisation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>231</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Affiliation_Info</name>
        <label>New Affiliation Info</label>
        <locationX>1309</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Campus_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campus_Interest0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Study_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Studyinterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Enquirer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Career_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareerArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Study_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Mobile_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Lead_Source_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Lead_Source_sub_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Type_Group.I_ST_Subcategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Domestic Lead</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dom_Lead_record_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAffiliation.I_RM_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead_Affiliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This only happens at the Service Appointment update</description>
        <name>Relate_Case_and_Contact_to_Service_Appointment</name>
        <label>Relate Case and Contact to Service Appointment</label>
        <locationX>1992</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.I_ST_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Encrypt_Service_Appointment_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Relate_New_Records_0</name>
        <label>Relate New Records</label>
        <locationX>1589</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.I_ST_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Slot_Stage</name>
        <label>Set Time Slot Stage</label>
        <locationX>1705</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Slot_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1853</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>1847</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FacetoFace</name>
        <choiceText>Face to Face</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Face to Face</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Video</name>
        <choiceText>Video</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Video</stringValue>
        </value>
    </choices>
    <constants>
        <name>DEFAULT_COMPANY_VALUE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Provided</stringValue>
        </value>
    </constants>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <constants>
        <name>OrgWideEmaillAddressDisplayNameForFutureStudents</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Future Students</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Affiliation</name>
        <label>Affiliation</label>
        <locationX>1297</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>New_Affiliation_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Affiliation</defaultConnectorLabel>
        <rules>
            <name>Lead_Affiliation_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Affiliation_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Affiliation_Info_0_0_0</targetReference>
            </connector>
            <label>Lead Affiliation Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Booking_Location</name>
        <label>Choose Booking Location?</label>
        <locationX>166</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Work_Type_Group_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location not needed</defaultConnectorLabel>
        <rules>
            <name>Location_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Face to Face</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type_Group_Member</targetReference>
            </connector>
            <label>Location needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deduplicate</name>
        <label>Deduplicate</label>
        <locationX>961</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Assign_Customer_Info_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasNoDuplicate</defaultConnectorLabel>
        <rules>
            <name>HasDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Contact</targetReference>
            </connector>
            <label>HasDuplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Territory_Exists</name>
        <label>Service Territory Exists</label>
        <locationX>633</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>No_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_ST_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_RT</targetReference>
            </connector>
            <label>Active ST Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>TerritoryExists</name>
        <label>TerritoryMappingExists?</label>
        <locationX>406</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>No_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTerritoryName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Generic_Service_Territory</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Reset the values on time slot screen

Added Career Area on Case (IST-446)

New  Label changes IST-477
IST-488

Study interest

Campus Interest

Service Territory

Dependent

Customsettings
Actual Date
Career Area

Service Territory Active

OwnerId
IST-532 - Added the field marked * are required

Appointment Type - Picklist value

{!OrgWideEmailAddressIdForFutureStudents}

Share account to guest user including on existing records
New Re Captcha keys added
Updated Study Interest / Career area to look at Affiliation rather than Contact
added role &amp; record type to the flow
New Duplicate Rule for Contact  &amp; email Alert added -1/03/2022
 I_ST_FlowInsertContact  - Change  in insert contact step -1/03/2022
Added Start date for Affiliation Creation :  -23/03/2022
Removed the I_ST_Campus_Interest_Old Resource from the Flow
Flow
Updated &apos;Get Affiliation Record&apos; activity to check for existing Applicant Affiliations (in addition to Domestic Lead)
Updated to set Affiliation Status to &apos;Qualified&apos;
Updated to include Web Phone &amp; Email on Case
Removed update of Source category and source sub category in existing Affiliation
Updated Recaptcha</description>
    <dynamicChoiceSets>
        <name>AppointmentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AppointmentType</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampusInterest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_ST_Campus_Interest__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTerritories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTerritoryWorkTypes</name>
        <dataType>String</dataType>
        <displayField>I_ST_Service_Territory_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Type_Group_Member.WorkTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_ST_Service_Territory_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_ST_Service_Territory_IsGeneric__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritoryWorkType</object>
        <valueField>ServiceTerritoryId</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseCategoryDerivation</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!LeadAffiliation.I_RM_Study_Level__c})=&apos;Other&apos;,&apos;Undergraduate&apos;,TEXT({!LeadAffiliation.I_RM_Study_Level__c}))</expression>
    </formulas>
    <formulas>
        <name>CurrentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>ScheduledStart</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedStartTime}</expression>
    </formulas>
    <formulas>
        <name>TerritoryName</name>
        <dataType>String</dataType>
        <expression>Case({!Campus_Interest0},&apos;Sydney&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Berwick (Chisholm Institute)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Brunswick (Bouverie)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Bundoora (Latrobe College)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Carlton (Carlton College Sport)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Chisholm311 (Chisholm Institute)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Dandenong (Chisholm Institute)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Distance Education&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Epping (Melbourne Polytechnic)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Frankston (Chisholm Institute)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Myrtleford (Alpine Health)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Online (Didasko)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Online (OUA)&apos;,&apos;Melbourne (Bundoora)&apos;,&apos;Other&apos;,&apos;Melbourne (Bundoora)&apos;,{!Campus_Interest0})</expression>
    </formulas>
    <formulas>
        <name>vaAccountName</name>
        <dataType>String</dataType>
        <expression>{!First_Name}&amp;&quot; &quot;&amp;{!Last_Name}</expression>
    </formulas>
    <interviewLabel>IST Schedule Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Consultation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1859</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Relate_Case_and_Contact_to_Service_Appointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Affiliation</name>
        <label>Create Lead Affiliation</label>
        <locationX>1441</locationX>
        <locationY>610</locationY>
        <connector>
            <targetReference>Assign_Affiliation_Info_0_0</targetReference>
        </connector>
        <inputReference>NewAffiliation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Organisation</name>
        <label>Create New Organisation</label>
        <locationX>1141</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>Assign_Organisation_to_Contact</targetReference>
        </connector>
        <inputReference>NewOrganisation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Affiliation_Record</name>
        <label>Get Affiliation Record</label>
        <locationX>1306</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Affiliation</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>I_RM_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RM_EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RM_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RM_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>I_RM_Affiliation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Contact</name>
        <label>Get Duplicate Contact</label>
        <locationX>960</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Share_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DuplicateContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ApplicantContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Generic_Service_Territory</name>
        <label>Get Generic Service Territory</label>
        <locationX>523</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Territory_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceTerritoryName</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_ST_Is_Generic__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>ServiceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_0</name>
        <label>Get Service Territory</label>
        <locationX>427</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Preferred_Booking_Location</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputReference>ServiceTerritory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UserID</name>
        <label>Get UserID</label>
        <locationX>1852</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>CaseOwner</assignToReference>
            <field>RelatedRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Group</name>
        <label>Get Work Type Group</label>
        <locationX>90</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Booking_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_ST_Study_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.topValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Group_Member</name>
        <label>Get Work Type Group Member</label>
        <locationX>174</locationX>
        <locationY>780</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Booking_Location_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTerritoryName</name>
        <label>GetTerritoryName</label>
        <locationX>320</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TerritoryExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campus_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampusInterest</elementReference>
            </value>
        </filters>
        <filters>
            <field>Study_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Study_Level_and_Enquirer_Type.topValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>I_ST_Campus_Territory_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceTerritoryName</assignToReference>
            <field>Service_Territory_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Work_Type_Group_Member</name>
        <label>Work Type Group Member</label>
        <locationX>318</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTerritoryName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Type_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Sharing_on_Account</name>
        <label>Remove Sharing on Account</label>
        <locationX>1847</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewOrganisation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantContact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_ST_share_with_guest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Share_Account_Record</name>
        <label>Share Account Record</label>
        <locationX>1042</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>Assign_Customer_Info_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicantContact.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_ST_share_with_guest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAffiliation</name>
        <label>UpdateAffiliation</label>
        <locationX>2335</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <inputReference>LeadAffiliation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Booking_Location_Choice</name>
        <label>Booking Location Choice</label>
        <locationX>298</locationX>
        <locationY>781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service_Territory_0</targetReference>
        </connector>
        <fields>
            <name>Preferred_Booking_Location</name>
            <choiceReferences>ServiceTerritoryWorkTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Preferred Booking Location</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>2335</locationX>
        <locationY>616</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>I_ST_Navigate_to_Home_Page</targetReference>
        </connector>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;We look forward to seeing you&lt;/u&gt;!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You should receive an email shortly confirming your consult details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomFooter</name>
            <extensionName>c:I_ST_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customer_Info</name>
        <label>Customer Info</label>
        <locationX>97</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Work_Type_Group</targetReference>
        </connector>
        <fields>
            <name>RequiredFields</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 26, 14);&quot;&gt;Fields marked with * are required&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email0</name>
                    <dataType>String</dataType>
                    <fieldText>Email address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid email address&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Email0},&quot;^[\\w!#$%&amp;*+/=?`{|}~^-]+(?:\\.[\\w!#$%&amp;*+/=?`{|}~^-]+)*@(?:[a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Info_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please enter a valid Australian mobile number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>REGEX({!Mobile},&quot;(^(\\+61|0)4[0-9]{8}$)&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Info_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Info_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Study_and_Career_Area</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>I_RM_Affiliation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>I_RM_Study_Interest__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>I_RM_Career_Area__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>I am interested in studying in the field of</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>I have a particular interest in</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>CareerArea</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Studyinterest</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Studyinterest</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>CareerArea</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Info_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Study_Level_and_Enquirer_Type</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>ServiceAppointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>I_ST_Enquirer_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>I_ST_Study_Level__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>I am</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>I want to study</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>StudyLevel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>EnquirerType</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Info_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Info_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Type</name>
                    <choiceReferences>AppointmentType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Phone</stringValue>
                    </defaultValue>
                    <fieldText>Consultation type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Info_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Campus_Interest0</name>
                    <choiceReferences>CampusInterest</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I would like to study at</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Course_Name</name>
            <dataType>String</dataType>
            <fieldText>The course I am interested in studying is called</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Please outline what you would like to discuss at your consultation</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please input less than 32,000 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Description}) &lt; 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>I_ST_captcha</name>
            <extensionName>c:I_ST_GoogleRecaptcha</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isHuman</name>
                <value>
                    <elementReference>isHumanUser</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secretKey</name>
                <value>
                    <stringValue>6LfizLYhAAAAAA_VHaTL35z5CyBnTatWaJ1TaufA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>siteKey</name>
                <value>
                    <stringValue>6LfizLYhAAAAAFHQy3ZXmZNYvF0nBTb7SIV5_BPp</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Disclaimer</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px; color: rgb(98, 98, 98);&quot;&gt;By completing this form you give consent for La Trobe University to contact you for marketing purposes. If at any stage you no longer wish to be contacted, simply choose unsubscribe in any of our emails. Read more about&lt;/span&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://www.latrobe.edu.au/privacy&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11px;&quot;&gt;Privacy at La Trobe University&lt;/a&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Info_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Info_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>to show error message</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2224</locationX>
        <locationY>510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Please open a case with IT and include this error message
&lt;/pre&gt;&lt;p&gt;{!$Flow.FaultMessage} at {!$Flow.CurrentStage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Service</name>
        <label>No Service</label>
        <locationX>523</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSlotsAvailable</name>
            <fieldText>&lt;p&gt;Apologies. There are no slots available for your selection as of now. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>2015</locationX>
        <locationY>809</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ServiceAppointmentFields</targetReference>
        </connector>
        <fields>
            <name>Review_Consultation_Details</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Review Consultation Details&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayReviewInfo</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ApplicantContact.FirstName} &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ApplicantContact.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Email Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!LeadAffiliation.I_RM_Email__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Number&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!LeadAffiliation.I_RM_Mobile_Phone__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Consultation Time&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.SchedStartTime} - &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ServiceAppointment.SchedEndTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Consultation Type&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.AppointmentType}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;I want to study&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!LeadAffiliation.I_RM_Study_Level__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Preferred Booking Location &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceTerritory.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;I am interested in studying in the field of&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!LeadAffiliation.I_RM_Study_Interest__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;I would like to study at&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!LeadAffiliation.I_RM_Campus_Interest__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;I am&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!LeadAffiliation.I_RM_Enquirer_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The course I am interested in studying is called&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!NewCase.I_ST_Intended_Course_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Discussion Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_Slot_Screen</name>
        <label>Time Slot Screen</label>
        <locationX>1704</locationX>
        <locationY>961</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Remove_Sharing_on_Account</targetReference>
        </connector>
        <fields>
            <name>appointment_time</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <elementReference>disableMultiResourceAndConcurrency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <stringValue>Australia/Sydney</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>90</stageOrder>
    </stages>
    <stages>
        <name>CompositeStage</name>
        <isActive>false</isActive>
        <label>CompositeStage</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>95</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>0</stageOrder>
    </stages>
    <start>
        <locationX>104</locationX>
        <locationY>164</locationY>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>I_ST_Navigate_to_Home_Page</name>
        <label>Navigate to Home Page</label>
        <locationX>2337</locationX>
        <locationY>780</locationY>
        <flowName>I_ST_Navigate_to_Home_Page</flowName>
    </subflows>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ApplicantContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Campus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CareerArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disableMultiResourceAndConcurrency</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>variable to hold values of distance units.</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>Needed as &apos;class moduleapi.interaction.FlowPicklistValue cannot be cast to class java.lang.String&apos; error is thrown when whole assigned contact is passed into Get Dup action</description>
        <name>DummyDup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DuplicateContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EnquirerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isHuman</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isHumanUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>I_RM_Affiliation__c</objectType>
    </variables>
    <variables>
        <name>LocationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAffiliation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>I_RM_Affiliation__c</objectType>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewOrganisation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OptionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgWideEmailAddressIdForFutureStudents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FIND_RESOURCE</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Studyinterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudyLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
