force-app/main/default/flows/I_ST_Before_Case_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Desc</name>
        <label>Assign Desc</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.I_ST_Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckParentIdIsNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCasePriority</name>
        <label>AssignCasePriority</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignCasePriority3</name>
        <label>AssignCasePriority</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignFirstResonse</name>
        <label>AssignFirstResonse</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.I_ST_First_Response_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRecordTypeCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Case priority is default to Null</description>
        <name>CasePriorityisNormal</name>
        <label>CasePriorityisNormal</label>
        <locationX>842</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_First_Response</name>
        <label>Check First Response</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypeCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_ST_First_Response_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SACE User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFirstResonse</targetReference>
            </connector>
            <label>check Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check Course code and Course Availability is null.</description>
        <name>CheckParentIdIsNull</name>
        <label>CheckParentIdIsNull</label>
        <locationX>446</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>CasePriorityisNormal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfFlashipCourseisTrue_AppCloseDatein14days</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.I_ST_Course_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Course_Parent.I_ST_Flagship_Course__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCourseAvailabilityParentRec.I_ST_Application_Closing_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Within14Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCourseAvailabilityParentRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCasePriority</targetReference>
            </connector>
            <label>IfFlashipCourseisTrue&amp;AppCloseDatein14days</label>
        </rules>
        <rules>
            <name>ApplicationCloseDatewithin28Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCourseAvailabilityParentRec.I_ST_Application_Closing_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Within28Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCourseAvailabilityParentRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCasePriority3</targetReference>
            </connector>
            <label>ApplicationCloseDatewithin28Days</label>
        </rules>
        <rules>
            <name>IsNotEnquiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecordType</elementReference>
                </rightValue>
            </conditions>
            <label>IsNotEnquiry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Description_is_Null_Question_is_not</name>
        <label>Description is Null &amp; Question is not</label>
        <locationX>446</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>CheckParentIdIsNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Desc_is_null_Question_is_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_ST_Question__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Desc</targetReference>
            </connector>
            <label>Desc is null &amp;  Question is not</label>
        </rules>
    </decisions>
    <description>last latest version was 26 in dev org
For IST-89, Update Case priority based on App Close date and Flagship Course

Closure Date Field Update







Copy question to desc
Changing to add the conditions
Added check for non enquiry record type

Date Time field change for  Application Closing date</description>
    <formulas>
        <name>Within14Days</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate} + 14)</expression>
    </formulas>
    <formulas>
        <name>Within28Days</name>
        <dataType>Date</dataType>
        <expression>({!$Flow.CurrentDate} + 28)</expression>
    </formulas>
    <interviewLabel>IST Before Case Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IST Before Case Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Parent</name>
        <label>Get Course Parent</label>
        <locationX>446</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCourseAvailabilityParentRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_ST_Course_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CourseParent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCourseAvailabilityParentRec</name>
        <label>GetCourseAvailabilityParentRec</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Description_is_Null_Question_is_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_ST_Course_Availability__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CourseAvailability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Recordtype of Case</description>
        <name>GetRecordTypeCase</name>
        <label>GetRecordTypeCase</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Course_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>I_ST_Enquiry</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CaseRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_First_Response</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
