force-app/main/default/flows/L_PR_Create_Tasks_From_Task_Matrix_for_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Tasks_To_Insert</name>
        <label>Add To Tasks To Insert</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TasksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Matrices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Task</name>
        <label>Set New Task</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_All_Matrices.I_RS_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.L_PR_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_All_Matrices.L_PR_Opportunity_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRMTaskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Tasks_To_Insert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Matices_Found</name>
        <label>Matices Found</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matrices_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Matrices</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_All_Matrices</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Tasks From Task Matrix for Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRM Create Tasks From Task Matrix for Opportunities</label>
    <loops>
        <name>For_All_Matrices</name>
        <label>For All Matrices</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Matrices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Tasks</name>
        <label>Insert Tasks</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>TasksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Matrices_0</name>
        <label>Get Matrices</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRMTask_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Object_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>L_PR_Opportunity_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.L_PR_Sub_Type__c</elementReference>
            </value>
        </filters>
        <object>Task_Matrix__c</object>
        <outputReference>Matrices</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Activity_Type__c</queriedFields>
        <queriedFields>I_RS_Subject__c</queriedFields>
        <queriedFields>L_PR_Opportunity_Stage__c</queriedFields>
        <queriedFields>I_RS_Description__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_PRMTask_RT</name>
        <label>Get PRMTask RT</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matices_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L_PR_PRM_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PRMTaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matrices_0</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentMatrice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Matrix__c</objectType>
    </variables>
    <variables>
        <name>Matrices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Matrix__c</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PRMTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TasksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
