force-app/main/default/flows/L_PR_Agreement_Status_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddtheRecordsforUpdate</name>
        <label>AddtheRecordsforUpdate</label>
        <locationX>440</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>AgreementRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgreementRecordToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Filtered_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTheAgreementStatus</name>
        <label>SetTheAgreementStatus</label>
        <locationX>440</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>AgreementRecordToUpdate.I_RS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementRecordToUpdate.I_RS_Closure_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Filtered_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddtheRecordsforUpdate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AgreementStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>hasRecords</name>
        <label>hasRecords</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>For_Filtered_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilteredAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Records</label>
        </rules>
    </decisions>
    <description>If Agreement End date is reached then Status should be updated as &apos;Closed&apos;</description>
    <formulas>
        <name>AgreementStatuses</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(ISPICKVAL({!$Record.I_RS_Status__c}, &quot;Closed&quot;)), true, false)</expression>
    </formulas>
    <interviewLabel>PRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRM Agreement Status update</label>
    <loops>
        <name>For_Filtered_records</name>
        <label>For Filtered records</label>
        <locationX>352</locationX>
        <locationY>756</locationY>
        <collectionReference>FilteredAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetTheAgreementStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Records_with_closed_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_Agreement_RT</name>
        <label>Get Agent Agreement RT</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAgreementRecordsEndDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L_PR_Agent_Agreement</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>AgentAgreementRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRM_Agreement_RT</name>
        <label>Get PRM Agreement RT</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent_Agreement_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L_PR_Agreement</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PRMAgreementRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAgreementRecordsEndDate</name>
        <label>GetAgreementRecordsEndDate</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasRecords</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>I_RS_Contract_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRMAgreementRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgentAgreementRT</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.I_RS_Status__c</elementReference>
            </value>
        </filters>
        <object>Contract__c</object>
        <outputReference>FilteredAgreements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>L_PR_isClosed__c</queriedFields>
        <queriedFields>I_RS_Status__c</queriedFields>
        <queriedFields>I_RS_Contract_End_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Records_with_closed_status</name>
        <label>Update the Records with closed status</label>
        <locationX>352</locationX>
        <locationY>1212</locationY>
        <inputReference>AgreementRecordsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PRM_Agreement_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-10</startDate>
            <startTime>23:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentAgreementRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgreementRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>AgreementRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>FilteredAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>PRMAgreementRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
