force-app/main/default/flows/Project_Proposal_Mass_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Value_to_Collection</name>
        <label>Add Value to Collection</label>
        <locationX>523</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>PPUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>523</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>ProjectDetails.I_RS_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmissionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectDetails.I_RS_Proposal_to_be_Submitted_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PPToBeSubmittedBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectDetails.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentJunction.I_RS_Project_Proposal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectDetails.I_RS_Internal_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Value_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Updates all related project proposals when there is a change in the Funding Opportunity:
1. Submission Date
2. Internal Due Date
3. Proposal to be submitted by</description>
    <interviewLabel>Project Proposal: Mass Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Proposal: Mass Update</label>
    <loops>
        <name>Loop_through_collection</name>
        <label>Loop through collection</label>
        <locationX>307</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>CurrentJunction</assignNextValueToReference>
        <collectionReference>JunctionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Funding_Opportunity_Details</name>
        <label>Get Funding Opportunity Details</label>
        <locationX>171</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetJunctionLinkage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ROId</elementReference>
            </value>
        </filters>
        <object>Research_Opportunity__c</object>
        <outputAssignments>
            <assignToReference>PPToBeSubmittedBy</assignToReference>
            <field>I_RS_Proposal_to_be_Submitted_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InternalDate</assignToReference>
            <field>I_RS_Research_Office_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubmissionDate</assignToReference>
            <field>I_RS_Submission_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetJunctionLinkage</name>
        <label>GetJunctionLinkage</label>
        <locationX>307</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Research_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ROId</elementReference>
            </value>
        </filters>
        <object>Junction_Linkage__c</object>
        <outputReference>JunctionCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Proposal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>308</locationX>
        <locationY>432</locationY>
        <inputReference>PPUpdateCollection</inputReference>
    </recordUpdates>
    <startElementReference>Get_Funding_Opportunity_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentJunction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>InternalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JunctionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>PPToBeSubmittedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>ProjectDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>ROContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubmissionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
