force-app/main/default/flows/Project_Proposal_Sync_Approval_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_New_First_Approver_Team_Member</name>
        <label>Set New First Approver Team Member</label>
        <locationX>744</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>NewFirstApproverTeamMember.I_RS_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFirstApproverTeamMember.I_RS_Invitation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFirstApproverTeamMember.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFirstApproverTeamMember.I_RS_Project_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_First_Approver_Contact_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewFirstApproverTeamMember.I_RS_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_First_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Second_Approver_Team_Member</name>
        <label>Set New Second Approver Team Member</label>
        <locationX>607</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>NewSecondApproverTeamMember.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSecondApproverTeamMember.I_RS_Project_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Second_Approver_Contact_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSecondApproverTeamMember.I_RS_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSecondApproverTeamMember.I_RS_Invitation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSecondApproverTeamMember.I_RS_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Second_Approver_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_First_Approver_Team_Member_Found</name>
        <label>Existing First Approver Team Member Found</label>
        <locationX>608</locationX>
        <locationY>596</locationY>
        <defaultConnector>
            <targetReference>Second_Approver_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingFirstApproverTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_First_Approver_Team_Member</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Second_Approver_Team_Member_Not_Found</name>
        <label>Existing Second Approver Team Member Not Found</label>
        <locationX>395</locationX>
        <locationY>1121</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Second_Approver_Team_Member_Decision_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSecondApproverTeamMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Second_Approver_Team_Member</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Approver_Not_Null</name>
        <label>First Approver Not Null</label>
        <locationX>180</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Second_Approver_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_First_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_First_Approver_Contact_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_First_Approver_Team_Member_Record</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Approver_Team_Members_To_Delete</name>
        <label>Found Approver Team Members To Delete</label>
        <locationX>99</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>First_Approver_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverTeamMembersToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Mismatching_Approver_Team_Member_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Approver_Not_Null</name>
        <label>Second Approver Not Null</label>
        <locationX>259</locationX>
        <locationY>835</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SecondApproverNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_Second_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProjectProposal.I_RS_First_Approver_Contact_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Second_Approver_Team_Member</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>UPDATE: Owner of new Team Member records has changed from Project Proposal-&gt;Lead Chief Investigator to Project Proposal-&gt;Owner, as the latter will always have a value in it

When updating the First Approver or Second Approver on a Project Proposal, create corresponding Project Team Member records with a Role of Approver. Also, delete any mismatching Approver records.</description>
    <interviewLabel>Project Proposal - Sync Approval Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Proposal - Sync Approval Team Members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_New_First_Approver</name>
        <label>Insert New First Approver</label>
        <locationX>797</locationX>
        <locationY>841</locationY>
        <connector>
            <targetReference>Second_Approver_Not_Null</targetReference>
        </connector>
        <inputReference>NewFirstApproverTeamMember</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_New_Second_Approver_Team_Member</name>
        <label>Insert New Second Approver Team Member</label>
        <locationX>799</locationX>
        <locationY>1119</locationY>
        <inputReference>NewSecondApproverTeamMember</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Mismatching_Approver_Team_Member_Records</name>
        <label>Delete Mismatching Approver Team Member Records</label>
        <locationX>577</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>First_Approver_Not_Null</targetReference>
        </connector>
        <inputReference>ApproverTeamMembersToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Check_for_First_Approver_Team_Member_Record</name>
        <label>Check for First Approver Team Member Record</label>
        <locationX>468</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_First_Approver_Team_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Team_Member_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_First_Approver__c</elementReference>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>ExistingFirstApproverTeamMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Check_for_Second_Approver_Team_Member</name>
        <label>Check for Second Approver Team Member</label>
        <locationX>329</locationX>
        <locationY>1013</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Second_Approver_Team_Member_Not_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Team_Member_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Second_Approver__c</elementReference>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>ExistingSecondApproverTeamMember</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Approver_Team_Members_That_Do_Not_Match_Project_Proposal</name>
        <label>Get Approver Team Members That Do Not Match Project Proposal</label>
        <locationX>447</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Approver_Team_Members_To_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposal.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Team_Member_User__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_First_Approver__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Team_Member_User__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ProjectProposal.I_RS_Second_Approver__c</elementReference>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>ApproverTeamMembersToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_Approver_Team_Members_That_Do_Not_Match_Project_Proposal</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApproverTeamMembersToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>ExistingFirstApproverTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>ExistingSecondApproverTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>NewFirstApproverTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>NewSecondApproverTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>ProjectProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
</Flow>
