force-app/main/default/flows/Project_Proposal_Prepopulate_TOA_Codes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Classification_Code_TOA_Record_Type_Id</name>
        <label>Get Classification Code TOA Record Type Id</label>
        <locationX>537</locationX>
        <locationY>270</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_all_TOA_Masters</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Classification_Code__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>TOA_Codes</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>toaRecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Code_to_Insert_List</name>
        <label>Add Code to Insert List</label>
        <locationX>822</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>TOA_Codes_To_Insert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Classification_Code_To_Insert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_all_TOA_Masters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_New_Classification_Code</name>
        <label>Initialise New Classification Code</label>
        <locationX>609</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>Classification_Code_To_Insert.I_RS_Classification_Master__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_all_TOA_Masters.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Classification_Code_To_Insert.I_RS_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Classification_Code_To_Insert.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Classification_Code_To_Insert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toaRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Classification_Code_To_Insert.I_RS_Disable_Grid_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Code_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Create_Codes</name>
        <label>Create Codes?</label>
        <locationX>399</locationX>
        <locationY>280</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOA_Codes_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TOA_Classification_Masters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.I_RS_IsClone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Classification_Code_TOA_Record_Type_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When a Project Proposal is first created, create a placeholder Classification Code row for every TOA Classification Master</description>
    <interviewLabel>Project Proposal - Prepopulate TOA Codes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Proposal - Prepopulate TOA Codes</label>
    <loops>
        <description>Loop through all TOA Classification Masters</description>
        <name>For_all_TOA_Masters</name>
        <label>For all TOA Masters...</label>
        <locationX>676</locationX>
        <locationY>270</locationY>
        <collectionReference>Get_TOA_Classification_Masters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialise_New_Classification_Code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Classification_Codes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Classification_Codes</name>
        <label>Insert Classification Codes</label>
        <locationX>970</locationX>
        <locationY>274</locationY>
        <inputReference>TOA_Codes_To_Insert</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all TOA Classification Masters in the system. The assumption is there is only 4.</description>
        <name>Get_TOA_Classification_Masters</name>
        <label>Get TOA Classification Masters</label>
        <locationX>268</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Create_Codes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Type of Activity (TOA)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Classification_Master__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_TOA_Classification_Masters</targetReference>
        </connector>
        <object>Project_Proposal__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Classification_Code_To_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Classification_Code__c</objectType>
    </variables>
    <variables>
        <name>TOA_Codes_To_Insert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Classification_Code__c</objectType>
    </variables>
    <variables>
        <name>toaRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
