force-app/main/default/flows/Project_Proposal_LCI_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>LCI_Project_Team_Member_Found</name>
        <label>LCI Project Team Member Found</label>
        <locationX>328</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LCI_Project_Team_Member_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Team_Member_LCI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_and_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates project proposal when there is a change in the Project Team Member&apos;s LCI</description>
    <interviewLabel>Project Proposal: LCI Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Proposal: LCI Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the project team member whom is a LCI based on the return Project Proposal ID from Project Team Member record</description>
        <name>Get_Project_Team_Member_LCI</name>
        <label>Get Project Team Member: LCI</label>
        <locationX>195</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LCI_Project_Team_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalID</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Chief Investigator</stringValue>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>ProjectTeamMemberContact</assignToReference>
            <field>I_RS_Project_Team_Member__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectTeamMemberUserId</assignToReference>
            <field>I_RS_Team_Member_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectTeamMemberID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_and_User</name>
        <label>Update Contact and User</label>
        <locationX>491</locationX>
        <locationY>53</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectProposalID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_LeadChiefInvestigator__c</field>
            <value>
                <elementReference>ProjectTeamMemberUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>ProjectTeamMemberContact</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordUpdates>
    <startElementReference>Get_Project_Team_Member_LCI</startElementReference>
    <status>Active</status>
    <variables>
        <name>ProjectProposalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectTeamMemberContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectTeamMemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectTeamMemberUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
