force-app/main/default/flows/Project_Proposal_Deep_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_Alert_to_Lead_CI</name>
        <label>Chatter Post Alert to Lead CI</label>
        <locationX>726</locationX>
        <locationY>2283</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>CopyProposalID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Current_ID_to_the_Query</name>
        <label>Assign Current ID to the Query</label>
        <locationX>681</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>SingleProjectProposal.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Proposal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>to check the collection</description>
        <name>Assign_Values_for_Collection</name>
        <label>Assign Values for Collection</label>
        <locationX>928</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ClassificationCodeCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Classification_Code_Null_Checker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>to check the collection</description>
        <name>Assign_Values_for_Collection_0</name>
        <label>Assign Values for Collection</label>
        <locationX>710</locationX>
        <locationY>1769</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>JunctionCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_Null_Checker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>to check the collection</description>
        <name>Assign_Values_for_Collection_0_0</name>
        <label>Assign Values for Collection</label>
        <locationX>1061</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CurrentTeamMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Member_Null_Checker_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CC</name>
        <label>Assign Values to CC</label>
        <locationX>1464</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>SingleClassificationCode.I_RS_Date_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleClassificationCode.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_CC_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CC_0</name>
        <label>Assign Values to CC</label>
        <locationX>1994</locationX>
        <locationY>1209</locationY>
        <assignmentItems>
            <assignToReference>SingleTeamMember.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTeamMember.I_RS_Date_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_CC_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CC_0_0</name>
        <label>Assign Values to CC Collection</label>
        <locationX>1466</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>FinalClassificationCodeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleClassificationCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Classification_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CC_0_0_0</name>
        <label>Assign Values to Collection</label>
        <locationX>1412</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>FinalTeamMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_CC_0_0_0_0</name>
        <label>Assign Values to CC</label>
        <locationX>1753</locationX>
        <locationY>1348</locationY>
        <assignmentItems>
            <assignToReference>SingleTeamMember.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTeamMember.I_RS_Date_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTeamMember.I_RS_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chief Investigator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_CC_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Counter</name>
        <label>Assign Values to Counter</label>
        <locationX>940</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TeamMemberCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Team_Member_Null_Checker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Duplicate_Checker_Text</name>
        <label>Assign Values to Duplicate Checker Text</label>
        <locationX>1467</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>TeamMemberChecker</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!SingleInternalMember.I_RS_Project_Team_Member__c} </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Internal_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>1424</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>SingleJunction.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignValues_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValues_0</name>
        <label>AssignValues</label>
        <locationX>1419</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>FinalJunctionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleJunction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Junction_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Counter</name>
        <label>Refresh Counter</label>
        <locationX>706</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Records_for_RecordId_Team_Member_Internal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Counter_0</name>
        <label>Refresh Counter</label>
        <locationX>711</locationX>
        <locationY>1431</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Junction_Linkage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Counter_0_0</name>
        <label>Refresh Counter</label>
        <locationX>979</locationX>
        <locationY>2081</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_Counter_0_0_0_0</name>
        <label>Refresh Counter</label>
        <locationX>714</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Project_Proposal_to_be_Copied_is_Not_Blank</name>
        <label>Check if Project Proposal to be Copied is Not Blank</label>
        <locationX>361</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Get_Project_Proposal_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_Proposal_ID_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CopyProposalID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CopyFromScreen_0</targetReference>
            </connector>
            <label>Copy Proposal ID is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_status_is_Valid</name>
        <label>Check if status is Valid</label>
        <locationX>38</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>CopyFromScreen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_valid</name>
            <conditionLogic>((1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provide Project Details</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Instructions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drafting NOI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentPPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create EOI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsClone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CopyFromScreen</targetReference>
            </connector>
            <label>Status is valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Classification_Code_Null_Checker</name>
        <label>Classification Code Null Checker</label>
        <locationX>923</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Refresh_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Classification_Code_is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Classification_Code</targetReference>
            </connector>
            <label>Classification Code is not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Checker</name>
        <label>Duplicate Checker</label>
        <locationX>1411</locationX>
        <locationY>1195</locationY>
        <defaultConnector>
            <targetReference>LeadCiChecker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_External_or_Internal_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMemberChecker</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SingleTeamMember.I_RS_Project_Team_Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Members</targetReference>
            </connector>
            <label>Check External or Internal Members are Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Junction_Null_Checker</name>
        <label>Junction Null Checker</label>
        <locationX>949</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Create_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Junction_is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Junction_Collection</targetReference>
            </connector>
            <label>Junction is not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeadCiChecker</name>
        <label>LCI Duplicate Checker</label>
        <locationX>1744</locationX>
        <locationY>1196</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_to_CC_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Role_Lead_CI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleTeamMember.I_RS_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Chief Investigator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_CC_0_0_0_0</targetReference>
            </connector>
            <label>Check if Role Lead CI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Null_Checker</name>
        <label>Team Member Null Checker</label>
        <locationX>933</locationX>
        <locationY>1197</locationY>
        <defaultConnector>
            <targetReference>Refresh_Counter_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Member_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Members</targetReference>
            </connector>
            <label>Team Member is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_Null_Checker_0</name>
        <label>Team Member Null Checker</label>
        <locationX>1219</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Refresh_Counter_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Member_is_Not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Internal_Member</targetReference>
            </connector>
            <label>Team Member is Not Null</label>
        </rules>
    </decisions>
    <description>- Working version
- Revised the issue duplicate Classification Code
- Added new values in JLinkage object
- -25th June Phase 2 Sprint 2: new RTs are introduced: Internal Pipeline and External Grant</description>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>DetailPage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!NewProjectProposalID}</expression>
    </formulas>
    <interviewLabel>Project Proposal: Deep Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Proposal: Deep Clone</label>
    <loops>
        <name>Loop_Classification_Code</name>
        <label>Loop Classification Code</label>
        <locationX>1210</locationX>
        <locationY>334</locationY>
        <assignNextValueToReference>SingleClassificationCode</assignNextValueToReference>
        <collectionReference>ClassificationCodeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_CC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We are doing this to avoid duplicate members</description>
        <name>Loop_Internal_Member</name>
        <label>Loop Internal Member</label>
        <locationX>1463</locationX>
        <locationY>648</locationY>
        <assignNextValueToReference>SingleInternalMember</assignNextValueToReference>
        <collectionReference>CurrentTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Duplicate_Checker_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Refresh_Counter_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Junction_Collection</name>
        <label>Loop Junction Collection</label>
        <locationX>1183</locationX>
        <locationY>1785</locationY>
        <assignNextValueToReference>SingleJunction</assignNextValueToReference>
        <collectionReference>JunctionCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Junction_Linkage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Members</name>
        <label>Loop Members</label>
        <locationX>1207</locationX>
        <locationY>1187</locationY>
        <assignNextValueToReference>SingleTeamMember</assignNextValueToReference>
        <collectionReference>TeamMemberCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Duplicate_Checker</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CCs</name>
        <label>Create CCs</label>
        <locationX>935</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>Refresh_Counter</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>FinalClassificationCodeCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Link</name>
        <label>Create Document Link</label>
        <locationX>560</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Update_Project_Proposal_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>NoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Junction_Linkage</name>
        <label>Create Junction Linkage</label>
        <locationX>981</locationX>
        <locationY>1962</locationY>
        <connector>
            <targetReference>Refresh_Counter_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>FinalJunctionCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>693</locationX>
        <locationY>2078</locationY>
        <assignRecordIdToReference>NoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <stringValue>This Project Proposal was copied over from {!ProjectTitle}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>Copied Record Note</stringValue>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Members</name>
        <label>Create Team Members</label>
        <locationX>939</locationX>
        <locationY>1312</locationY>
        <connector>
            <targetReference>Refresh_Counter_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>FinalTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Classification_Code</name>
        <label>Get Classification Code</label>
        <locationX>931</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_for_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopyProposalID</elementReference>
            </value>
        </filters>
        <object>Classification_Code__c</object>
        <outputReference>ClassificationCodeCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Classification_Master__c</queriedFields>
        <queriedFields>I_RS_Date_Added__c</queriedFields>
        <queriedFields>I_RS_External_Id__c</queriedFields>
        <queriedFields>I_RS_Percentage__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_PP_Status</name>
        <label>Get Current PP Status</label>
        <locationX>49</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_status_is_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>IsClone</assignToReference>
            <field>I_RS_IsClone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentPPStatus</assignToReference>
            <field>I_RS_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Junction_Linkage</name>
        <label>Get Junction Linkage</label>
        <locationX>710</locationX>
        <locationY>1601</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_for_Collection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopyProposalID</elementReference>
            </value>
        </filters>
        <object>Junction_Linkage__c</object>
        <outputReference>JunctionCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>I_RS_Discipline__c</queriedFields>
        <queriedFields>I_RS_Project_Proposal__c</queriedFields>
        <queriedFields>I_RS_Awarded_to__c</queriedFields>
        <queriedFields>I_RS_Lead_Organisation__c</queriedFields>
        <queriedFields>I_RS_Status__c</queriedFields>
        <queriedFields>I_RS_Relationship_Type__c</queriedFields>
        <queriedFields>I_RS_Subcontract_Collaboration_type__c</queriedFields>
        <queriedFields>I_RS_Year_1_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_1_Suggested_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_2_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_2_Suggested_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_3_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_3_Suggested_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_4_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_4_Suggested_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_5_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_5_Suggested_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_6_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_6_Suggested_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_7_Confirmed_Amount__c</queriedFields>
        <queriedFields>I_RS_Year_7_Suggested_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal_Details</name>
        <label>Get Project Proposal Details</label>
        <locationX>588</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Proposal_Details_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopyProposalID</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputReference>SingleProjectProposal</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Summary__c</queriedFields>
        <queriedFields>I_RS_IP_Position__c</queriedFields>
        <queriedFields>I_RS_Publishing_Rights__c</queriedFields>
        <queriedFields>I_RS_Scholarship_Component__c</queriedFields>
        <queriedFields>I_RS_Student_Led__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal_Details_0</name>
        <label>Get Project Proposal Details</label>
        <locationX>588</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_ID_to_the_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopyProposalID</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>LeadCI</assignToReference>
            <field>I_RS_LeadChiefInvestigator__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectTitle</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get team member record for the current record</description>
        <name>Get_Records_for_RecordId_Team_Member_Internal</name>
        <label>Get Records for RecordId Team Member - Internal</label>
        <locationX>932</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_for_Collection_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>CurrentTeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Team_Member__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>712</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CopyProposalID</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>TeamMemberCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Active__c</queriedFields>
        <queriedFields>I_RS_Department__c</queriedFields>
        <queriedFields>I_RS_External_Id__c</queriedFields>
        <queriedFields>I_RS_Invitation_Status__c</queriedFields>
        <queriedFields>I_RS_Organisation__c</queriedFields>
        <queriedFields>I_RS_Percentage__c</queriedFields>
        <queriedFields>I_RS_Project_Proposal__c</queriedFields>
        <queriedFields>I_RS_Role__c</queriedFields>
        <queriedFields>I_RS_Team_Member_Contact__c</queriedFields>
        <queriedFields>I_RS_Status__c</queriedFields>
        <queriedFields>I_RS_Team_Member_User__c</queriedFields>
        <queriedFields>I_RS_Date_Added__c</queriedFields>
        <queriedFields>I_RS_Project_Team_Member__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Proposal</name>
        <label>Update Project Proposal</label>
        <locationX>814</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Classification_Code</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>SingleProjectProposal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Proposal_0</name>
        <label>Update Project Proposal</label>
        <locationX>549</locationX>
        <locationY>2281</locationY>
        <connector>
            <targetReference>Chatter_Post_Alert_to_Lead_CI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_IsClone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordUpdates>
    <screens>
        <name>CopyFromScreen</name>
        <label>StartScreen</label>
        <locationX>369</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Project_Proposal_to_be_Copied_is_Not_Blank</targetReference>
        </connector>
        <fields>
            <name>MessageforClone</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Select Project Proposal / Project to be Copied</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProjectProposal</name>
            <extensionName>c:strike_lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Proposal / Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Project_Proposal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CopyProposalID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <stringValue>Id &lt;&gt; &apos;{!recordId}&apos; AND I_RS_Record_Type_Developer_Name__c &lt;&gt; &apos;I_RS_Recommendation&apos; AND I_RS_Record_Type_Developer_Name__c &lt;&gt; &apos;Placeholder&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CopyProposalID</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CopyFromScreen_0</name>
        <label>StartScreen</label>
        <locationX>366</locationX>
        <locationY>438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Project_Proposal_to_be_Copied_is_Not_Blank</targetReference>
        </connector>
        <fields>
            <name>MessageforClone_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Select Project Proposal / Project to be Copied</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank4_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProjectProposal_0</name>
            <extensionName>c:strike_lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Project Proposal / Project</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Project_Proposal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>CopyProposalID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <stringValue>Id &lt;&gt; &apos;{!recordId}&apos; AND I_RS_Record_Type_Developer_Name__c &lt;&gt; &apos;I_RS_Recommendation&apos; AND I_RS_Record_Type_Developer_Name__c &lt;&gt; &apos;Placeholder&apos;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CopyProposalID</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(192, 58, 56);&quot;&gt;Error: This field is required&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CopyFromScreen_0_0</name>
        <label>End_Not_Allowed</label>
        <locationX>39</locationX>
        <locationY>507</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageforClone_0_0</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Oops. You are no longer allowed to copy a Project Proposal/Project at this stage.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>888</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProjectProposalEnd</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Project/Project Proposal Copied!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;Close this screen to view your Project Proposal / Project.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays this message if flow hits an error message</description>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>370</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Oops</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Oops we hit a snag.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank6</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_PP_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPostTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear @[{!LeadCI}],
Your Project Proposal / Project has been copied by @[{!CurrentUser}]. 
Thank you!</text>
    </textTemplates>
    <variables>
        <name>ClassificationCodeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Classification_Code__c</objectType>
    </variables>
    <variables>
        <name>CopyProposalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CurrentPPStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentTeamMemberExternal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>CurrentTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>FinalClassificationCodeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Classification_Code__c</objectType>
    </variables>
    <variables>
        <name>FinalJunctionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>FinalTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>IsClone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JunctionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>LeadCI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProjectProposalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleClassificationCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Classification_Code__c</objectType>
    </variables>
    <variables>
        <name>SingleExternalMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>SingleInternalMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>SingleJunction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Junction_Linkage__c</objectType>
    </variables>
    <variables>
        <name>SingleProjectProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Proposal__c</objectType>
    </variables>
    <variables>
        <name>SingleTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>TeamMemberChecker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
</Flow>
