force-app/main/default/flows/Recommend_a_RO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>399</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I_RS_Recommendation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Username</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Username</stringValue>
        </value>
    </constants>
    <description>This flow will be initiated to Recommend a Research Opportunity</description>
    <formulas>
        <name>CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot;  &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>ProjectTitle</name>
        <dataType>String</dataType>
        <expression>{!ResearchOpportunityName}</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Recommend a RO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommend a RO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a project proposal of type Recommendation</description>
        <name>Create_a_Recommendation</name>
        <label>Create a Recommendation</label>
        <locationX>828</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>ProjectProposalID</assignRecordIdToReference>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>I_RS_Account_Organisation__c</field>
            <value>
                <elementReference>Organisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Date_Recommended__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Funding_Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Internal_date__c</field>
            <value>
                <elementReference>InternalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_LeadChiefInvestigator__c</field>
            <value>
                <elementReference>Get_Contact.I_RS_Related_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>RecommendedToContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Sub_type__c</field>
            <value>
                <elementReference>SubTypeOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Project_Type__c</field>
            <value>
                <elementReference>TypeofOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Proposal_to_be_Submitted_By__c</field>
            <value>
                <elementReference>ProposalToBeSubmittedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Recommendation_Reason__c</field>
            <value>
                <elementReference>RecommendationReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Recommended_By__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Research_Office_Contact__c</field>
            <value>
                <elementReference>ResearchOfficeContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Status__c</field>
            <value>
                <stringValue>Recommended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Submission_Date__c</field>
            <value>
                <elementReference>SubmisisonDate1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Theme__c</field>
            <value>
                <stringValue>No theme alignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ProjectTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Contact.I_RS_Related_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>523</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecommendedToContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the ID of record type &apos;Recommendation&apos;</description>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>697</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Recommendation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Proposal__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ResearchOpportunityRecord</name>
        <label>ResearchOpportunityRecord</label>
        <locationX>168</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recommendation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Research_Opportunity__c</object>
        <outputAssignments>
            <assignToReference>SubTypeOpp</assignToReference>
            <field>I_RS_Opportunity_Sub_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Organisation</assignToReference>
            <field>I_RS_Organisation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProposalToBeSubmittedBy</assignToReference>
            <field>I_RS_Proposal_to_be_Submitted_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOfficeContact</assignToReference>
            <field>I_RS_Research_Office_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InternalDate</assignToReference>
            <field>I_RS_Research_Office_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ROnumber</assignToReference>
            <field>I_RS_Research_Opportunity_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubmisisonDate1</assignToReference>
            <field>I_RS_Submission_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TypeofOpp</assignToReference>
            <field>I_RS_Type_of_Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResearchOpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>924</locationX>
        <locationY>246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndScript</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Thank you. Your recommendation has been successfully created!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Recommendation_Screen</name>
        <label>Recommendation Screen</label>
        <locationX>289</locationX>
        <locationY>52</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
        <fields>
            <name>FirstScript</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>You are recommending this opportunity: {!ResearchOpportunityName}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank01</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LoggedinUser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(37, 37, 37);&quot;&gt;Recommending as&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(37, 37, 37);&quot;&gt;﻿{!CurrentUserName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lookup</name>
            <extensionName>c:strike_lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Recommending To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filter</name>
                <value>
                    <stringValue>I_RS_Related_User__c != null</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtitleField</name>
                <value>
                    <stringValue>I_RS_School__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>RecommendedToContactId</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>RecommendationReason</name>
            <fieldText>Recommendation Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ResearchOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Duration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingBodyDueDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JunctionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Maximumavailablebudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Minimumavailablebudget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Organisation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the ID of the Project Proposal</description>
        <name>ProjectProposalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the project proposal number</description>
        <name>ProjectProposalNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProposalToBeSubmittedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecommendedTo_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RecommendedToContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecommendToID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOfficeContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ROnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmisisonDate1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubTypeOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeofOpp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
