force-app/main/default/flows/Recommendation_Dismiss.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Accept</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Accept&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dismiss</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Dismiss&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dismissed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Status_Checker</name>
        <label>Status Checker</label>
        <locationX>292</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>AlreadyDismissedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Recommended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PPStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommended</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DismissedReason</targetReference>
            </connector>
            <label>Status = Recommended</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DismissedReasonPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Dismissal_Reason__c</picklistField>
        <picklistObject>Project_Proposal__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Recommendation: Dismiss {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommendation: Dismiss</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Project_Proposal_Details</name>
        <label>Get Project Proposal Details</label>
        <locationX>163</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Checker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>PPStatus</assignToReference>
            <field>I_RS_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Proposal_Dismissed</name>
        <label>Update Project Proposal - Dismissed</label>
        <locationX>708</locationX>
        <locationY>52</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Dismissal_Reason__c</field>
            <value>
                <elementReference>Dismissal_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Status__c</field>
            <value>
                <stringValue>Dismissed</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordUpdates>
    <screens>
        <name>AlreadyDismissedScreen</name>
        <label>AlreadyDismissedScreen</label>
        <locationX>301</locationX>
        <locationY>238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Dismissed_Image</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>You have already dismissed this recommendation.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DismissedReason</name>
        <label>DismissedReason</label>
        <locationX>523</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Project_Proposal_Dismissed</targetReference>
        </connector>
        <fields>
            <name>ProvideDismissalReason</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Please provide a dismissal reason</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dismissal_Reason</name>
            <choiceReferences>DismissedReasonPCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dismissal Reason</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Project_Proposal_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>PPStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>ResearchOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Opportunity__c</objectType>
    </variables>
</Flow>
