force-app/main/default/flows/Research_Opportunity_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Accept</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Accept&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dismiss</name>
        <choiceText>&lt;span style=&quot;font-size: 14px;&quot;&gt;Dismiss&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dismissed</stringValue>
        </value>
    </choices>
    <description>- Data model update 18 June 2019</description>
    <dynamicChoiceSets>
        <name>DismissedReasonPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Dismissal_Reason__c</picklistField>
        <picklistObject>Project_Proposal__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ResearchOppId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!ResearchOppRecord.Id}</expression>
    </formulas>
    <interviewLabel>Research Opportunity Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Research Opportunity Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Project_Proposal_Details</name>
        <label>Get Project Proposal Details</label>
        <locationX>190</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Research_Opportunity_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>ResearchOpportunityId</assignToReference>
            <field>I_RS_Funding_Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Research_Opportunity_Details</name>
        <label>Get Research Opportunity Details</label>
        <locationX>332</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResearchOpportunityId</elementReference>
            </value>
        </filters>
        <object>Research_Opportunity__c</object>
        <outputReference>ResearchOppRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>I_RS_Summary_of_Opportunity__c</queriedFields>
        <queriedFields>I_RS_Funding_Category__c</queriedFields>
        <queriedFields>I_RS_Funding_Body_Client_Reference__c</queriedFields>
        <queriedFields>I_RS_Submission_Date__c</queriedFields>
        <queriedFields>I_RS_Type_of_Opportunity__c</queriedFields>
        <queriedFields>I_RS_Application_limit_for_institutions__c</queriedFields>
        <queriedFields>I_RS_Client_Supplied_Contract_Template__c</queriedFields>
        <queriedFields>I_RS_Notice_of_Intent_Required__c</queriedFields>
        <queriedFields>I_RS_Eligibility_Criteria__c</queriedFields>
    </recordLookups>
    <screens>
        <name>DisplayDetails</name>
        <label>DisplayDetails</label>
        <locationX>466</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Title: {!ResearchOppRecord.Name}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fundingBody</name>
            <fieldText>&lt;p&gt;Funding Body Reference&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ResearchOppRecord.I_RS_Funding_Body_Client_Reference__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fundingCat</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;HERDC  Category&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ResearchOppRecord.I_RS_Funding_Category__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProjectSummary</name>
            <fieldText>&lt;p&gt;Summary of Opportunity&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿{!ResearchOppRecord.I_RS_Summary_of_Opportunity__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EligibilityDisplay</name>
            <fieldText>&lt;p&gt;Eligibility Criteria&lt;/p&gt;&lt;p&gt;{!ResearchOppRecord.I_RS_Eligibility_Criteria__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProjectSubmissionDate</name>
            <fieldText>&lt;p&gt;Submission Date&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ResearchOppRecord.I_RS_Submission_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ViewMoreDisplay</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!ResearchOppId}&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;View More&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Project_Proposal_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>PPStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>ResearchOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Opportunity__c</objectType>
    </variables>
</Flow>
