force-app/main/default/flows/Send_Email_Ethics_Post_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice_Ethics_Review_Outcome</name>
        <choiceText>{!Get_Ethics_Post_Approval.Name} - Ethics Application Review Outcome - {!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Ethics_Post_Approval.I_RS_Review_Outcome__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_Ratification</name>
        <choiceText>{!Get_Ethics_Post_Approval.Name} - Ratification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ratified</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Whether, from a system standpoint, the email-send succeeded.</description>
        <name>Decision_Email_Send_Outcome</name>
        <label>Email Send Outcome</label>
        <locationX>844</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Outcome_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Email_Outcome_Max_Daily_Recipients_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxDailyRecipientsReached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Max_Daily_Recipients_Reached</targetReference>
            </connector>
            <label>Max Daily Recipients Reached</label>
        </rules>
        <rules>
            <name>Email_Outcome_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Missing_Actions_for_researchers</name>
        <label>Is Missing Actions for researchers</label>
        <locationX>347</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Screen_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Is_Missing_Actions_for_researchers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingActionsforResearchers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Missing_Actions_for_Researchers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>User is allowed by system to perform email send</description>
        <name>Decision_User_Has_Access</name>
        <label>Decision User Has Access</label>
        <locationX>168</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Screen_User_Not_Allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_User_Has_Access_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhitelistedUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ethics_Post_Approval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allows Ethics users and admins to send emails to all the personnel of an Ethics Post Approval, on-demand</description>
    <formulas>
        <name>MissingActionsforResearchers</name>
        <dataType>Boolean</dataType>
        <expression>(
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Not ready for committee review&apos; ||
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Subject to&apos; ||
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Deferred&apos; ||
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Rejected&apos; ||
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Withdrawn&apos; ||
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Suspended&apos; ||
TEXT({!Get_Ethics_Post_Approval.I_RS_Review_Outcome__c}) = &apos;Terminated&apos;
) &amp;&amp;
LEN({!Get_Ethics_Post_Approval.I_RS_Meeting_Comments_Rich__c}) = 0</expression>
    </formulas>
    <formulas>
        <description>Name of User Profile. Only Ethics Users and Admins are allowed to perform functionality</description>
        <name>WhitelistedUserProfile</name>
        <dataType>Boolean</dataType>
        <expression>{!$Profile.Name} = &apos;System Administrator&apos; || {!$Profile.Name} = &apos;LTU Ethics&apos;</expression>
    </formulas>
    <interviewLabel>Send Email Ethics Post Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Ethics Post Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the data of the Ethics Post Approval we are sending the email for</description>
        <name>Get_Ethics_Post_Approval</name>
        <label>Get Ethics Post Approval</label>
        <locationX>175</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_Missing_Actions_for_researchers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ethics_Post_Approval__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Review_Outcome__c</queriedFields>
        <queriedFields>I_RS_Meeting_Comments_Rich__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Confirmation</name>
        <label>Screen - Confirmation</label>
        <locationX>697</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>Text_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Confirm Details and Send &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click on ‘Next’ to send the email if the following information is correct:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Selection_Email_Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Actions for Researchers:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Ethics_Post_Approval.I_RS_Meeting_Comments_Rich__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen - Error</label>
        <locationX>1116</locationX>
        <locationY>441</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Send failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_icon_error</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Text_Error</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Max_Daily_Recipients_Reached</name>
        <label>Screen - Max Daily Recipients Reached</label>
        <locationX>1113</locationX>
        <locationY>295</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_Max_Recipients_Reached</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Send failed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_icon_max_daily_recipients</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>The system has reached the daily email limit. This means the email will need to be manually sent tomorrow by clicking on the ‘Send Email to Researcher&apos; button.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Missing_Actions_for_Researchers</name>
        <label>Screen - Missing Actions for Researchers</label>
        <locationX>386</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Icon_Missing_Actions_for_researcher</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Before the email can be sent please add questions to the ‘Actions for researcher’ field.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Options</name>
        <label>Screen - Options</label>
        <locationX>541</locationX>
        <locationY>480</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Header_Select_Email_Type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select type of email&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection_Email_Type</name>
            <choiceReferences>Choice_Ethics_Review_Outcome</choiceReferences>
            <choiceReferences>Choice_Ratification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of email</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen - Success</label>
        <locationX>1118</locationX>
        <locationY>183</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Success!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_icon_success</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Email has been sent.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:check</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_User_Not_Allowed</name>
        <label>Screen - User Not Allowed</label>
        <locationX>432</locationX>
        <locationY>201</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_No_Access</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Not Allowed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_icon_user_not_allowed</name>
            <extensionName>c:iconAndTextBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Contact the Ethics Team for this functionality.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision_User_Has_Access</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>849</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Decision_Email_Send_Outcome</targetReference>
        </connector>
        <flowName>Ethics_Review_Outcome_Update_Send_Email</flowName>
        <inputAssignments>
            <name>ObjectType</name>
            <value>
                <stringValue>Ethics_Post_Approval__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StatusValue</name>
            <value>
                <elementReference>Selection_Email_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Text_Error</assignToReference>
            <name>ErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsError</assignToReference>
            <name>IsError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MaxDailyRecipientsReached</assignToReference>
            <name>maxDailyRecipientsReached</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>IsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxDailyRecipientsReached</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error message that occurred from sending email</description>
        <name>Text_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
