force-app/main/default/flows/SOP_Phenotyp_Link_Ethics_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Dates</name>
        <label>Assign Dates</label>
        <locationX>564</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>FinalDateAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Added</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Value_Checker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>854</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>RelatedEthicsApplication.recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedEthicsApplication_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalDateAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Added_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Value_Checker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the current record is same as the selected record</description>
        <name>Value_Checker</name>
        <label>Value Checker</label>
        <locationX>556</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Create_Related_Ethics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedEthicsApplication.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LinkEthicsRequests_0</targetReference>
            </connector>
            <label>The Same</label>
        </rules>
    </decisions>
    <interviewLabel>SOP Phenotyp: Link Ethics Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOP Phenotype: Link Ethics Applications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Related_Ethics</name>
        <label>Create Related Ethics</label>
        <locationX>565</locationX>
        <locationY>459</locationY>
        <inputAssignments>
            <field>I_RS_Date_Added__c</field>
            <value>
                <elementReference>FinalDateAdded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_End_Date__c</field>
            <value>
                <elementReference>FinalEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Parent_Ethics_Request__c</field>
            <value>
                <elementReference>RelatedEthicsApplication.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Related_Ethics_Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Related_Ethics_Applications__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>LinkEthicsRequests</name>
        <label>LinkEthicsRequests</label>
        <locationX>435</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Dates</targetReference>
        </connector>
        <fields>
            <name>RelatedEthicsApplication</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>I_RS_Parent_Ethics_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Related_Ethics_Applications__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Ethics Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Added</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Added</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LinkEthicsRequests_0</name>
        <label>LinkEthicsRequests</label>
        <locationX>853</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>RelatedEthicsApplication_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>I_RS_Parent_Ethics_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Related_Ethics_Applications__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Ethics Application</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, &amp;quot;Lucida Grande&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Related Ethics Application cannot be the same with the Parent Ethics Request. Please select another record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Added_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FinalDateAdded</elementReference>
            </defaultValue>
            <fieldText>Date Added</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>FinalEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>54</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>LinkEthicsRequests</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalDateAdded</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
