force-app/main/default/flows/StatusPersonaSendEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ProjectProposalStatusChange</name>
        <label>ProjectProposalStatusChange</label>
        <locationX>820</locationX>
        <locationY>525</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear @[{!Researchofficecontact}]  The status of the proposal has been changed to {!PPStatus}.  Please review and undertake tasks required to progress this to next status. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ProjectProposalStatusChange_0</name>
        <label>ProjectProposalStatusChange</label>
        <locationX>1193</locationX>
        <locationY>732</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear {!UserstoMention} The status of the proposal has been changed to {!PPStatus}.  Please review and undertake tasks required to progress this to next status.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Lead_Chief_Investigator</name>
        <label>Send Email to Lead Chief Investigator</label>
        <locationX>1041</locationX>
        <locationY>191</locationY>
        <actionName>Project_Proposal__c.CLI_StatusChangeProjectProposal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Team_Members</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Print_Me</name>
        <label>Print Me</label>
        <locationX>1451</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>UserstoMention</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>@[{!CurrentTeamMember.I_RS_Team_Member_User__c}] </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsthePersonaResearchOffice</name>
        <label>IsthePersonaResearchOffice</label>
        <locationX>810</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResearchOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Research Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Researchofficecontact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user_detail</targetReference>
            </connector>
            <label>ResearchOffice</label>
        </rules>
        <rules>
            <name>Researcher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead Chief Investigator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Lead_Chief_Investigator</targetReference>
            </connector>
            <label>Researcher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Researchervalueisnotnull</name>
        <label>Researchervalueisnotnull</label>
        <locationX>483</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>researchernotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Leadchiefinvestigator</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsthePersonaResearchOffice</targetReference>
            </connector>
            <label>researchernotnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Team_Member_not_null</name>
        <label>Team Member not null</label>
        <locationX>1192</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TeamMemberExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamMemberCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Collection</targetReference>
            </connector>
            <label>TeamMemberExist</label>
        </rules>
    </decisions>
    <interviewLabel>StatusPersonaSendEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StatusPersonaSendEmail</label>
    <loops>
        <name>Loop_Collection</name>
        <label>Loop Collection</label>
        <locationX>1199</locationX>
        <locationY>544</locationY>
        <assignNextValueToReference>CurrentTeamMember</assignNextValueToReference>
        <collectionReference>TeamMemberCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Print_Me</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProjectProposalStatusChange_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Team_Members</name>
        <label>Get Team Members</label>
        <locationX>1199</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Team_Member_not_null</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lead Chief Investigator</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approver</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Research Centre Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Team_Member_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>TeamMemberCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Team_Member_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_user_detail</name>
        <label>Get user detail</label>
        <locationX>819</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProjectProposalStatusChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Researchofficecontact</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ROContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Getleadchiefinvestigator</name>
        <label>Getleadchiefinvestigator</label>
        <locationX>275</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Researchervalueisnotnull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Proposal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Chief Investigator</stringValue>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputAssignments>
            <assignToReference>LeadCIContact</assignToReference>
            <field>I_RS_Project_Team_Member__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Leadchiefinvestigator</assignToReference>
            <field>I_RS_Team_Member_User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPersonaMatrix</name>
        <label>GetPersonaMatrix</label>
        <locationX>342</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getleadchiefinvestigator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPStatus</elementReference>
            </value>
        </filters>
        <object>Proposal_Status_Persona_Matrix__mdt</object>
        <outputAssignments>
            <assignToReference>Persona</assignToReference>
            <field>Persona__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProjectProposalRecord</name>
        <label>GetProjectProposalRecord</label>
        <locationX>161</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPersonaMatrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </filters>
        <object>Project_Proposal__c</object>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>I_RS_Record_Type_Developer_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Researchofficecontact</assignToReference>
            <field>I_RS_Research_Office_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PPStatus</assignToReference>
            <field>I_RS_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>PPLeadChiefinvestigator</name>
        <label>PPLeadChiefinvestigator</label>
        <locationX>622</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PPRecordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_LeadChiefInvestigator__c</field>
            <value>
                <elementReference>Leadchiefinvestigator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Lead_Chief_Investigator__c</field>
            <value>
                <elementReference>LeadCIContact</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Proposal__c</object>
    </recordUpdates>
    <startElementReference>GetProjectProposalRecord</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CurrentTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>Leadchiefinvestigator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCIContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Persona</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PPCLI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPRecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PPStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Researchofficecontact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ROContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserstoMention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
