force-app/main/default/flows/Submit_NOI_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_NOI_Approval</name>
        <label>Submit for NOI Approval</label>
        <locationX>1300</locationX>
        <locationY>497</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>NOI_SUBMIT_APPROVAL_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments_to_Approvers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>AdminProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <constants>
        <name>GRSProcessingStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GRS Processing</stringValue>
        </value>
    </constants>
    <constants>
        <name>GRSRole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GRS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Anticipated_submission_date_Provided</name>
        <label>Anticipated submission date Provided</label>
        <locationX>733</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Antisipated_Submission_date_Invalid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NOI_Record.I_RS_Anticipated_submission_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_declaration_provided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_assigned</name>
        <label>Approver assigned</label>
        <locationX>185</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Approver_assignment_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NOI_Record.I_RS_Supervisor_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GRS_is_the_submitter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Candidate_declaration_provided</name>
        <label>Candidate declaration provided</label>
        <locationX>979</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Provide_Candidate_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NOI_Record.I_RS_Certified_by_GR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comments_to_Approvers_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GRS_is_the_submitter</name>
        <label>GRS is the submitter</label>
        <locationX>349</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>User_ROle_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GRSRole</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdminProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thesis_Abstract_Provided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_GRS_Processing</name>
        <label>Status is GRS Processing</label>
        <locationX>185</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Status_GRS_Processing_error_scree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NOI_Record.I_RS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GRSProcessingStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thesis_Abstract_Provided</name>
        <label>Thesis Abstract Provided</label>
        <locationX>542</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Thesis_Abstract_Invalid_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NOI_Record.I_RS_Thesis_abstract__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_NOI_Record.I_RS_Thesis_abstract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anticipated_submission_date_Provided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Submit NOI for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit NOI for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NOI_Record</name>
        <label>Get NOI Record</label>
        <locationX>432</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_is_GRS_Processing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NOI_to_Submit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Antisipated_Submission_date_Invalid</name>
        <label>Antisipated Submission date - Invalid</label>
        <locationX>740</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fill_in_Anticipated_submission_date_text</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please fill in the Anticipated submission date.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Approver_assignment_error_screen</name>
        <label>Approver assignment error screen</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Approver_error_display_text</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please ensure Approver is assigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Comments_to_Approvers_Screen</name>
        <label>Comments to Approvers</label>
        <locationX>1208</locationX>
        <locationY>363</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_for_NOI_Approval</targetReference>
        </connector>
        <fields>
            <name>Comments_to_Approvers</name>
            <fieldText>Comments to Approvers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Candidate_Agreement</name>
        <label>Provide Candidate Agreement</label>
        <locationX>989</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>provide_Candidate_declaration_agreement</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please agree to candidate declaration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_GRS_Processing_error_scree</name>
        <label>Status GRS Processing error scree</label>
        <locationX>57</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Status_error_display_text</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please ensure the status is in GRS Processing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thesis_Abstract_Invalid_for_Approval</name>
        <label>Thesis Abstract - Invalid for Approval</label>
        <locationX>552</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thesis_abstract_invalid_display_text</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please fill in the Thesis Abstract.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_ROle_error</name>
        <label>User ROle error</label>
        <locationX>361</locationX>
        <locationY>548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RoleErrorDisplayText</name>
            <fieldText>&lt;p&gt;Only GRS can submit for approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>340</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Get_NOI_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
