force-app/main/default/flows/Submit_ATS_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RefreshScreen</name>
        <label>RefreshScreen</label>
        <locationX>837</locationX>
        <locationY>488</locationY>
        <actionName>c:QuickRefreshInFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success_Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1028</locationX>
        <locationY>495</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>RefreshScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ATS_Submit_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments_to_Approvers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>AdminProfileName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </constants>
    <constants>
        <name>draftStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <constants>
        <name>GRSRole</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GRS</stringValue>
        </value>
    </constants>
    <constants>
        <name>researcherUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Candidate_Approval_Provided</name>
        <label>Candidate Approval Provided</label>
        <locationX>1232</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Candidate_Approval_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ATS_details.I_RS_Candidate_I_agree__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comments_for_Approvers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_status_is_in_Draft</name>
        <label>Check if status is in Draft</label>
        <locationX>651</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>Draft_status_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ATS_details.I_RS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>draftStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_user_student_or_GRS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approver_Assigned</name>
        <label>Is Approver Assigned</label>
        <locationX>1062</locationX>
        <locationY>264</locationY>
        <defaultConnector>
            <targetReference>Approver_assignment_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ATS_details.I_RS_Supervisor_Approver_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ATS_details.I_RS_SDGR_Approver_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Approval_Provided</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_user_student_or_GRS</name>
        <label>Is the user student or GRS</label>
        <locationX>885</locationX>
        <locationY>267</locationY>
        <defaultConnector>
            <targetReference>User_Permission_error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>(2 AND 1) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_ATS_details.I_RS_Candidate_User__r.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.I_RS_Is_Researcher_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>researcherUser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GRSRole</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdminProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Approver_Assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Submit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit ATS for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_ATS_details</name>
        <label>Get ATS details</label>
        <locationX>461</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_status_is_in_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Authority_to_Submit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Approver_assignment_error_screen</name>
        <label>Approver assignment error screen</label>
        <locationX>1067</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Approver_assignment_error_Message</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please ensure Approvers are assigned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Candidate_Approval_Error_Screen</name>
        <label>Candidate Approval Error Screen</label>
        <locationX>1229</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Candidate_Approval_Error_message</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please agree to candidate declaration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Comments_for_Approvers</name>
        <label>Comments for Approvers</label>
        <locationX>1241</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <fields>
            <name>Comments_to_Approvers</name>
            <fieldText>Comments to Approvers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Draft_status_error</name>
        <label>Draft status error</label>
        <locationX>651</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Draft_status_error_message</name>
            <fieldText>&lt;p&gt;Before you can submit for approval, please ensure the status is in Draft.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Screen</name>
        <label>Fault_Message_Screen</label>
        <locationX>1033</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Message_Screen</name>
        <label>Success_Message_Screen</label>
        <locationX>702</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Success! You can close this window now.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Permission_error_screen</name>
        <label>User Permission error screen</label>
        <locationX>885</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>User_permission_error_message</name>
            <fieldText>&lt;p&gt;You do not have permission to submit for approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Get_ATS_details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
