force-app/main/default/flows/Sync_Staging_Opportunities_to_Funder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_External_Org_Record_Type_Id</name>
        <label>Get External Org Record Type Id</label>
        <locationX>359</locationX>
        <locationY>770</locationY>
        <actionName>FlowGetRecordTypeId</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_new_Funder_Org</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>I_RS_External_Organisation</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Funder_Organisation_Record.RecordTypeId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Current_Page</name>
        <label>Refresh Current Page</label>
        <locationX>729</locationX>
        <locationY>573</locationY>
        <actionName>c:QuickRefreshInFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Sync_Complete_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Update_Staging_Funding_Opps</name>
        <label>Update Staging Funding Opps</label>
        <locationX>513</locationX>
        <locationY>514</locationY>
        <actionName>StagingFundingOppDupeDetectorController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refresh_Current_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>funderIdList</name>
            <value>
                <elementReference>Staging_Funding_Opportunity.I_RS_Primary_Funder_Id__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Org_Field_Final_Values</name>
        <label>Assign New Org Field Final Values</label>
        <locationX>186</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.I_RS_ABN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ABN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org_Field_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Organisation.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.I_RS_Funder_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Org_Field_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_External_Org_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepopulate_New_Org_Fields</name>
        <label>Prepopulate New Org Fields</label>
        <locationX>385</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.I_RS_Funder_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Staging_Funding_Opportunity.I_RS_Primary_Funder_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Staging_Funding_Opportunity.I_RS_Primary_Funder_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Insert_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Funder_Id_on_Existing_Org</name>
        <label>Set Funder Id on Existing Org</label>
        <locationX>723</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.I_RS_Funder_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Staging_Funding_Opportunity.I_RS_Primary_Funder_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Funder_Organisation_Record.I_RS_Funder_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Staging_Funding_Opportunity.I_RS_Primary_Funder_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Update_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Are we creating a brand new Organisation record for the Funder, or modifying an existing one?</description>
        <name>New_or_Existing_Organisation_Record</name>
        <label>New or Existing Organisation Record</label>
        <locationX>365</locationX>
        <locationY>146</locationY>
        <defaultConnector>
            <targetReference>Prepopulate_New_Org_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Funder_Record_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Org</targetReference>
            </connector>
            <label>Existing_Record</label>
        </rules>
    </decisions>
    <description>Used for quick, admin-driven auditing and handling Staging Funding Opportunities with potential duplicate Funders in the system. 

Accepts a Funder Id and creates or updates an Organisation with that Funder Id, then all Staging Funding Opportunities with the same Funder Id are automatically processed.</description>
    <dynamicChoiceSets>
        <name>Picklist_Choices_Org_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_RS_Type_of_Organisation__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FunderRecordURL</name>
        <dataType>String</dataType>
        <expression>{!$Setup.URL_Variable__c.I_RS_Internal_Base_URL__c} + &quot;/&quot; + {!Funder_Organisation_Record.Id}</expression>
    </formulas>
    <interviewLabel>Sync Staging Opportunities to Funder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Staging Opportunities to Funder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_new_Funder_Org</name>
        <label>Insert new Funder Org</label>
        <locationX>526</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Update_Staging_Funding_Opps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Funder_Organisation_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query existing Funder Org</description>
        <name>Get_Existing_Org</name>
        <label>Get Existing Org</label>
        <locationX>560</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Funder_Id_on_Existing_Org</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Funder_Record_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Funder_Organisation_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>I_RS_Funder_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Staging Funding Opportunity that initiated this process, as we will use its data in several places.</description>
        <name>Get_Staging_Funding_Opportunity</name>
        <label>Get Staging Funding Opportunity</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Existing_Organisation_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Staging_Opportunity_Record_Id</elementReference>
            </value>
        </filters>
        <object>Funding_Opportunity_Staging__c</object>
        <outputReference>Staging_Funding_Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Primary_Funder_Name__c</queriedFields>
        <queriedFields>I_RS_Primary_Funder_Id__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Funder_Org</name>
        <label>Update Funder Org</label>
        <locationX>1196</locationX>
        <locationY>135</locationY>
        <connector>
            <targetReference>Update_Staging_Funding_Opps</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Funder_Organisation_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Insert_Screen</name>
        <label>Confirm_Insert_Screen</label>
        <locationX>150</locationX>
        <locationY>551</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Org_Field_Final_Values</targetReference>
        </connector>
        <fields>
            <name>Org_Label_Funder_Id</name>
            <fieldText>&lt;p&gt;Funder Id: {!Funder_Organisation_Record.I_RS_Funder_Id__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Org_Field_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Funder_Organisation_Record.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ABN</name>
            <dataType>String</dataType>
            <fieldText>ABN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;ABN can be up to 11 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!ABN}) &lt;= 11</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Website</name>
            <dataType>String</dataType>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Website can be up to 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Website}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Parent_Organisation</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Organisation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Update_Screen</name>
        <label>Confirm Update Screen</label>
        <locationX>901</locationX>
        <locationY>72</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Funder_Org</targetReference>
        </connector>
        <fields>
            <name>Confirm_Update_Text</name>
            <fieldText>&lt;p&gt;Please confirm the following update:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Funder_Organisation_Record.Name}&lt;/p&gt;&lt;p&gt;Funder Id: {!Funder_Organisation_Record.I_RS_Funder_Id__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1204</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sync_Complete_Screen</name>
        <label>Sync Complete Screen</label>
        <locationX>990</locationX>
        <locationY>541</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sync_Complete_Text</name>
            <fieldText>&lt;p&gt;Processing is complete. Please check the appropriate Staging record list for any failed records.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;View newly saved Funder &lt;a href=&quot;{!FunderRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>Get_Staging_Funding_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The full Organisation record of the Funder. Can be new or pre-existing</description>
        <name>Funder_Organisation_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The Salesforce Id of the Funder (Organisation) being synced to</description>
        <name>Funder_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Staging_Funding_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Opportunity_Staging__c</objectType>
    </variables>
    <variables>
        <name>Staging_Opportunity_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
