force-app/main/default/flows/TaskClone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>4th March 2020 - Added the value to Subject in &apos;New Task&apos; step
3rd June: Added the WBS</description>
    <formulas>
        <name>DetailLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;{!Taskrecordid}</expression>
    </formulas>
    <interviewLabel>TaskClone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TaskClone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>592</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>Taskrecordid</assignRecordIdToReference>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskRecord.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskRecord.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Invoice_when_milestone_met__c</field>
            <value>
                <elementReference>TaskRecord.I_RS_Invoice_when_milestone_met__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Milestone_Amount__c</field>
            <value>
                <elementReference>TaskRecord.I_RS_Milestone_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Milestone_Type_Other_Description__c</field>
            <value>
                <elementReference>TaskRecord.I_RS_Milestone_Type_Other_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Milestone_Type__c</field>
            <value>
                <elementReference>TaskRecord.I_RS_Milestone_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_Pre_Conditions_and_Instructions__c</field>
            <value>
                <elementReference>TaskRecord.I_RS_Pre_Conditions_and_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_RS_WBS__c</field>
            <value>
                <elementReference>TaskRecord.I_RS_WBS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>TaskRecord.IsRecurrence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TaskRecord.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <elementReference>TaskRecord.RecurrenceDayOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfWeekMask</field>
            <value>
                <elementReference>TaskRecord.RecurrenceDayOfWeekMask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>TaskRecord.RecurrenceEndDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInstance</field>
            <value>
                <elementReference>TaskRecord.RecurrenceInstance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <elementReference>TaskRecord.RecurrenceInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceMonthOfYear</field>
            <value>
                <elementReference>TaskRecord.RecurrenceMonthOfYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceRegeneratedType</field>
            <value>
                <elementReference>TaskRecord.RecurrenceRegeneratedType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>TaskRecord.RecurrenceStartDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceTimeZoneSidKey</field>
            <value>
                <elementReference>TaskRecord.RecurrenceTimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>TaskRecord.RecurrenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskRecord.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_task_details</name>
        <label>Get task details</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
        <queriedFields>I_RS_Pre_Conditions_and_Instructions__c</queriedFields>
        <queriedFields>I_RS_Milestone_Type__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>I_RS_Invoice_when_milestone_met__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>IsRecurrence</queriedFields>
        <queriedFields>RecurrenceActivityId</queriedFields>
        <queriedFields>RecurrenceDayOfMonth</queriedFields>
        <queriedFields>RecurrenceEndDateOnly</queriedFields>
        <queriedFields>RecurrenceStartDateOnly</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecurrenceType</queriedFields>
        <queriedFields>RecurrenceInterval</queriedFields>
        <queriedFields>I_RS_Milestone_Type_Other_Description__c</queriedFields>
        <queriedFields>I_RS_Milestone_Amount__c</queriedFields>
        <queriedFields>RecurrenceMonthOfYear</queriedFields>
        <queriedFields>RecurrenceDayOfWeekMask</queriedFields>
        <queriedFields>RecurrenceInstance</queriedFields>
        <queriedFields>RecurrenceRegeneratedType</queriedFields>
        <queriedFields>RecurrenceTimeZoneSidKey</queriedFields>
        <queriedFields>I_RS_WBS__c</queriedFields>
    </recordLookups>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>592</locationX>
        <locationY>264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndPage</name>
            <extensionName>c:scriptDisplayFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <stringValue>Task/Milestone Copied!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detail</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;{!DetailLink}&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to view the copied record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_task_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskrecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
