force-app/main/default/flows/Training_request_Email_alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TrainerEmailAlert</name>
        <label>TrainerEmailAlert</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TrainingRequestEmailAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ReceiptEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>SenderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Training Request Alert</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckTrainerID</name>
        <label>CheckTrainerID</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trainer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTrainingAssociateRecord.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrainerEmailAlert</targetReference>
            </connector>
            <label>Trainer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ReceiptEmail</name>
        <dataType>String</dataType>
        <expression>{!$Setup.TrainingRequestAlert__c.TrainingrequestAlerEmail__c}</expression>
    </formulas>
    <interviewLabel>Training request Email alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training request Email alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTrainingAssociateRecord</name>
        <label>GetTrainingAssociateRecord</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTrainerID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>L_TC_Training__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.L_TC_Training__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Associate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTrainingAssociateRecord</targetReference>
        </connector>
        <object>Requests__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TrainingRequestEmailAlert</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 114, 196); font-family: inherit;&quot;&gt;Dear Trainers,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 114, 196); font-family: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 114, 196); font-family: inherit;&quot;&gt;Training Name : {!GetTrainingAssociateRecord.L_TC_Training__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 114, 196); font-family: inherit;&quot;&gt;Training Record Link:  &lt;/span&gt;&lt;a href=&quot;https://latrobe--uat.lightning.force.com/lightning/r/Training__c/{!$Record.L_TC_Training__r.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://latrobe--uat.lightning.force.com/lightning/r/Training__c/{!$Record.L_TC_Training__r.Id}/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 114, 196); font-family: inherit;&quot;&gt;A training request has been submitted by {!$Record.L_TC_Attendee_Name__c} on {!$Record.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 114, 196); font-family: inherit;&quot;&gt;Please review the request in TRACR and approve.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecipientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetTrainingAssociateRecord.L_TC_Contact__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>SenderEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LARTFTrainingandInductions@latrobe.edu.au</stringValue>
        </value>
    </variables>
</Flow>
