force-app/main/default/flows/Update_PTM_with_Research_Centre_Head_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_PTM_Collection</name>
        <label>Add to PTM Collection</label>
        <locationX>1274</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>NewPTMRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPTMRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Research_Centre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOldPTMRecToCollection</name>
        <label>AddOldPTMRecToCollection</label>
        <locationX>976</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>OldPTMRecsToDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldPTMRec2Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Old_PTM_Recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_PTM_Field_Values</name>
        <label>Assign New PTM Field Values</label>
        <locationX>1237</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Data_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Date_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Research Centre Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Project_Proposal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResearchCentreRec.I_RS_Project_Proposal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Project_Team_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewResearchCentreHead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPTMRec.I_RS_Research_Centre_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResearchCentreId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_PTM_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Proposal_Count</name>
        <label>Assign Project Proposal Count</label>
        <locationX>358</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>ProjectProposalCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RCProjectProposalRecs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Project_Proposal_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_Every_Old_PTM_Rec</name>
        <label>Deactivate Every Old PTM Rec</label>
        <locationX>876</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>OldPTMRec2Update.I_RS_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldPTMRec2Update.I_RS_Date_Removed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldPTMRec2Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldPTMRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOldPTMRecToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_New_RCHead</name>
        <label>IS New RCHead Empty</label>
        <locationX>839</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>Check_Old_RCHead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>New_RC_Head_In_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewResearchCentreHead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Research_Centre</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Old_RCHead</name>
        <label>Is Old RCHead Empty</label>
        <locationX>468</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Old_RCHead_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldResearchCentreHead</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_RC_Head_Active_Records</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Proposal_Count</name>
        <label>Check Project Proposal Count</label>
        <locationX>521</locationX>
        <locationY>58</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Proposal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectProposalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_New_RCHead</targetReference>
            </connector>
            <label>Project Proposal Exists</label>
        </rules>
    </decisions>
    <description>This flow will update the PTM records with Changes in Research Center Head Change</description>
    <interviewLabel>Update PTM with Research Centre Head Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PTM with Research Centre Head Change</label>
    <loops>
        <name>Loop_Old_PTM_Recs</name>
        <label>Loop Old PTM Recs</label>
        <locationX>635</locationX>
        <locationY>506</locationY>
        <assignNextValueToReference>OldPTMRec</assignNextValueToReference>
        <collectionReference>OldRCHeadPTMRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Every_Old_PTM_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deactivate_Old_RCHead_PTM_Recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Research_Centre</name>
        <label>Loop Research Centre</label>
        <locationX>1063</locationX>
        <locationY>59</locationY>
        <assignNextValueToReference>ResearchCentreRec</assignNextValueToReference>
        <collectionReference>RCProjectProposalRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_PTM_Field_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_PTM_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_PTM_records</name>
        <label>Create New PTM records</label>
        <locationX>1064</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Check_Old_RCHead</targetReference>
        </connector>
        <inputReference>NewPTMRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Old_RC_Head_Active_Records</name>
        <label>Get Old RC Head Active Records</label>
        <locationX>468</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Old_PTM_Recs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>I_RS_Project_Team_Member__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>NewResearchCentreHead</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Research_Centre_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResearchCentreId</elementReference>
            </value>
        </filters>
        <filters>
            <field>I_RS_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Research Centre Member</stringValue>
            </value>
        </filters>
        <object>Project_Team_Member__c</object>
        <outputReference>OldRCHeadPTMRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Active__c</queriedFields>
        <queriedFields>I_RS_Date_Removed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_RC_Head_ContactId</name>
        <label>Get Old RC Head ContactId</label>
        <locationX>28</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Project_Proposal_for_RC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldResearchCentreHead</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>OldResearchCentreHead</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Proposal_for_RC</name>
        <label>Get Project Proposal for RC</label>
        <locationX>207</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Project_Proposal_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResearchCentreId</elementReference>
            </value>
        </filters>
        <object>Research_Centre__c</object>
        <outputReference>RCProjectProposalRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>I_RS_Project_Proposal__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Old_RCHead_PTM_Recs</name>
        <label>Deactivate Old RCHead PTM Recs</label>
        <locationX>631</locationX>
        <locationY>676</locationY>
        <inputReference>OldPTMRecsToDeactivate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Old_RC_Head_ContactId</startElementReference>
    <status>Active</status>
    <variables>
        <name>NewPTMRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>NewPTMRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>NewResearchCentreHead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldPTMRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>OldPTMRec2Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>OldPTMRecsToDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>OldRCHeadPTMRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Team_Member__c</objectType>
    </variables>
    <variables>
        <name>OldResearchCentreHead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of Project Prposal associated to the Research Centre</description>
        <name>ProjectProposalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RCProjectProposalRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Centre__c</objectType>
    </variables>
    <variables>
        <name>ResearchCentreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResearchCentreRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Research_Centre__c</objectType>
    </variables>
</Flow>
