force-app/main/default/flows/UpdateWBSRecordType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignDefaultRecTypeId</name>
        <label>AssignDefaultRecTypeId</label>
        <locationX>496</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>RecTypeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWBSRecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignReadOnlyRecTypeId</name>
        <label>AssignReadOnlyRecTypeId</label>
        <locationX>408</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>RecTypeRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadOnlyRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopWBSRecTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWBSRecTypeAsDefault</name>
        <label>AssignWBSRecTypeAsDefault</label>
        <locationX>567</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>RecTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWBSRecType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWBSRecTypeAsReadOnly</name>
        <label>AssignWBSRecTypeAsReadOnly</label>
        <locationX>607</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>RecTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadOnlyRecTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWBSRecType</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DraftStatusConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <constants>
        <name>RequestToFinanceStatusConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Request to Finance</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckReadOnlyRecType</name>
        <label>CheckReadOnlyRecType</label>
        <locationX>449</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>AssignDefaultRecTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isReadOnlyRecType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecTypeRecord.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read_Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReadOnlyRecTypeId</targetReference>
            </connector>
            <label>isReadOnlyRecType</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWBSStatusIsDefault</name>
        <label>CheckWBSStatusIsDefault</label>
        <locationX>296</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>AssignWBSRecTypeAsReadOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDefautRecordTypeStatus</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WBSStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DraftStatusConstant</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WBSStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RequestToFinanceStatusConstant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWBSRecTypeAsDefault</targetReference>
            </connector>
            <label>isDefautRecordTypeStatus</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateWBSRecordType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateWBSRecordType</label>
    <loops>
        <name>LoopWBSRecTypes</name>
        <label>LoopWBSRecTypes</label>
        <locationX>234</locationX>
        <locationY>366</locationY>
        <assignNextValueToReference>RecTypeRecord</assignNextValueToReference>
        <collectionReference>WBSRecTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckReadOnlyRecType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckWBSStatusIsDefault</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetWBSRecTypes</name>
        <label>GetWBSRecTypes</label>
        <locationX>109</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopWBSRecTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WBS__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>WBSRecTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWBSRecType</name>
        <label>UpdateWBSRecType</label>
        <locationX>922</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WBS__c</object>
    </recordUpdates>
    <startElementReference>GetWBSRecTypes</startElementReference>
    <status>Active</status>
    <variables>
        <name>DefaultRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReadOnlyRecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>WBSRecTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>WBSStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
