force-app/main/default/flows/WBS_Person_Responsible_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Contact_ID_is_Null</name>
        <label>Check if Contact ID is Null</label>
        <locationX>149</locationX>
        <locationY>436</locationY>
        <defaultConnector>
            <targetReference>Update_WBSLookup_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_ID_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WBSLookup</targetReference>
            </connector>
            <label>Contact ID is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Type_Checker</name>
        <label>Process Type Checker</label>
        <locationX>315</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Responsible_Staff_ID_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Staff ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id</targetReference>
            </connector>
            <label>Person Responsible Staff ID</label>
        </rules>
        <rules>
            <name>Person_Responsible_Lookup_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lookup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Id_0</targetReference>
            </connector>
            <label>Person Responsible Lookup</label>
        </rules>
    </decisions>
    <interviewLabel>WBS: Person Responsible Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WBS: Person Responsible Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Id</name>
        <label>Get Contact Id</label>
        <locationX>158</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Contact_ID_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>I_RS_Staff_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Responsible_Staff_ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Id_0</name>
        <label>Get Contact Id</label>
        <locationX>766</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Staff_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Person_Responsible_Lookup</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Person_Responsible_Staff_ID</assignToReference>
            <field>I_RS_Staff_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Staff_ID</name>
        <label>Update Staff ID</label>
        <locationX>766</locationX>
        <locationY>497</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Person_Responsible_Staff_ID__c</field>
            <value>
                <elementReference>Person_Responsible_Staff_ID</elementReference>
            </value>
        </inputAssignments>
        <object>WBS__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WBSLookup</name>
        <label>Update WBS Lookup</label>
        <locationX>315</locationX>
        <locationY>622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Person_Responsible__c</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <object>WBS__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WBSLookup_0</name>
        <label>Update WBS Lookup</label>
        <locationX>14</locationX>
        <locationY>624</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>I_RS_Person_Responsible__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>WBS__c</object>
    </recordUpdates>
    <startElementReference>Process_Type_Checker</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Person_Responsible_Lookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Person_Responsible_Staff_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
